{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>数字出版_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script type="text/javascript" src="{$CssDir/}js/server.js"></script>
<script src="/JS/Controls/B_User.js"></script>
<style>
.shop_top { position:relative; z-index:111;}
.shop_top .navbar-default { background:#FFF;}
.shop_top .navbar-nav > li:nth-last-child(2) > a,.shop_top .navbar-nav > li:nth-last-child(1) > a { font-size:1em;}
</style>
</head> 
<body>
<div class="shop_top" id="shop_top">
<nav class="navbar navbar-default">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand home_logo" href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}"/></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(1)/}">门户</a></li>
<li><a href="{ZL:GetNodeLinkUrl(2)/}">商城</a></li>
<li><a href="/office">办公</a></li>
<li><a href="/Index">社区</a></li>
<li class="padding15">
<form role="search" method="get" action="/Search/SearchList" target="_blank" style="width:15em; margin-top:0.5em;">
<div class="input-group">
<input type="text" class="form-control" name="keyword" placeholder="全站检索">
<span class="input-group-btn">
<button type="submit" class="btn btn-default">搜索</button>
</span>
</div>
</form>
</li>
<li>
<a class="Channel" href="javascript:StranBody()" name="StranLink" id="StranLink" title="點擊以繁體中文方式瀏覽">繁體</a>
<script language="javascript" src="/js/gb_big5.js"></script>
</li>
<li class="dropdown nav_user"><a href="javascript:;">登录</a>
<ul class="dropdown-menu" role="menu">
<li><a href="/User/Login?ReturnUrl={ZL:GetNodeLinkUrl({SField sid="节点栏目信息数据源" FD="NodeID" page="0"/})/}">用户登录</a></li>
<li><a href="/User/Register" target="_blank">用户注册</a></li>
<li><a href="/User/Info/UserInfo" target="_blank">注册信息</a></li>
<li><a href="javascript:;" onClick="LogoutFun();">安全退出</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
<div class="bs-header" >
<div class="container">
<h1>数字出版</h1>
<p>脚比路更长+服务到现场+智慧的思想....</p>
</div>
</div>

<!--中部滚动四块到此结束 -->
<div class="container margin-bot">
<div class="mySites" style="margin-top:0;">
<ul class="breadcrumb">
<li><a href="/">首页</a></li>
<li class="active">数字出版</li>
</ul>
</div>
<div class="list-group margin_top20">
<div class="n_lis">
{ZL.Label id="输出数字出版列表_带时间属性_响应式分页v4" TitleNum="30" ShowNum="10" /}
</div>
</div>
</div>
{ZL.Label id="响应式全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('shop_top'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>

$(".shop_top .navbar-nav>li.dropdown").mouseover(function(){
	$(this).addClass("open");
}).mouseout(function(){
	$(this).removeClass("open");
});
//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".nav_user>a").html(data.UserName);
		$(".nav_user .dropdown-menu li:nth-child(1) a").html("会员中心");
		$(".nav_user .dropdown-menu li:nth-child(2)").remove();
        $("#iframe_comm").show();
	}
});
function LogoutFun(){
	buser.Logout(function(){location=location;});
}
</script>