{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot4()/}
<link href="{$CssDir/}qiye.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="home_nav">
<div class="container relative">
<a class="navbar-brand mr-2" href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" id="logos" onerror="javascript:this.src='{$LogoUrl/}'" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
<ul class="navbar-nav">
<li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
<li class="nav-item"><a class="nav-link" href="{ZL:GetNodeLinkUrl(210)/}">行业资讯</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">关于我们</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="{ZL:GetInfoUrl(111)/}">集团介绍</a>
<a class="dropdown-item" href="{ZL:GetInfoUrl(110)/}">董事长致辞</a>
<a class="dropdown-item" href="{ZL:GetNodeLinkUrl(218)/}">大事件</a>
</div>
</li>
<li class="nav-item"><a class="nav-link" href="{ZL:GetNodeLinkUrl(219)/}">咨询业务</a></li>
<li class="nav-item"><a class="nav-link" href="{ZL:GetNodeLinkUrl(220)/}">精英团队</a></li>
<li class="nav-item"><a class="nav-link" href="{ZL:GetNodeLinkUrl(221)/}">最新动态</a></li>
<li class="nav-item" id="nav_g"><a class="nav-link" href="{ZL:GetInfoUrl(109)/}">联系我们</a></li>
</ul>
</div>
</div>
</nav>
<!--导航结束-->

<div class="cont_banner cont_banner{SField sid="文章模型数据源标签" FD="NodeID" page="0"/} cont_bannerg{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></div>


<div class="container">
<nav aria-label="breadcrumb" role="navigation" style="font-size:0.9rem;">
<ol class="breadcrumb">
<li><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V4" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" ShowNum="30" /}
<li class="breadcrumb-item active">正文</li>
</ol>
</nav>
<div class="myContent">
<div class="myContent_t">
<h1>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h1>
<div class="myAbbr">
<span><i class="fa fa-user"></i> {SField sid="文章模型数据源标签" FD="source" page="0"/}</span>
<span><i class="fa fa-clock-o"></i> 发布时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}</span>
<span><i class="fa fa-eye"></i> 浏览次数：<script src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></script></span>
</div>
</div>

<div class="myContent">{SField sid="文章模型数据源标签" FD="content" page="{SField sid="文章模型数据源标签" FD="K_pages" page="0"/}"/}</div>
<div id="T_page">{ZL.Page id="默认内容分页标签" num="{SField sid="文章模型数据源标签" FD="pages" page="0"/}"/}</div>

<div class="bdsharebuttonbox">
<a class="bds_more" href="#" data-cmd="more"></a>
<a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
<a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
<a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
<a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
<a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
</div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

</div>
</div>




<div class="home_contact">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<h3>联系</h3>
<p>Contact</p>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<h3>关注</h3>
<p><a href="#"><i class="fa fa-weibo"></i></a><a href="#"><i class="fa fa-qq"></i></a><a href="#"><i class="fa fa-weixin"></i></a></p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<h3>中国软件产业集团</h3>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>
南昌市江大南路55号华成家园A7F<br/>
电话：0791-86161900<br/>
传真：0791-86161900-8009
</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>
邮编：330099<br/>
手机：131-77777-7714<br/>
邮箱：web@z01.com
</p>
</div>
</div>

</div>
</div>
</div>
</div>
<!--home_contact end-->

<div class="home_copy">
<div class="container">
<p>{$Copyright/}</p>
</div>
</div></body>
</html>