@{
    Layout = null;
    string ret = ViewBag.ret;
    string url = ViewBag.url;
}
<html>
<head runat="server">
    <title>互动提交</title>
    <script>
        function ActionSec(obj, url) {
            if (obj == "1") { alert("提交成功!"); }
            else { alert("提交失败!"); }
            window.location.href = url;
        }
        ActionSec("@ret", "@url");
    </script>
</head>
<body>
</body>
</html>
