@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    
}
@section head{
    <title>草稿箱</title>
}
@section content{
    <div id="pageflag" data-nav="index" data-ban="baike"></div>
	<div class="container">
	<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
		<li class="breadcrumb-item active">词条草稿箱 </li>
		<div class="clearfix"></div>
	</ol>
	</nav>
	</div>
    <div class="container">
       @Html.Partial("BaikeDraft_List",Model)
    </div>
}
@section script{

}
