@charset "UTF-8";
/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
.inav .navbar-brand img { width: 17.2rem; height: 6rem; }

.inav input { width: 8rem !important; height: 2.4rem; }

.inav button { border: none; }

.inav .nav-item .nav-link { color: #333333; }

.inav .nav-item .nav-link:hover { color: #FF6533; }

.inav .nav-item .router-link-exact-active { color: #f00; }

.inav .nav-link:focus { color: #333 !important; }

.home { background: #F6F6F6; }

.ibanner { height: 30.6rem; background: url(./assets/images/ibanner.jpg) top center no-repeat; background-size: cover; }

.ibanner_box { margin-top: 4.8rem; background: #EC6941; border: 1.02rem solid rgba(148, 105, 105, 0.47); text-align: center; color: #fff; font-size: 1.4rem; }

.ibanner_box ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.ibanner_box li { padding: 0.8rem 2rem; line-height: 2.3rem; }

.ibanner_box li span { color: #E8EA15; }

.ibanner_box li:nth-child(2) { background: #c44518; }

.ibanner_box li:nth-child(3) { border-bottom: 1px solid #fff; }

.ibanner_box li i:nth-child(2), .ibanner_box li i:nth-child(3) { margin-left: 1.2rem; }

.inavs ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.inavs li a { padding-top: 0.1rem; padding-left: 0.1rem; padding-bottom: 0.1rem; padding-right: 0.1rem; color: #000; }

.ielit { margin-top: 2.2rem; text-align: center; }

.ielit h1 { color: #f00; font-size: 1.5rem; font-weight: 900; }

.ielit h1 .text-muted { display: block; line-height: 3rem; font-size: .98rem; color: #000 !important; }

.ielit .card-group:nth-child(1) { text-align: right; }

.ielit .card-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; line-height: 1.82rem; color: #333; font-size: 0.82rem; }

.ielit .card-group strong { display: block; width: 100%; line-height: 3.4rem; font-size: 1.2rem; }

.ielit .card-group .card { min-height: 19rem; }

.ielit .card-group .card:nth-child(1) { padding-top: 4rem; text-align: right; }

.ielit .card-group .card:nth-child(2) { background: url(./assets/images/ielit_bg1.png) center no-repeat; background-size: cover; }

.ielit .card-group .card:nth-child(5) { background: url(./assets/images/ielit_bg2.png) center no-repeat; background-size: cover; }

.ielit .card-group .card:nth-child(7) { background: url(./assets/images/ielit_bg3.png) center no-repeat; background-size: cover; }

.ielit .card-group i { font-size: 3rem; color: #FCB69F; }

.ielit_clear { clear: both; width: 100%; }

.iliji { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 2rem; height: 10rem; color: #fff; background: url(./assets/images/iliji_bg.png) #FF7D52 no-repeat 6rem 3rem; border-radius: 6rem; text-align: center; font-size: 1.52rem; }

.iliji button { margin: 0.4rem 0.6rem; font-size: 2rem; }

.iyoushi { position: relative; margin-top: 2rem; padding-top: 9.4rem; padding-bottom: 7.0rem; background: url(./assets/images/iyoushi_bg.png) no-repeat center; background-size: cover; font-size: 1.3rem; }

.iyoushi ul { padding-left: 0; margin-bottom: 0; list-style: none; color: #fff; }

.iyoushi li i { width: 6rem; height: 6rem; line-height: 6rem; font-size: 3.64rem; text-align: center; background: #EA68A2; border-radius: 5rem; }

.iyoushi p { display: inline-block; }

.iyoushi li { margin-bottom: 4rem; }

.iyoushi li:nth-child(1) p { padding-left: 1rem; }

.iyoushi li:nth-child(3) p { padding-left: 1rem; }

.iyoushi li:nth-child(3) i { background: #13B5B1; }

.iyoushi li:nth-child(2) { text-align: right; }

.iyoushi li:nth-child(2) p { padding-right: 1rem; }

.iyoushi li:nth-child(2) i { background: #80C269; }

.iyoushi li:nth-child(4) { text-align: right; }

.iyoushi li:nth-child(4) p { padding-right: 1rem; }

.iyoushi li:nth-child(4) i { background: #F8B551; }

.iyoushi_cneter { position: absolute; margin-left: 50%; left: -10rem; top: 8rem; width: 20rem; height: 20rem; }

.iask { padding-top: 2rem; font-size: 0.92rem; }

.iask h2 { color: #EA4C5E; text-align: center; font-size: 1.98rem; }

.iask small { display: block; line-height: 3rem; text-align: center; font-size: 1.02rem; }

.iask .col-md-6:nth-child(1) .iask_boxCon2 { margin-bottom: 5rem; height: 8rem; background-image: url(./assets/images/iask_bg2.png); }

.iask_box { margin-top: 0.4rem; padding: 1rem; -webkit-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc; border-radius: 8px; background: #fff; }

.iask_boxCon { height: 8rem; }

.iask_boxCon p { display: inline-block; float: left; width: 6rem; text-align: center; }

.iask_boxCon span { display: inline-block; padding-left: 2rem; width: 19rem; height: 3.28rem; line-height: 3.28rem; color: #fff; background: url(./assets/images/iask_bg1.png) no-repeat center; }

.iask_boxCon2 { padding-top: 1rem; padding-left: 1rem; height: 12.9rem; background: url(./assets/images/iask_bg3.png) no-repeat left; }

.iask_boxCon2 p { display: inline-block; float: left; width: 20.4rem; height: 8rem; }

.iask_boxCon2 span { display: inline-block; margin-left: 3rem; width: 6rem; text-align: center; }

.iask_boxCon2 span img { width: 100%; }

.iteam { /*margin-top: 2rem;*/ padding-top: 2rem; padding-bottom: 4rem; background: url(./assets/images/iteam_bg.png) center no-repeat; background-size: cover; }

.iteam h2 { text-align: center; color: #fff; font-size: 1.5rem; }

.iteam h2 .text-muted { display: block; line-height: 3rem; font-size: .95rem; color: #fff !important; }

.iteam .row:nth-child(2) { margin-bottom: 3rem; }

.iteam .row:nth-child(2) .col-md-5 { padding-right: 0; overflow: hidden; }

.iteam .row:nth-child(2) .col-md-5:hover::before { -webkit-transition-delay: 0s; transition-delay: 0s; opacity: .58; -webkit-transition: opacity 1s ease .28s; transition: opacity 1s ease .28s; }

.iteam .row:nth-child(2) .col-md-5:hover .iteam_title { opacity: 1; color: #EFE448; }

.iteam .row:nth-child(2) .col-md-5:hover .iteam_cover { margin-left: 15px; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-delay: .32s, .22s; transition-delay: .32s, .22s; -webkit-transform: none; transform: none; -webkit-transition: opacity 0.6s ease, -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, transform 0.86s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); }

.iteam .row:nth-child(2) .col-md-5:hover img { margin-bottom: -1rem; -webkit-transform: rotateX(25deg); transform: rotateX(25deg); -webkit-transition-delay: 0s; transition-delay: 0s; }

.iteam .row:nth-child(2) .col-md-5:visited img { -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transform: translate3d(0, 10px, 10px) rotate3d(1, 0, 0, 8deg); transform: translate3d(0, 10px, 10px) rotate3d(1, 0, 0, 8deg); }

.iteam .row:nth-child(2) .col-md-5 img { width: 100%; -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; }

.iteam .row:nth-child(2) .col-md-7 { padding-left: 0; padding-top: 3rem; height: 23.5rem; background: #fff; }

.iteam .row:nth-child(2) .col-md-7 h3 { padding-left: 3rem; font-size: 1.2rem; }

.iteam .row:nth-child(2) .col-md-7 strong { padding-right: 0.6rem; color: #f00; font-size: 1.8rem; }

.iteam .row:nth-child(2) .col-md-7 p { padding-left: 3rem; color: #333; }

.iteam .row:nth-child(2) .col-md-7 ul { padding-left: 0; margin-bottom: 0; list-style: none; padding-left: 3.0rem; font-size: 0.92rem; color: #666; }

.iteam .row:nth-child(2) .col-md-7 li { line-height: 1.82rem; }

.iteam .row:nth-child(2) .col-md-7 li:before { content: "\2022"; color: #FB8F29; }

.iteam .row:nth-child(3) .col-md-5 { padding-left: 0; padding-right: 0; overflow: hidden; }

.iteam .row:nth-child(3) .col-md-5:hover::before { -webkit-transition-delay: 0s; transition-delay: 0s; opacity: .58; -webkit-transition: opacity 1s ease .28s; transition: opacity 1s ease .28s; }

.iteam .row:nth-child(3) .col-md-5:hover .iteam_title { opacity: 1; color: #EFE448; }

.iteam .row:nth-child(3) .col-md-5:hover .iteam_cover { margin-left: 15px; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-delay: .32s, .22s; transition-delay: .32s, .22s; -webkit-transform: none; transform: none; -webkit-transition: opacity 0.6s ease, -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); transition: opacity 0.6s ease, transform 0.86s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.86s cubic-bezier(0.19, 1, 0.22, 1); }

.iteam .row:nth-child(3) .col-md-5:hover img { margin-bottom: -1rem; -webkit-transform: rotateX(25deg); transform: rotateX(25deg); -webkit-transition-delay: 0s; transition-delay: 0s; }

.iteam .row:nth-child(3) .col-md-5:visited img { -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transform: translate3d(0, 10px, 10px) rotate3d(1, 0, 0, 8deg); transform: translate3d(0, 10px, 10px) rotate3d(1, 0, 0, 8deg); }

.iteam .row:nth-child(3) .col-md-5 img { width: 100%; -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.28s; }

.iteam .row:nth-child(3) .col-md-7 { padding-right: 0; }

.iteam .row:nth-child(3) .col-md-7 h3 { padding-left: 3rem; font-size: 1.2rem; }

.iteam .row:nth-child(3) .col-md-7 strong { padding-right: 0.6rem; color: #f00; font-size: 1.8rem; }

.iteam .row:nth-child(3) .col-md-7 p { padding-left: 3rem; color: #333; }

.iteam .row:nth-child(3) .col-md-7 ul { padding-left: 0; margin-bottom: 0; list-style: none; padding-left: 3.0rem; font-size: 0.92rem; color: #666; }

.iteam .row:nth-child(3) .col-md-7 li { line-height: 1.82rem; }

.iteam .row:nth-child(3) .col-md-7 li:before { content: "\2022"; color: #FB8F29; }

.team_bottom { height: 24.2rem; background: #fff; }

.iteam_cover { position: absolute; background: #ff6b00; -webkit-transform: rotate3d(1, 0, 0, 8deg) translate3d(0, -110%, -50px); transform: rotate3d(1, 0, 0, 8deg) translate3d(0, -110%, -50px); opacity: .9; top: 0; left: 0; width: 100%; height: 100%; content: ''; z-index: 2; }

.iteam_title { position: absolute; top: 11rem; left: 2rem; font-size: 1.4rem; color: #f00; -webkit-transform: translateY(-10px); transform: translateY(-10px); z-index: 2; }

.icase { padding-top: 3rem; background: url(./assets/images/icase_bg.png) no-repeat center; background-size: cover; color: #fff; }

.icase h3 { text-align: center; }

.icase h3 small { display: block; line-height: 4rem; font-size: 1.02rem; }

.icase_con { padding: 1rem 2rem; border: 1px dotted #fff; }

.icase_con span { color: #f00; }

.iming { padding-top: 2rem; color: #fff; text-align: center; }

.iming h3 { color: #ea4c19; }

.iming h3 small { color: #000; }

.iming small { display: block; line-height: 3rem; font-size: 1.02rem; }

.iming h4 { padding-top: 2rem; }

.iming_r { padding-bottom: 1rem; background: #FF9656; }

.iming_r ul { padding-left: 0; margin-bottom: 0; list-style: none; margin: 1rem; text-align: left; color: #666; }

.iming_r strong { display: block; width: 100%; }

.iming_r li { margin-top: 1rem; padding: 1rem; background: #fff; }

.iming_r p { display: inline-block; margin-left: 1rem; line-height: 2rem; }

.icg { padding-top: 2rem; text-align: center; }

.icg span { color: #ed4c18; }

.icg h4 { margin-bottom: 1rem; }

.ifat { padding-top: 2rem; background: url(./assets/images/ifat_bg.png) #fff no-repeat center 9rem; height: 30rem; }

.ifat h4 { text-align: center; color: #ed4c18; }

.ifat h4 small { display: block; line-height: 4rem; font-size: 1.02rem; color: #000; }

.ifat ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.ifat strong { display: block; width: 100%; }

.ifat p { display: block; padding-right: 3rem; font-size: 0.92rem; }

.ifat img { float: left; margin-right: 0.2rem; }

.ifat li { padding-top: 1.62rem; height: 10rem; background: url(./assets/images/ifat_bg2.png) no-repeat top left; }

.icruoBox { background: #fff; border-top: 1px solid #eee; }

.icruo { padding-top: 2rem; min-height: 30rem; background: url(./assets/images/icruo_bg.png) no-repeat center; background-size: cover; }

.icruo h4 { text-align: center; color: #ed4c18; }

.icruo h4 small { display: block; line-height: 3rem; font-size: 1.02rem; color: #000; }

.islogan { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 10rem; background: url(./assets/images/islogan_bg.png) center no-repeat; background-size: cover; text-align: center; color: #fff; font-size: 1.4rem; font-weight: bold; }

footer { padding-top: 4rem; min-height: 12rem; background: #2D2D2D; color: #eee; }

footer i { font-size: 2.8rem; }

footer img { height: 6rem; }

.chengxu_banner, .jicheng_banner, .caifu_banner { height: 30.6rem; background: url(./assets/images/ibanner.jpg) top center no-repeat; background-size: cover; font-size: 1.3rem; }

.chengxu_banner .offset-md-5, .jicheng_banner .offset-md-5, .caifu_banner .offset-md-5 { padding-top: 7rem; color: #fff; }

.chengxu_banner_box { padding: 4rem 2rem; background-color: rgba(0, 0, 0, 0.46); border-radius: 20px; text-align: center; }

.chengxu_banner_box strong { display: block; padding-bottom: 1rem; font-size: 2.1rem; }

.chengxu_banner_box p { margin-bottom: 0.2rem; }

.chengxu_banner_box span { color: #ffd726; }

.chengxu_xz { padding-top: 2rem; background: url(./assets/images/chengxu_bg.png) no-repeat center; background-size: cover; }

.chengxu_xz h1 { text-align: center; font-size: 1.48rem; }

.chengxu_xz h1 span { color: #f00; }

.chengxu_xz img { padding: 1.4rem; }

.chengxu_xz .row > div:nth-child(4) span { background: #67abf1; }

.chengxu_xz .row > div:nth-child(6) span { background: #67abf1; }

.chengxu_xz strong { display: block; line-height: 4rem; text-align: center; font-size: 1.2rem; }

.chengxu_xz small { display: block; margin-bottom: 2rem; padding: 1rem 2rem; border: 1px dotted #6bb3fd; border-radius: 3rem; background-color: #e4f0fd; font-size: 1.2rem; }

.chengxu_xz_box { margin-top: 1rem; min-height: 17rem; border: solid 1px #F6D1D6; }

.chengxu_xz_box span { display: block; line-height: 4rem; background: #eb6877; text-align: center; color: #fff; font-size: 1.3rem; }

.chengxu_xz_box p { padding: 2rem; }

.chengxu_xz_box ul { margin-top: 2rem; margin-bottom: 2rem; }

.chengxu_ask { margin-top: 2rem; }

.chengxu_ask h1 { text-align: center; font-size: 1.68rem; }

.chengxu_ask h1 span { color: #f00; }

.chengxu_case { padding-top: 2rem; background: url(./assets/images/chengxu_case_bg.png) no-repeat center; background-size: cover; }

.chengxu_case h2 { text-align: center; font-size: 1.68rem; }

.chengxu_case h2 span { color: #f00; }

.chengxu_case img { width: 100%; }

.chengxu_case .chengxu_case_box:nth-child(3) p { padding-top: 4rem; padding-left: 5.6rem; }

.chengxu_case .chengxu_case_box:nth-child(5) p { padding-top: 4rem; padding-left: 5.6rem; }

.chengxu_case_box { position: relative; margin-top: 1rem; background: #fff; }

.chengxu_case_box h3 { padding-top: 2rem; line-height: 4rem; font-size: 1.42rem; font-weight: bold; text-align: center; color: #f00; }

.chengxu_case_box p { padding: 0 2rem; }

.chengxu_caseA, .chengxu_caseB { position: absolute; top: -0.5rem; right: 2rem; z-index: 1; }

.chengxu_caseB { left: 2rem; right: auto; }

.chengxu_tishi { padding-top: 2rem; }

.chengxu_tishi h2 { font-size: 1.48rem; text-align: center; }

.chengxu_tishi h2 span { color: #f00; }

.chengxu_tishi p { padding-top: 1rem; }

.haizi_banner { height: 30.6rem; background: url(./assets/images/haizi_banner.png) top center no-repeat; background-size: cover; font-size: 1.5rem; }

.haizi_banner_box { margin-top: 10rem; border: 3px solid rgba(255, 255, 255, 0.3); border-radius: 10px; text-align: center; }

.haizi_banner_box strong { display: block; margin-top: -1.6rem; margin-left: 10%; width: 80%; line-height: 3rem; background-color: #da6139; font-size: 1.2rem; font-weight: 100; border-radius: 10px; color: #fff; }

.haizi_banner_box p { color: #fff; }

.haizi_banner_box P:nth-child(2) { margin-top: 2rem; }

.haizi_banner_box span { color: #ffd726; }

.haizi_ask { padding-top: 2rem; background: url(./assets/images/haizi_ask_bg.png) top no-repeat; background-size: cover; }

.haizi_ask h1 { text-align: center; font-size: 1.48rem; }

.haizi_ask h1 span { color: #f00; }

.haizi_ask h2 { display: inline-block; margin-top: 1rem; width: 36rem; line-height: 4rem; background: url(./assets/images/haizi_ask_title.png) center no-repeat; text-align: center; font-size: 1.1rem; color: #fff; }

.haizi_ask .container { background: url(./assets/images/haizi_ask_bg2.png) left 6rem no-repeat; }

.haizi_ask ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.haizi_askA li { margin-top: 2rem; }

.haizi_askA li:nth-child(2) { padding-left: 2rem; }

.haizi_askA li:nth-child(3) { padding-left: 4rem; }

.haizi_askA li:nth-child(4) { padding-left: 3rem; }

.haizi_askA li:nth-child(5) { padding-left: 1rem; }

.haizi_askA strong { margin-right: 2rem; float: left; font-size: 3rem; }

.haizi_askA abbr { display: block; font-size: 1.3rem; font-weight: bold; }

.haizi_askB { text-align: center; }

.haizi_askB h2 { margin-bottom: 5rem; }

.haizi_askB .col-md-4:nth-child(2) .haizi_askB_box { background: #5da7f4; }

.haizi_askB .col-md-4:nth-child(3) .haizi_askB_box { background: #eb6877; }

.haizi_askB_box { height: 18rem; background: #f19d3a; border-radius: 1rem; color: #fff; }

.haizi_askB_box img { display: inline-block; margin-top: -4rem; }

.haizi_askB_box strong { display: block; padding: 1rem; font-size: 1.3rem; }

.haizi_askC { margin-top: 2rem; margin-bottom: 2rem; padding-left: 2rem; padding-right: 2rem; padding-bottom: 2rem; border-radius: 10px; border: 1px dashed #f52139; }

.haizi_askC h3 { line-height: 4rem; font-size: 1.6rem; color: #f52139; text-align: center; }

.haizi_yind { padding-top: 1rem; }

.haizi_yind h3 { line-height: 3rem; font-size: 1.8rem; font-size: 1.4rem; text-align: center; }

.haizi_yind h3 span { color: #f00; }

.haizi_yind .haizi_yind_left:nth-child(1) { background: url(./assets/images/haizi_yind1.png) top no-repeat; background-size: cover; }

.haizi_yind .haizi_yind_left:nth-child(4) { background: url(./assets/images/haizi_yind2.png) top no-repeat; background-size: cover; }

.haizi_yind .haizi_yind_right:nth-child(2) h4 { background: url(./assets/images/haizi_yind_right_01.png) center no-repeat; }

.haizi_yind .haizi_yind_right:nth-child(5) h4 { background: url(./assets/images/haizi_yind_right_02.png) center no-repeat; }

.haizi_yind_left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 23rem; }

.haizi_yind_left p { padding: 0 4rem; color: #fff; }

.haizi_yind_right { background: url(./assets/images/haizi_yind_rightLi1.png) 2rem 5rem no-repeat; }

.haizi_yind_right h4 { margin-bottom: 2rem; line-height: 2.8rem; font-weight: bold; text-align: center; color: #fff; font-size: 1.24rem; }

.haizi_yind_right ul { padding-left: 0; margin-bottom: 0; list-style: none; padding-left: 3rem; font-size: 0.9rem; }

.haizi_yind_right li { margin-bottom: 2rem; }

.haizi_yind_line { margin-top: 1rem; }

.haizi_yind_line p { line-height: 4.6rem; text-align: center; background: #faeef0; border: 1px dotted #eb6877; border-radius: 3rem; }

.haizi_wd h3 { line-height: 3rem; font-size: 1.8rem; font-size: 1.4rem; text-align: center; }

.haizi_wd h3 span { color: #f00; }

.haizi_wd .haizi_wd_box:nth-child(2) { background: #F7FBFF; border: 1px solid #daeafb; border-radius: 0.2rem; }

.haizi_wd .haizi_wd_box:nth-child(3) { background: #fff5ee; border: 1px solid #fbdbc5; border-radius: 0.2rem; }

.haizi_wd .haizi_wd_box:nth-child(4) { background: #f5fcf1; border: 1px solid #c4ebb0; border-radius: 0.2rem; }

.haizi_wd .haizi_wd_box:nth-child(2) .col-md-5 p { background: url(./assets/images/haizi_wd_box_bg1.png) left top no-repeat; }

.haizi_wd .haizi_wd_box:nth-child(3) .col-md-5 p { background: url(./assets/images/haizi_wd_box_bg2.png) left top no-repeat; }

.haizi_wd .haizi_wd_box:nth-child(4) .col-md-5 p { background: url(./assets/images/haizi_wd_box_bg3.png) left top no-repeat; }

.haizi_wd_box { margin-top: 1rem; padding: 1rem; font-size: 0.92rem; }

.haizi_wd_box img { float: left; }

.haizi_wd_box p { color: #666; }

.haizi_wd_box p strong { display: block; }

.haizi_wd_box .col-md-7 { padding-top: 3rem; }

.haizi_wd_box .col-md-5 img { padding-top: 2rem; }

.haizi_wd_box .col-md-5 p { display: block; padding-left: 2rem; padding-top: 2.6rem; margin-left: auto; width: 70%; height: 10.8rem; }

.caichan .caichan_list:nth-child(2) { background: url(./assets/images/caichan_list1.png) no-repeat center; background-size: cover; }

.caichan .caichan_list:nth-child(3) { background: url(./assets/images/caichan_list2.png) no-repeat center; background-size: cover; }

.caichan .caichan_list:nth-child(5) { background: url(./assets/images/caichan_list3.png) no-repeat center; background-size: cover; }

.caichan_banner { height: 30.6rem; background: url(./assets/images/caichan_banner.png) top center no-repeat; background-size: cover; font-size: 1.5rem; }

.caichan_list { padding-top: 2rem; text-align: center; }

.caichan_list h1 { line-height: 4rem; font-size: 1.46rem; color: #666; font-weight: bold; }

.caichan_list h1 span { color: #f52139; }

.caichan_list strong { display: block; margin-top: 0.8rem; text-align: left; font-size: 1.2rem; }

.caichan_list img { margin-top: -5.8rem; }

.caichan_list p { text-align: justify; text-justify: inter-ideograph; overflow: hidden; margin-top: 1.2rem; }

.caichan_list_title1 { line-height: 4.4rem; background: url(./assets/images/caichan_list_title1.png) top center no-repeat; text-align: center; color: #fff; font-size: 1.2rem; }

.caichan_list_title2 { line-height: 4.4rem; background: url(./assets/images/caichan_list_title2.png) top center no-repeat; text-align: center; color: #fff; font-size: 1.2rem; }

.caichan_list_title3 { line-height: 4.4rem; background: url(./assets/images/caichan_list_title3.png) top center no-repeat; text-align: center; color: #fff; font-size: 1.2rem; }

.caichan_list_title4 { line-height: 4.4rem; background: url(./assets/images/caichan_list_title4.png) top center no-repeat; text-align: center; color: #fff; font-size: 1.2rem; }

.caichan_list_boxA, .caichan_list_boxB, .caichan_list_boxC { padding: 1.7rem; margin-top: 4rem; margin-bottom: 2rem; height: 17rem; border: 1px solid #e8cbc2; background: #fdf1ed; border-radius: 10px; }

.caichan_list_boxB { border-color: #9dc5ed; background: #e4eef8; }

.caichan_list_boxC { border-color: #c6daf0; background: #fff; }

.jicheng_banner { background-image: url(./assets/images/jicheng_banner.jpg); }

.jicheng_well { margin-top: 1rem; padding-bottom: 2rem; background-image: url(./assets/images/jicheng_well_bg.png); background-size: cover; }

.jicheng_well h1 { text-align: center; font-size: 1.68rem; }

.jicheng_well h1 span { color: #f00; }

.jicheng_ask, .caifu_hero { padding-top: 1rem; }

.jicheng_ask h2, .caifu_hero h2 { text-align: center; font-size: 1.68rem; }

.jicheng_ask h2 span, .caifu_hero h2 span { color: #f00; }

.jicheng_ask .col-md-6, .caifu_hero .col-md-6 { margin-top: 1rem; }

.jicheng_ask .col-md-6 p:nth-child(2), .caifu_hero .col-md-6 p:nth-child(2) { padding-top: 4rem; padding-bottom: 4rem; background: #f1f8ff; }

.jicheng_ask img, .caifu_hero img { width: 100%; }

.jicheng_ask p, .caifu_hero p { padding: 3rem 1rem; background: #fff8f8; }

.caifu_banner { background-image: url(./assets/images/caifu_banner.jpg); }

.caifu_banner .col-md-7 { padding-top: 4rem; color: #fff; }

.caifu_well { height: 28rem; background: url(./assets/images/caifu_well_bg.png) center no-repeat; background-size: cover; }

.caifu_well .col-md-4:nth-child(1) { text-align: center; padding-top: 12rem; }

.caifu_well .col-md-4:nth-child(2) { text-align: left; padding-top: 2.6rem; padding-left: 4.4rem; }

.caifu_well .col-md-4:nth-child(3) { text-align: right; padding-top: 2.6rem; padding-right: 5.6rem; }

.caifu_hero { background: url(./assets/images/caifu_hero_bg.png) center no-repeat; background-size: cover; }

.caifu_hero p { padding: 1.4rem 1rem; }

.about_banner, .contact_banner { height: 20rem; font-size: 1.4rem; color: #fff; background: url(./assets/images/about_banner.png) center no-repeat; background-size: cover; text-align: center; }

.about_banner h1, .contact_banner h1 { padding-top: 7rem; font-size: 1.32rem; }

.about_con { padding-top: 2rem; }

.about_con strong { display: block; margin-top: 1rem; line-height: 3rem; text-align: center; font-size: 1.2rem; }

.about_con p { color: rgba(0, 0, 0, 0.5); }

.about_con img { max-width: 100%; }

.contact_banner { background-image: url(./assets/images/contact_banner.png); }

.contact_banner h1 { padding-top: 7rem; font-size: 1.2rem; }

.contace_tel { padding-top: 1rem; }

.contace_tel .card { text-align: center; }

.contace_tel p { color: #999; }

.contace_map { margin-top: 1rem; margin-bottom: 2rem; }

.contace_mapBox { width: 100%; height: 32rem; border: 1px solid #ccc; }

.contace_put { margin-top: 1rem; margin-bottom: 1rem; }

.contace_put input { margin-bottom: 1rem; }

/*右侧固定在线客服*/
.kefu { position: fixed; top: 50%; right: 20px; margin-top: -87px; width: 2.3rem; text-align: center; /*z-index: 1200;*/ }

.kefu ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.kefu a { position: relative; float: right; margin-top: 0.1rem; padding-right: 1.8rem; width: 34px; height: 34px; line-height: 34px; background: #7a6e6e; color: #fff; border-radius: 4px; overflow: hidden; transition: width 0.5s; -moz-transition: width 0.5s; -webkit-transition: width 0.5s; -o-transition: width 0.5s; }

.kefu a:hover { background: #c81623; width: 100px; text-decoration: none; }

.kefu a:hover span { display: block; }

.kefu a:hover i { background: #c81623; }

.kefu li i { display: block; position: absolute; float: right; top: 0; right: 0px; height: 34px; width: 34px; line-height: 34px; font-size: 20px; background: #7a6e6e; border-radius: 4px; z-index: 10; }

.kefu li span { font-size: 0.9rem; }

.kefu li.kefu_qrcode a { overflow: visible; }

.kefu li.kefu_qrcode a:hover { width: 191px; }

.kefu li.kefu_qrcode a:hover span { display: block; }

.kefu li.kefu_qrcode a span { display: none; margin-left: 0; padding-left: 10px; padding-right: 10px; padding-bottom: 0; background: #c81623; border-radius: 4px; width: 155px; }

.kefu li.kefu_qrcode a span img { display: block; width: 135px; }

.kefu li.kefu_wechat a { overflow: visible; }

.kefu li.kefu_wechat a:hover { width: 191px; }

.kefu li.kefu_wechat a:hover span { display: block; }

.kefu li.kefu_wechat a span { display: none; margin-left: 0; margin-top: -58px; }

.kefu li.kefu_wechat a span img { padding: 10px; background: #c81623; border-radius: 4px; width: 155px; }

.home_pagination { display: block; margin-top: 1rem; width: 100%; }

.home_pagination .page-link { background-color: #999; color: #ccc; }

.home_pagination .page-link:hover { background-color: #fff; }

.home_pagination .page-item.disabled .page-link { background-color: #999; }

.home_pagination .active .page-link { background: #666; border-color: #dee2e6; }

.home_pagination .active .page-link:hover { background: #fff; color: #000; }

.home_pagination .page-item:first-child .page-link { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.home_pagination .page-item:last-child .page-link { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.home_list img { width: 100%; max-height: 10rem; }

.home_list .col-md-8 { padding-bottom: 1rem; padding-left: 0; padding-right: 0; border-bottom: 1px solid #2D2D2D; }

.home_list .col-md-10 { text-align: justify; text-justify: inter-ideograph; overflow: hidden; color: #666; }

.home_list strong a { color: #fff; font-size: 1.24rem; font-weight: 100; font-family: Helvetica Neue, PingFang SC, Microsoft Yahei, \\5FAE\8F6F\96C5\9ED1, STXihei, \\534E\6587\7EC6\9ED1, sans-serif; }

.home_list strong a:hvoer { text-decoration: none !important; color: currentcolor; }

.ifooter { text-align: center; color: #eee; opacity: 0.3; }

.ifooter a { color: #eee; }

/*针对Markdown的highlight.js之dark主题代码，引用它，同时还要调用highlight和highlightjs-line-numbers更佳，参照z01.com/blog/ */
.hljs-comment, .hljs-quote { color: #7195a8; }

.hljs-variable, .hljs-template-variable, .hljs-attribute, .hljs-tag, .hljs-name, .hljs-regexp, .hljs-link, .hljs-name, .hljs-selector-id, .hljs-selector-class { color: #d22d72; }

.hljs-number, .hljs-meta, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params { color: #935c25; }

.hljs-string, .hljs-symbol, .hljs-bullet { color: #568c3b; }

.hljs-title, .hljs-section { color: #257fad; }

.hljs-keyword, .hljs-selector-tag { color: #6b6bb8; }

.hljs { display: block; overflow-x: auto; background: #161b1d; color: #7ea2b4; padding: .5em; }

.hljs-emphasis { font-style: italic; }

.hljs-strong { font-weight: 700; }

.hljs-ln-numbers { padding-right: 0.6rem !important; border-right: 1px solid #999; }

.hljs-ln-code { margin-left: 0.6rem !important; padding-left: 1rem !important; }

.content_bg { background: #fff; }

.myContent h1 { font-size: 1.42em; }

.myContent h2 { font-size: 1.32em; }

.myContent h3 { font-size: 1.24em; }

.myContent img { display: block; max-width: 100%; margin-top: 1rem; margin: auto; padding: 1rem 2rem; border: 0.1rem dashed #9E9E9E; }

.myContent blockquote { font-size: 1.38rem; line-height: 0.98rem; color: rgba(0, 0, 0, 0.6); font-style: italic; }

.MYbottom { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #535353; line-height: 2.8rem; text-align: center; color: #fff; }

.MYbottom a { display: inline-block; float: right; width: 40%; background: #ea6948; color: #fff; }

.MYbottom i { font-size: 1.6rem; }

@media screen and (max-width: 768px) { /*小于768px私有*/
  .navbar-dark .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(233,77,26, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .inav .navbar-brand img { width: 11rem; height: 3rem; }
  .ibanner { height: 15rem; padding-bottom: 1rem; }
  .ibanner_box { margin-top: 1rem; font-size: .58rem; border-width: 0.62rem; }
  .ibanner_box li { line-height: 1.3rem; padding: 0.4rem 0.2rem; }
  .ielit { margin-top: 0.4rem; }
  .ielit h1 { font-size: 1.2rem; }
  .ielit .text-muted { font-size: 0.6rem; line-height: 1.2rem !important; }
  .ielit .ielit_clear { display: none; }
  .ielit .card { float: left; width: 50%; }
  .ielit .card-text { line-height: 1rem; }
  .ielit .card-group { height: 31rem; font-size: 0.78rem; }
  .ielit .card-group strong { line-height: 0.6rem; font-size: .6rem; }
  .ielit .card-body { padding-top: 1rem; padding-bottom: 0.2rem; padding-left: 0.2rem; padding-right: 0.2rem; }
  .ielit .card-group .card { min-height: 10rem; }
  .ielit .card-group .card:nth-child(1) { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; padding-top: 0.2rem; }
  .ielit .card-group .card:nth-child(2) { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .ielit .card-group .card:nth-child(3) { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  .ielit .card-group .card:nth-child(4) { ordr: 3; }
  .ielit .card-group .card:nth-child(5) { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .ielit .card-group .card:nth-child(6) { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }
  .ielit .card-group .card:nth-child(7) { -webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7; }
  .ielit .card-group .card:nth-child(3) i { display: none; }
  .ielit .card-group i { font-size: 1.48rem; }
  .ielit .card:nth-child(6) i { display: none; }
  .iliji { height: 7rem; background-color: #FF7D52; background-image: none; font-size: 0.9rem; }
  .iyoushi_cneter { display: none; }
  .iyoushi { padding-top: 1rem; padding-bottom: inherit; font-size: 1.02rem; }
  .iyoushi li { margin-bottom: 1rem; }
  .iyoushi li i { width: 3rem; height: 3rem; line-height: 3rem; font-size: 1.8rem; }
  .iyoushi li:nth-child(2) p { padding-right: initial; }
  .iask_boxCon { height: auto; }
  .iask_boxCon img { display: none; }
  .iask_boxCon p { margin-bottom: 0; }
  .iask_boxCon2 { margin-bottom: auto !important; }
  .iask_boxCon2 span { display: none; }
  .iask_boxCon2 p { width: auto; }
  .about_banner, .contact_banner, .contact_banner { height: 12rem; }
  .about_banner h1, .contact_banner h1, .contact_banner h1 { padding-top: 3.8rem; }
  .haizi_banner { height: 13rem; }
  .haizi_banner_box { margin-top: 2rem; }
  .haizi_banner_box strong { font-size: 0.8rem; }
  .haizi_banner_box p { font-size: 0.86rem; }
  .haizi_banner_box p:nth-child(2) { margin-bottom: auto; margin-top: 0; }
  .haizi_banner_box p:nth-child(3) { margin-bottom: auto; }
  .haizi_ask h2 { width: 100%; font-size: 1rem; }
  .haizi_ask .container { background-size: 30%; background-position-x: center; background-position-y: 8rem; }
  .haizi_askA { margin-top: 6rem; }
  .haizi_askA strong { font-size: 1rem; }
  .haizi_askA abbr { font-size: 1rem; }
  .haizi_askA li { margin-top: 0.62rem; }
  .haizi_askA li:nth-child(2) { padding-left: initial; }
  .haizi_askA li:nth-child(3) { padding-left: initial; }
  .haizi_askA li:nth-child(4) { padding-left: initial; }
  .haizi_askA li:nth-child(5) { padding-left: initial; }
  .haizi_askB_box { height: 13rem; font-size: 0.8rem; }
  .haizi_askB_box strong { padding: inherit; font-size: 1.12rem; }
  .caichan_banner { height: 17rem; }
  .caichan_banner strong { line-height: inherit; }
  .caifu_banner { height: 17rem; }
  .caifu_banner strong { font-size: 1.2rem; }
  .caifu_banner p { font-size: 0.8rem; }
  .iteam { font-size: 0.8rem; }
  .iteam .row:nth-child(2) { margin-bottom: 0; }
  .iteam .row:nth-child(2) .col-md-5 { padding-left: 0; }
  .iteam .row:nth-child(3) .col-md-7 { padding-left: 0; }
  .iteam .row:nth-child(3) .col-md-7 strong { font-size: 1.1rem; }
  .team_bottom { height: auto; }
  .chengxu_banner, .jicheng_banner, .caifu_banner { height: 11.6rem; font-size: 1rem; }
  .chengxu_banner .offset-md-5, .jicheng_banner .offset-md-5, .caifu_banner .offset-md-5 { padding-top: 1rem; }
  .chengxu_banner_box { padding: 1rem 1rem; }
  .chengxu_banner_box strong { font-size: 1.2rem; }
  .ifat { height: 40rem; background: none; }
  .ifat li { height: 8.2rem; }
  .iming small { font-size: 0.92rem; }
  .iming_r img { float: left; }
  .iming_r p { display: inherit; }
  .icruo { background-size: auto 30%; }
  .icruo h4 small { font-size: 0.84rem; }
  .kefu { display: none; } }

/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */
/*# sourceMappingURL=global.css.map */