@using ZoomLa.Common
@using ZoomLa.SQLDAL
@functions{
    private B_Plat_Group gpBll = new B_Plat_Group();
    private B_User_Plat upBll = new B_User_Plat();
    public int Gid
    {
        get { return DataConvert.CLng(Context.Request.GetParam("ID")); }
    }
    public int MType { get { return DataConvert.CLng(Context.Request.GetParam("MType")); } }
    //protected void Page_Load(object sender, EventArgs e)
    //{
    //    if (!B_User_Plat.IsAdmin())//是本部门的管理员也可,另Gid必须属于本公司
    //    {
    //        function.WriteErrMsg("你无权访问该页");
    //    }
    //    if (!IsPostBack)
    //    {
    //        MyBind();
    //    }
    //}
    //public void MyBind()
    //{
    //    M_Plat_Group gpMod = gpBll.SelReturnModel(Gid);
    //    M_User_Plat upMod = upBll.SelReturnModel(gpMod.CreateUser);//创建人模型
    //    DataTable dt = new DataTable();
    //    if (MType == 1)
    //        dt = upBll.SelByIDS(gpMod.ManageIDS);
    //    else
    //        dt = upBll.SelByGroup(upMod.CompID, Gid);
    //    EGV.DataSource = dt;
    //    EGV.DataBind();
    //}
    //protected void EGV_PageIndexChanging(object sender, GridViewPageEventArgs e)
    //{
    //    EGV.PageIndex = e.NewPageIndex;
    //    MyBind();
    //}
    //protected void EGV_RowCommand(object sender, GridViewCommandEventArgs e)
    //{
    //    switch (e.CommandName.ToLower())
    //    {
    //        case "del2":
    //            if (MType == 1)
    //                gpBll.DelMember(e.CommandArgument.ToString(), Gid, 2);
    //            else gpBll.DelMember(e.CommandArgument.ToString(), Gid);
    //            break;
    //    }
    //    MyBind();
    //}
    //protected void BatRemove_Btn_Click(object sender, EventArgs e)
    //{
    //    if (string.IsNullOrEmpty(Request.Form["idChk"]))
    //    {
    //        function.Script(this, "alert('选择为空!!');");
    //    }
    //    else
    //    {
    //        if (MType == 1)
    //            gpBll.DelMember(Request.Form["idChk"], Gid, 2);
    //        else gpBll.DelMember(Request.Form["idChk"], Gid);
    //    }
    //    MyBind();
    //}

}
@section head {<title>部门详情</title> }
@section content{ 
<div class="container platcontainer">
<div class="child_head"><span class="child_head_span1"></span> <span class="child_head_span2">部门成员</span></div>
<ul class="nav nav-tabs">
<li><a href="#tab0" data-toggle="tab" onclick="location='GroupDetail.aspx?<%:"ID="+Gid+"&MType=0" %>';">成员信息</a></li>
<li><a href="#tab0" data-toggle="tab" onclick="location='GroupDetail.aspx?<%:"ID="+Gid+"&MType=1" %>';">部门管理员</a></li>
<li><a href="#tab1" data-toggle="tab">部门信息</a></li>
</ul>
  <div class="tab-content" style="margin-top:5px;">
    <div id="tab0" class="tab-pane active">
      <ZL:ExGridView runat="server" ID="EGV" AutoGenerateColumns="false" AllowPaging="true" PageSize="10" EnableTheming="False" IsHoldState="false"
	class="table table-striped table-bordered table-hover" EmptyDataText="该部门尚无成员!!"
	OnPageIndexChanging="EGV_PageIndexChanging" OnRowCommand="EGV_RowCommand">
        <Columns>
        <asp:TemplateField>
          <ItemTemplate><input type="checkbox" name="idChk" value="<%#Eval("UserID") %>" /></ItemTemplate>
        </asp:TemplateField>
        <asp:BoundField HeaderText="成员名" DataField="TrueName" />
        <%--<asp:BoundField HeaderText="职务" DataField=""/>--%>
        <asp:BoundField HeaderText="手机" DataField="Mobile" />
        <asp:TemplateField HeaderText="操作">
          <ItemTemplate>
            <asp:LinkButton runat="server" CommandName="Del2" CommandArgument='<%#Eval("UserID") %>' OnClientClick="return confirm('你确定要移除吗!');" ToolTip="移除"> <span class="zi zi_trashalt" style="color:#7D98A1;"></span></asp:LinkButton>
            <a href="#" title="编辑"><span class="zi zi_pencilalt" style="color: #7D98A1;"></span></a> </ItemTemplate>
        </asp:TemplateField>
        </Columns>
        <PagerStyle HorizontalAlign="Center" />
        <RowStyle Height="24px" HorizontalAlign="Center" />
      </ZL:ExGridView>
      <div style="margin-top: 10px;">
        <asp:Button runat="server" ID="BatRemove_Btn" Text="批量移除" CssClass="btn btn-primary" OnClick="BatRemove_Btn_Click" />
      </div>
    </div>
  </div>
</div>
}
@section script{ 
<script type="text/javascript" src="/JS/SelectCheckBox.js"></script>
}