{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="bs-header">
<div class="container mt-5">
<h1><i class="zi zi_clouddownloadalt"></i>远程数据读取示例</h1>
<p>快速读取远程站点信息</p>
</div>
</div>
<main role="main" id="vueApp">
<div class="news_body">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="news_mySites">
                    <nav aria-label="breadcrumb" role="navigation" style="font-size: 0.9rem;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item"><a>列表</a></li>
                        </ol>
                    </nav>
                </div><!--面包屑导航结束-->
                
                
                
                <div class="news_list" v-for="n in nodes">
                    <div class="news_list_t"><a href="javascript:;">更多&gt;&gt;</a><h2>{{n.NodeName}}</h2><div class="clearfix"></div></div>
                    <div class="news_list_c">
                        <ul class="list-unstyled">
                            <li v-for="item in n.list"><span>{{item.CreateTime.split('T')[0]}}</span><i>1</i><a href="javascript:;" v-on:click="navToContent(item)">{{item.Title}}</a></li>
                        </ul>
                    </div>
                </div>
                
                
                
                
            </div>
            
            
            <div class="col-md-4 col-12">
                <div class="news_list">
                    <div class="news_list_t"><h2>资讯中心</h2><div class="clearfix"></div></div>
                    <div class="news_list_l">
                        <div class="row padding10">
                            <ul class="list-unstyled w-100 d-flex flex-wrap">
                   
                                           
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="news_list">
                    <div class="news_list_t"><h2>热门文章</h2><div class="clearfix"></div></div>
                    <div class="news_list_c">
                        <ul class="list-unstyled">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{ZL.Label id="全站底部"/}


<script src="/res/vue/vue.js"></script>
<script src="/js/Modal/APIResult.js"></script>
<script src="/js/ICMS/cmsJsonP.js"></script>
<script>
    cmsJsonP.apiUrl = "https://f.ziti163.com/API/Content.ashx?action=";
    var vueApp = new Vue({
        el: "#vueApp",
        data: {
            nodes: [],
        },
        methods: {
            navToContent: function (item) { location = "/Class_84/NodeHot?gid="+item.GeneralID; }
        },
        mounted: function () {
            var ref = this;
            cmsJsonP.node_list({ pid: "{$GetRequest(nid)$}" })
                .then(function (ret) { ref.nodes = ret.result; })
                .then(function () {
                    ref.nodes.forEach(function (node, index) {
                        cmsJsonP.content_list({ "nid": node.NodeID }, function (ret) { node.list = ret.result; console.log(index,node); Vue.set(ref.nodes,index, node); });
                    });
                })//node_list end;
        }
    })
</script>

</body>
</html>