@functions{
public int Mid { get { return DataConverter.CLng(Context.Request.GetParam("ID")); } }
public string CodeID { get { return string.IsNullOrEmpty(Context.Request.GetParam("CodeID")) ? "code" : Context.Request.GetParam("CodeID"); } }
//附加行为,如生成base64
public string Action { get { return Context.Request.GetParam("action"); } }

}
@{ 
    Layout = "_empty";
    string code = "";
    if (Mid > 0)
    {
        M_Content_Chart chartMod = new ZoomLa.BLL.Content.B_Content_Chart().SelReturnModel(Mid);
        code = chartMod.option;
    }
}
@section head{ 
<style type="text/css">
    .main {height: 400px;overflow: hidden;padding: 10px;margin-bottom: 10px;border: 1px solid #e3e3e3;}
</style>
<title></title>
}
@section content{ 
<div id="main" class="main"></div>
<textarea ID="code" style="display: none;">@Html.Raw(code)</textarea>
}
@section script{ 
    <script>
        $(function () {

            //setTimeout(function () {
            //    //var ecConfig = require('echarts/config');
            //    //myChart.on(ecConfig.EVENT.CLICK, function (param) { console.log("222"); });
            //    //myChart.on("click", function (param) { console.log("222"); });
            //},2000);
            if ("@Mid" == "0") { GetCode(); }
        })
        function GetCode()
        {
            $("#code").val($(parent.document).find("#@(CodeID)").val());
            refresh();
        }
        function ReLoad()
        {
            GetCode();
            refresh(true);
        }
        function GetBase64()
        {
            return myChart.getDataURL();
        }
    </script>
    <script src="~/lib/ECharts/echarts.js"></script>
    <script src="~/lib/ECharts/ZL_Echarts.js"></script>
}