<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{$SiteName/}_首页</title>
{$PWAMainfirst/}
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
{ZL:GetCSS(1,0)/}
<script src="{$CssDir/}js/server.js"></script>

</head>
<body>
<main id="vueApp">
    <router-view transition-mode="out-in"  v-on:viewIn="onViewIn"></router-view>
</main>

<template id="index"><div>
<header>
<nav class="navbar navbar-expand-sm bg-info navbar-dark" id="home_nav"> <a class="navbar-brand" href="/"><img alt="{$SiteName/}" src="{$LogoUrl/}" id="logos" /></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample03">
<ul class="navbar-nav home_top_nav">
<li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
<li class="nav-item"><a class="nav-link" href="javascript:;" v-on:click="$parent.navTo('/list/1')">资讯门户</a></li>
<li class="nav-item"><a class="nav-link" href="javascript:;" v-on:click="$parent.navTo('/list/84')">资源下载</a></li>
<li class="nav-item"><a class="nav-link" href="javascript:;" v-on:click="$parent.navTo('/list/85')">图库中心</a></li>
<li class="nav-item"><a class="nav-link" href="javascript:;" v-on:click="$parent.navTo('/list/5')">扩展信息</a></li>
<li class="nav-item"><a class="nav-link" href="//bbs.z01.com" target="_blank">技术社区</a></li>
<li class="nav-item dropdown"> <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="true"><i class="zi zi_caretdown"></i></a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
{ZL.Label id="蓝色经典_顶部节点列表" ParentID="0" ShowNum="7" /}
</div>
</li>
<li class="nav-item"><a class="nav-link" href="javascript:;" onClick="isSearch();"><i class="zi zi_searchBlack"></i></a></li>
<li class="nav-item dropdown nav_user"> <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="zi zi_useralt"></i><span class="caret"></span> </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<a class="dropdown-item" href="/User/">用户登录</a> <a class="dropdown-item" href="/User/Register">注册会员</a> <a class="dropdown-item d-none" href="/User/Info/UserInfo">注册信息</a> <a class="dropdown-item d-none" href="/User/User/LogOut?returnurl=/">安全退出</a>
</div>
</li>
</ul>
<ul class="home_search">
<form action="/Search/SearchList">
<i class="zi zi_searchBlack"></i>
<input type="text" class="form-control" placeholder="输入关键字，回车查询" name="keyword" />
<a onClick="isClose();" href="javascript:;"><i class="zi zi_windowclose"></i></a>
</form>
</ul>
</div>
<div class="homeNavBar">
<a href="#menu-toggle" id="menu-toggle" onclick="slidebarBind();"><i class="zi zi_menu"></i></a>
</div>
</nav>
</header>
<!--header end-->
<div id="sidebar-wrapper">
<div class="sidebar_close">
<a href="#menu-toggle-out"  id="menu-toggle-out"><i class="zi z01-icon107"></i></a>
</div>
<h6><i class="zi z01-icon125"></i></h6>
<p>逐浪-中文排名第一的dotNET 高端CMS！<br/>
面向移动与办公提供丰富的应用功能&#x2193;</p>
<ul class="sidebar-nav">
<li><a href="/plat/"><img src="{$CssDir/}images/home_pic15.jpg" alt="能力办公" /></a><span>事务中心</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic13.jpg" alt="目标控制" /></a><span>目标控制</span></li>
<li><a href="/plat/blog"><img src="{$CssDir/}images/home_pic4.jpg" alt="日程管理"  /></a><span>日程管理</span></li>
<li><a href="/plat/"><img src="{$CssDir/}images/home_pic11.jpg" alt="客户资源" /></a><span>客户资源</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic18.jpg" alt="办公审批" /></a><span>办公审批</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic17.jpg" alt="企业百科" /></a><span>企业百科</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic16.jpg" alt="内部邮箱" /></a><span>内部邮箱</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic21.jpg" alt="日志博客" /></a><span>日志博客</span></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic12.jpg" alt="时间线" /></a><span>时间线</span></li>
</ul>
<div class="sidebar_ico">
<a href="//weibo.com/zoomla" ><i class="zi zi_tmWeixin" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_tmQq" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi z01-icon220" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi z01-icon224" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_tmWeibo" aria-hidden="true"></i></a>
</div>
</div>
<!-- Sidebar end -->




<section class="container home_slogin mt-5">
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="home_slogin_c">
<h3><i class="zi zi_laptop"></i> 内容中心</h3>
<p>可视化开发，拖拽式设计，成倍的提升开发效率，即使不懂任何代码也能做出卓越的网站！</p>
<div class="text-center">
<a href="javascript:;" v-on:click="$parent.navTo('/list/1')" class="btn btn-light btn-sm" >体验不凡！</a>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="home_slogin_c">
<h3><i class="zi z01-icon019"></i> 资源下载</h3>
<p>强大的内核管理系统，模板云全面开放，领先的Zoomla!逐浪CMS2 系列产品家族，无论是电商、门户、企业门户或是移动应用均可手到擒来。</p>
<div class="text-center">
<a href="javscript:;" v-on:click="$parent.navTo('/list/84')" class="btn btn-light btn-sm">进入门户平台</a>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="home_slogin_c">
<h3><i class="zi zi_briefcase"></i> 图库中心</h3>
<p>面向中国企业的办公系统，符合国情与习惯的软件服务。</p>
<div class="text-center">
<a href="javscript:;" v-on:click="$parent.navTo('/list/85')" class="btn btn-light btn-sm">进入门户平台</a>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="home_slogin_c">
<h3><i class="zi zi_cubes"></i> 扩展信息</h3>
<p>公众号、APP、小程序快速生成，为企业部署APP提代使得，不植入任何后台广告，确保企业的权益收益不植入任何后台广告，确保企业的权益收益。</p>
<div class="text-center">
<div class="btn-group">
<a href="#" v-on:click="$parent.navTo('/list/5')" class="btn btn-light btn-sm" >在线生成</a> <a href="/app/" class="btn btn-light btn-sm">本地部署</a>
</div>
</div>
</div>
</div>

</div>
</section>
<!--home_slogin end-->




<div class="container">
    <img class="img-fluid" src="{$CssDir/}images/home_bottombg.jpg" alt="" />
</div>


<footer>
<div class="container">
<div class="row">
<div class="col-md-4 foot_l">
<h5>关于我们</h5>
<p>逐浪软件致力提供高品质的WEB内核产品，<br/>
提升中国站长与开发者的应用水平。 </p>
<a href="{ZL:GetInfoUrl(20)/}" class="btn btn-outline-light btn-sm">浏览详情</a>
<a href="/Page/MailSend?email={$WebmasterEmail/}&t=给站长发邮件&c=站长留言" class="btn btn-outline-light btn-sm">给站长发邮件</a>
<p> <a href="http://www.miitbeiang.gov.cn"  >沪ICP备201820528号</a> <a href="{$ManageDir/}login" >管理登录</a> </p>
<a href="//weibo.com/zoomla" ><i class="zi zi_phone " zico="话筒黑"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_tmQq" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_tmWeixin" aria-hidden="true"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_msgchat" zico="聊天气泡"></i></a> <a href="//weibo.com/zoomla" ><i class="zi zi_tmWeibo" zico="微博"></i></a>
</div>
<div class="col-md-2">
<h5>功能导航</h5>
<ul>
<li><a href="/guest/" >留言反馈</a></li>
<li><a href="/baike" >站长百科</a></li>
<li><a href="/dai/" >真人试戴</a></li>
<li><a href="/Plugins/Camera" >在线拍照</a></li>
<li><a href="javascript:;" >快速帮助</a></li>
</ul>
</div>
<div class="col-md-2">
<h5>快速链接</h5>
<ul>
<li><a href="javascript:;" >法律声明</a></li>
<li><a href="javascript:;" >帮助中心</a></li>
<li><a href="javascript:;" >联系我们</a></li>
<li><a href="javascript:;" >网站地图</a></li>
<li><a href="/Tools/" >维护工具</a></li>
</ul>
</div>
<div class="col-md-3 footShow">
<h5>精彩提示</h5>
<ul>
<li><a href="/plat/"><img src="{$CssDir/}images/home_pic15.jpg" alt="事务中心"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic13.jpg" alt="目标控制"/></a></li>
<li><a href="/plat/blog"><img src="{$CssDir/}images/home_pic4.jpg" alt="日程管理"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic11.jpg" alt="客户资源"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic18.jpg" alt="办公审批"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic17.jpg" alt="企业百科"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic16.jpg" alt="内部邮箱"/></a></li>
<li><a href="/office"><img src="{$CssDir/}images/home_pic21.jpg" alt="日志博客"/></a></li>
</ul>
</div>
</div>
</div>
</footer>

<!--手机浮动最下面的客服代码，通过CSS中的MYbottom定义-->
<div class="d-block d-sm-none fixed-bottom MYbottom">
<a href="tel:021-50391046"><i class="zi zi_phone"></i> 联系官方服务热线</a> <a href="tel:13177777714"><i class="zi zi_service"></i> 24小时移动专家在线</a>
</div>
<div class="kefu">
<ul>
<li><a href="tel:021-50391046"><span>联系我们</span><i class="zi zi_phone zi_rotate90"></i></a></li>
<li><a href="http://wpa.qq.com/msgrd?v=3&uin=184886758&site=qq&menu=yes" ><span>QQ在线客服</span><i class="zi zi_tmQq" zico="qq"></i></a></li>
<li class="kefu_wechat"><a href="javascript:;"><span><img src="{$CssDir/}images/Big_Micro.jpg" alt="微信二维码" /></span><i class="zi zi_tmWeixin" zico="微信"></i></a></li>
<li><a href="/Guest" ><span>留言咨询</span><i class="zi zi_msgchat"></i></a></li>
<li class="kefu_qrcode"><a href="javascript:;"><span><img src="#" alt="微信二维码" />扫码分享到手机阅读</span><i class="zi zi_qrcode"></i></a></li>
</ul>
</div>
</div>
</template>
<template id="list">
    <div>
        <div class="bs-header">
            <div class="container">
               <h1>{{node.NodeName}}</h1>
                <p>脚比路更长+服务到现场+智慧的思想....</p>
            </div>
        </div>
        <main role="main">
            <div class="news_body">
                <div class="container">
                    <div class="row padding5">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12 padding10">
                            <div class="news_mySites">
                                <nav aria-label="breadcrumb" role="navigation" style="font-size: 0.9rem;">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item"><a>列表</a></li>
                                    </ol>
                                </nav>
                            </div><!--面包屑导航结束-->
                            <div class="news_list" v-for="n in nodes">
                                <div class="news_list_t"><a href="javascript:;">更多&gt;&gt;</a><h2>{{n.NodeName}}</h2><div class="clearfix"></div></div>
                                <div class="news_list_c">
                                    <ul class="list-unstyled">
                                        <li v-for="item in getList(n)"><span>{{item.CreateTime.split('T')[0]}}</span><i>1</i><a href="javascript:;" v-on:click="navToContent(item)">{{item.Title}}</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12 padding10">
                            <div class="news_list">
                                <div class="news_list_t"><h2>资讯中心</h2><div class="clearfix"></div></div>
                                <div class="news_list_l">
                                    <div class="row padding10">
                                        <ul class="list-unstyled w-100 d-flex flex-wrap">
                   
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="news_list">
                                <div class="news_list_t"><h2>热门文章</h2><div class="clearfix"></div></div>
                                <div class="news_list_c">
                                    <ul class="list-unstyled">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>
<template id="content">
<div>
    <div class="myBanner">
    <div class="container">
    <h3><br/><br/>逐浪软件</h3><br/>
    支持大数据与云计算的全平台网站构建系统。
    </div>
    </div><!--内页通栏banner广告位 -->
    <div class="news_body">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-12">
                <div class="news_mySites">
                <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" v-on:click="navToList()">{{node.NodeName}}</a></li>
                <li class="breadcrumb-item active">正文</li>
                </ol>
                </nav>
                </div><!--面包屑导航结束 -->
                <div class="myContent_l">
                <h1>{{conMod.Title}}</h1>
                <div class="myAbbr">
                <span id="CreateTime">发表：{{conMod.CreateTime.split('T')[0]}}</span> <span id="Hits">浏览数：0</span>
                </div>
                <div class="myContent" v-html="conMod.content"></div>
 
                <div class="conKeyword">
                </div>

    
                <!--con_share end-->

                <div class="mood">
                <form name="form2" method="post" action="/PubAction">
                <ul class="list-unstyled">
                <li><br/><span id="b1"><span id="bb1"></span></span><br/><img src="{$CssDir/}Images/b1.gif" /><br/>欠扁<br/><input type="radio" name="Mood"  onClick="mood(1)" value="1"></li>
                <li><br/><span id="b2"><span id="bb2"></span></span><br/><img src="{$CssDir/}Images/b2.gif" /><br/>超赞<br/><input type="radio" name="Mood" onClick="mood(2)" value="2"></li>
                <li><br/><span id="b3"><span id="bb3"></span></span><br/><img src="{$CssDir/}Images/b3.gif" /><br/>支持<br/><input type="radio" name="Mood"  onClick="mood(3)" value="3"></li>
                <li><br/><span id="b4"><span id="bb4"></span></span><br/><img src="{$CssDir/}Images/b4.gif" /><br/>难过<br/><input type="radio" name="Mood" onClick="mood(4)" value="4"></li>
                <li><br/><span id="b5"><span id="bb5"></span></span><br/><img src="{$CssDir/}Images/b5.gif" /><br/>搞笑<br/><input type="radio" name="Mood" onClick="mood(5)" value="5"></li>
                <li><br/><span id="b6"><span id="bb6"></span></span><br/><img src="{$CssDir/}Images/b6.gif" /><br/>扯淡<br/><input type="radio" name="Mood"  onClick="mood(6)" value="6"></li>
                <li><br/><span id="b7"><span id="bb7"></span></span> <br/><img src="{$CssDir/}Images/b7.gif" /><br/>不解<br/><input type="radio" name="Mood" onClick="mood(7)" value="7"></li>
                <li><br/><span id="b8"><span id="bb8"></span></span><br/><img src="{$CssDir/}Images/b8.gif" /><br/>头晕<br/><input type="radio" name="Mood" onClick="mood(8)" value="8"></li>
                </ul>
                <div class="clearfix"></div>
                <div style="display:none"> <input type="submit" name="button1" id="button1" value="提交"> </div>
                </form>
                <div>
                </div>
                </div>

                </div>
                </div>
                <div class="col-12 col-sm-3">
                        <div class="news_list">
                        <div class="news_list_t"><h2>分享</h2><div class="clearfix"></div></div>
                        <div class="news_share">
                        <div class="bdsharebuttonbox">
                        <a class="bds_more" href="#" data-cmd="more"></a>
                        <a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
                        <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
                        <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
                        <a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
                        <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                        </div>
                        </div>
                        </div>
                        <div class="news_list">
                        <div class="news_list_t"><h2>热门文章</h2><div class="clearfix"></div></div>
                        <div class="news_list_c">
                        <ul class="list-unstyled"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script src="/res/vue/vue.js"></script>
<script src="/res/vue/vue-router.min.js"></script>
<script src="/Template/V5/main.js"></script>
</body>
</html>