<?xml version="1.0" standalone="yes"?>
<IServer>
  <type>
    <name />
  </type>
  <type>
    <name>咨询</name>
  </type>
  <type>
    <name>投诉</name>
  </type>
  <type>
    <name>建议</name>
  </type>
  <type>
    <name>要求</name>
  </type>
  <type>
    <name>界面使用</name>
  </type>
  <type>
    <name>bug报告</name>
  </type>
  <type>
    <name>订单</name>
  </type>
  <type>
    <name>财务</name>
  </type>
  <type>
    <name>域名</name>
  </type>
  <type>
    <name>主机</name>
  </type>
  <type>
    <name>邮局</name>
  </type>
  <type>
    <name>DNS</name>
  </type>
  <type>
    <name>MSSQL</name>
  </type>
  <type>
    <name>MySQL</name>
  </type>
  <type>
    <name>IDC</name>
  </type>
  <type>
    <name>网站推广</name>
  </type>
  <type>
    <name>网站制作</name>
  </type>
  <type>
    <name>其它</name>
  </type>
</IServer>