@functions{
    //private B_ExTeacher bet = new B_ExTeacher();
    //private B_Exam_Class bqc = new B_Exam_Class();

    //protected void Page_Load(object sender, EventArgs e)
    //{
    //    if (!string.IsNullOrEmpty(Request.QueryString["menu"]) && Request.QueryString["menu"] == "delete")
    //    {
    //        int id = DataConverter.CLng(Request.QueryString["id"]);
    //        bet.DeleteByGroupID(id);
    //    }
    //    if (!IsPostBack)
    //    {
    //        MyBind();
    //    }
    //}
    //public void MyBind()
    //{
    //    DataTable dt = bet.Sel_All();
    //    RPT.DataSource = dt;
    //    RPT.DataBind();
    //}

    //public string GetTeachClass(string classid)
    //{
    //    M_Exam_Class mqc = bqc.GetSelect(DataConverter.CLng(classid));
    //    if (mqc != null && mqc.C_id > 0)
    //    {
    //        return mqc.C_ClassName;
    //    }
    //    else
    //    {
    //        return "";
    //    }
    //}
    //protected void txtPage_TextChanged(object sender, EventArgs e)
    //{
    //    MyBind();
    //}
    //protected void DropDownList1_SelectedIndexChanged(object sender, EventArgs e)
    //{
    //    MyBind();
    //}
    //protected void Button3_Click(object sender, EventArgs e)
    //{

    //    function.WriteSuccessMsg("操作成功!", "ExTeacherManage.aspx");
    //}

    //public string GetRemark(string remark)
    //{
    //    if (remark.Length > 25)
    //    {
    //        return remark.Substring(0, 25) + "...";
    //    }
    //    else
    //    {
    //        return remark;
    //    }
    //}

}
@section head{ <title>教师管理</title> }
@section content{ 
<div id="pageflag" data-nav="edu" data-ban="ke"></div>
    <div class="container margin_t5">
        <ol class="breadcrumb">
        <li><a href="/User/">用户中心</a></li>
        <li class="active">教师管理 [<a href="AddExTeacher.aspx">添加教师</a>]</li>
        </ol>
        </div>
    <div class="container">
    <table class="table table-striped table-bordered table-hover" id="EGV">
    <tr class="title">
        <td>
            
        </td>
        <td class="title">教师分类</td>
        <td class="title">教师名称</td>
        <td class="title">职位</td>
        <td class="title">授课</td>
        <td class="title">创建时间</td>
        <td class="title">老师信息</td>
        <td class="title">操作</td>
    </tr>
    <ZL:ExRepeater ID="RPT" PageSize="20" PagePre="<tr><td><input type='checkbox' id='chkAll'/></td><td colspan='7'><div class='text-center'>" PageEnd="</div></td></tr>" runat="server">
        <ItemTemplate>
            <tr>
                <td>
                    <input name="idchk" type="checkbox" value='<%#Eval("ID") %>' />
                </td>
                <td>
                    <%#Eval("TypeName")%>
                </td>
                <td>
                    <%#Eval("TName")%>
                </td>
                <td>
                    <%#Eval("Post")%>
                </td>
                <td>
                    <%#Eval("Teach")%>
                </td>
                <td>
                  <%#Eval("CreatTime")%>
                </td>
                <td>
                    <div><%#GetRemark(Eval("Remark").ToString()) %></div>
                </td>
                <td>
                    <a href="AddExTeacher.aspx?id=<%#Eval("ID")%>" class="option_style" title="修改"><i class="zi zi_pencilalt"></i></a> <a href="?menu=delete&id=<%#Eval("ID")%>" onclick="return confirm('确实要删除此教师吗？');" class="option_style" title="删除"><i class="zi zi_trashalt"></i></a>
                </td>
            </tr>
        </ItemTemplate>
        <FooterTemplate></FooterTemplate>
    </ZL:ExRepeater>
</table>
</div>
<div>
    </div>
<div class="container btn_green"><asp:Button ID="Button3" class="btn btn-primary" runat="server" OnClientClick="return confirm('不可恢复性删除数据,你确定将该数据删除吗？');" Text="批量删除" onclick="Button3_Click" /></div>
}
@section script{ 
    <script type="text/javascript" src="/js/Common.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#chkAll").click(function () {
                var allcheck = $(this)[0];
                $("input[name='idchk']").each(function () {
                    $(this)[0].checked = allcheck.checked;
                });
            });
        });
    </script>
}