<div>
    <div class="btn-group nav_header shop_con_nav">
        <a class="btn btn-info" href="/User/UserShop/Default">店铺基本信息</a>
        <a class="btn btn-info" href="/User/UserShop/ProductList">商品管理</a>
        <a class="btn btn-info" href="/User/UserShop/StockList">库存管理</a>
        <a class="btn btn-info" href="/User/UserShop/OrderList">订单管理</a>
        <a class="btn btn-info" href="/User/UserShop/OrderList?ordertype=10">代购订单</a>
        <a class="btn btn-info" href="~/BU/Order/Addon/back/OrderRepairAudit.aspx">返修退货</a>
        <a class="btn btn-info" href="~/BU/Order/SettleList.aspx">结算列表</a>
        <a class="btn btn-info" href="/User/UserShopSale/">销售记录</a>
        <a class="btn btn-info" href="/User/UserShop/DeliveryMan">配送员</a>
        <a class="btn btn-info" href="/User/UserShop/DeliverType">运费模块</a>
        <a class="btn btn-info" href="/User/UserShop/ArriveManage">优惠券</a>
        <a class="btn btn-info" href="~/BU/UserShop/GroupPro.aspx">单品促销</a>
    </div>
</div>