<aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">
        @*<li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="zi zi_list"></i></a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#settings" role="tab"><i class="zi zi_cog"></i></a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        @*<div class="tab-pane active" id="timeline" role="tabpanel">
            <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                <small><b>Today</b></small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout callout-warning m-0 py-3">
                <div class="avatar float-right">
                    <img src="~/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div>
                    Meeting with
                    <strong>Lucas</strong>
                </div>
                <small class="text-muted mr-3"><i class="zi zi_calendar"></i>&nbsp; 1 - 3pm</small>
                <small class="text-muted"><i class="zi zi_locationarrow"></i>&nbsp; Palo Alto, CA </small>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-info m-0 py-3">
                <div class="avatar float-right">
                    <img src="~/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div>
                    Skype with
                    <strong>Megan</strong>
                </div>
                <small class="text-muted mr-3"><i class="zi zi_calendar"></i>&nbsp; 4 - 5pm</small>
                <small class="text-muted"><i class="zi zi_users"></i>&nbsp; On-line </small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                <small><b>Tomorrow</b></small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout callout-danger m-0 py-3">
                <div>
                    New UI Project -
                    <strong>deadline</strong>
                </div>
                <small class="text-muted mr-3"><i class="zi zi_calendar"></i>&nbsp; 10 - 11pm</small>
                <small class="text-muted"><i class="zi zi_home"></i>&nbsp; creativeLabs HQ </small>
                <div class="avatars-stack mt-2">
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                </div>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-success m-0 py-3">
                <div>
                    <strong>#10 Startups.Garden</strong> Meetup
                </div>
                <small class="text-muted mr-3"><i class="zi zi_calendar"></i>&nbsp; 1 - 3pm</small>
                <small class="text-muted"><i class="zi zi_locationarrow"></i>&nbsp; Palo Alto, CA </small>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-primary m-0 py-3">
                <div>
                    <strong>文档中心</strong>
                </div>
                <small class="text-muted mr-3"><i class="zi zi_calendar"></i>&nbsp; 4 - 6pm</small>
                <small class="text-muted"><i class="zi zi_home"></i>&nbsp; creativeLabs HQ </small>
                <div class="avatars-stack mt-2">
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div class="avatar avatar-xs">
                        <img src="~/img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                </div>
            </div>
            <hr class="mx-3 my-0">
        </div>*@
        <div class="tab-pane p-3 active" id="settings" role="tabpanel">
            <h6>设置中心</h6>
            <div class="aside-options">
                <div class="clearfix mt-4">
                    <small><b>公文传送</b></small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                        <input type="checkbox" class="switch-input" checked="">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
                <div>
                    <small class="text-muted">"吾日三省吾身——为人谋而不忠乎?与朋友交而不信乎?传不习乎?”出自《论语·学而》</small>
                </div>
            </div>
            <div class="aside-options">
                <div class="clearfix mt-3">
                    <small><b>人力信息管理</b></small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
                <div>
                    <small class="text-muted">集团2季度财务报表审核的通知.</small>
                </div>
            </div>
            <div class="aside-options">
                <div class="clearfix mt-3">
                    <small><b>消息推送</b></small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            <div class="aside-options">
                <div class="clearfix mt-3">
                    <small><b>能力中心</b></small>
                    <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                        <input type="checkbox" class="switch-input" checked="">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            <hr>
            <h6>资源统计</h6>
            <div class="text-uppercase mb-1 mt-4">
                <small><b>CPU占用</b></small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">348 Processes. 1/4 Cores.</small>
            <div class="text-uppercase mb-1 mt-2">
                <small><b>内存使用</b></small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">11444GB/16384MB</small>
            <div class="text-uppercase mb-1 mt-2">
                <small><b>邮件空间</b></small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">243GB/256GB</small>
            <div class="text-uppercase mb-1 mt-2">
                <small><b>图库空间</b></small>
            </div>
            <div class="progress progress-xs">
                <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">25GB/256GB</small>
        </div>
    </div>
</aside>
