@model ZoomLa.Model.M_Payment
@{ 
   Layout = "/Views/Cart/_layout.cshtml";
   string PayMethod = Context.Request.GetParam("method");
}
@section head{ <title>支付完成</title>}
@section content{
<div class="progress carpro">
    <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><h1>在线支付</h1></div>
</div>
<div class="mainpay_div container cartbody">
<div class="paytable" id="AfterPay_Tb">
        <div class="p_center">
            <div class="pay_tab">
                <strong>恭喜您,下单成功！</strong><br />
            </div>
            <div class="PayPlat_s payed">
                <h3 class="r_green">确认款项：</h3>
                <div>支付方式：@ViewBag.vname</div>
                <div>订单号：@Model.PaymentNum</div>
                <div>支付金额：@Model.MoneyTrue.ToString("F2")</div>
                @if (string.IsNullOrEmpty(PayMethod))
                {
                    <div>@(ViewBag.vname+"："+ViewBag.vmoney)</div>
                }
                else
                { 
                    <div id="ActualAmount">实际金额：@Model.MoneyTrue.ToString("F2")</div>
                }
                <div>
                    <a href="/User/Order/OrderList" class="btn btn-info">我的订单</a>
                </div>
            </div>
        </div>
    </div>
</div>
 }
@section script{ 

}