@using ZoomLa.Common
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    int status = DataConverter.CLng(Request["status"], -1);
}
@section head{
    <title>班级成员</title>
}
@section content{
<div id="BreadDiv" class="container-fluid mysite">
    <div class="row">
        <ol class="breadcrumb navbar-fixed-top">
            <li><a href='@(CustomerPageAction.customPath2)Main.aspx'>工作台</a></li>
            <li><a href='@(CustomerPageAction.customPath2)User/UserManage.aspx'>会员管理</a></li>
            <li><a href='ClassRoomManage'>班级管理</a></li>
            <li class='active'>班级成员</li>
        </ol>
    </div>
</div>
@Html.Partial("StudentList_List")
<div id="Option_Div">
    <button type="button" class="btn btn-primary" onclick='mvcpage.bat({url: "Student_Audit"});'>批量审核</button>
    <button type="button" class="btn btn-primary" onclick='mvcpage.bat({url: "Student_UnAudit"});'>批量拒绝</button>
    <button type="button" class="btn btn-primary" onclick='mvcpage.bat({url: "Student_Del", confirm: "确定要删除选中记录吗"});'>批量删除</button>
</div>
}
@section script{
<script>
    $(function () {
        InitTab(@status);
    });
    function InitTab(id) {
        $("[data-tabid]").removeClass("active");
        $("[data-tabid='" + id + "']").addClass("active");
    }
</script>
}