@functions{
    //public partial class HostList : System.Web.UI.Page
    //    {
    //        B_CodeModel hostBll=new B_CodeModel("ZL_FZ_User");
    //        protected void Page_Load(object sender, EventArgs e)
    //        {
    //            if (!IsPostBack)
    //            {
    //                MyBind();
    //                Call.SetBreadCrumb(Master, "<li><a href='" + CustomerPageAction.customPath2 + "Main.aspx'>工作台</a></li><li><a href='Default.aspx'>站群管理</a></li><li><a href='" + Request.RawUrl + "'>主机管理</a></li>");
    //            }
    //        }
    //        private void MyBind()
    //        {
    //            EGV.DataSource = hostBll.Sel();
    //            EGV.DataBind();
    //        }
    //                protected void EGV_PageIndexChanging(object sender, GridViewPageEventArgs e)
    //        {
    //            EGV.PageIndex = e.NewPageIndex;
    //            MyBind();
    //        }
    //        protected void EGV_RowCommand(object sender, GridViewCommandEventArgs e)
    //        {

    //        }
    //        protected void EGV_RowDataBound(object sender, GridViewRowEventArgs e)
    //        {
    //            if (e.Row != null && e.Row.RowType == DataControlRowType.DataRow)
    //            {
    //                DataRowView dr = e.Row.DataItem as DataRowView;
    //                e.Row.Attributes.Add("ondblclick", "location='HostAdd.aspx?name=" + HttpUtility.UrlEncode(DataConvert.CStr(dr["name"])) + "'");
    //            }
    //        }
    //    }

}
@section head{<title>主机管理</title>}
@section content{ 
    @Call.SetBread(new Bread[] {
		new Bread("{admin}"),
        new Bread("Default","站群管理"),
        new Bread() {url=Context.Request.RawUrl(), text="主机管理",addon="" }}
		)
<ZL:ExGridView ID="EGV" runat="server" AutoGenerateColumns="False" PageSize="10" IsHoldState="false" 
    OnPageIndexChanging="EGV_PageIndexChanging" AllowPaging="True" AllowSorting="True" OnRowCommand="EGV_RowCommand" OnRowDataBound="EGV_RowDataBound"
    CssClass="table table-striped table-bordered table-hover list_choice" EnableTheming="False" EnableModelValidation="True" EmptyDataText="数据为空">
    <Columns>
        <asp:TemplateField HeaderText="站点名称"><ItemTemplate>
            <a href="HostAdd.aspx?name=<%#HttpUtility.UrlEncode(Eval("Name","")) %>"><%#Eval("SiteInfo") %></a>
                                             </ItemTemplate></asp:TemplateField>
        <asp:BoundField HeaderText="FTP用户名" DataField="Name" ItemStyle-CssClass="td_l" />
        <asp:BoundField HeaderText="FTP密码" DataField="UserPwd" ItemStyle-CssClass="td_l" />
        <asp:BoundField DataField="CDate" DataFormatString="{0:yyyy年MM月dd日}" HeaderText="创建时间" ItemStyle-CssClass="td_l" />
        <asp:BoundField DataField="EndDate" DataFormatString="{0:yyyy年MM月dd日}" HeaderText="到期时间" ItemStyle-CssClass="td_l" />
        <asp:TemplateField HeaderText="操作" ItemStyle-CssClass="td_m">
            <ItemTemplate>
                <a href="HostAdd.aspx?name=<%#HttpUtility.UrlEncode(Eval("Name","")) %>"><i class="zi zi_pencilalt"></i></a>
            </ItemTemplate>
        </asp:TemplateField>
    </Columns>
</ZL:ExGridView>
}
