@functions{ 
    //public partial class SiteCloudSetup : CustomerPageAction
    //   {
    //       protected IISHelper iisHelper = new IISHelper();

    //       protected DataTable dt = new DataTable();
    //       protected EnviorHelper enHelper = new EnviorHelper();
    //       protected void Page_PreInit(object sender, EventArgs e)
    //       {
    //           //此处控件未实例化，不能对控件进行操作
    //           if (!string.IsNullOrEmpty(Request.QueryString["remote"]))
    //           {
    //               this.MasterPageFile = "~/manage/Site/OptionMaster.master";
    //           }
    //       }
    //       protected void Page_Load(object sender, EventArgs e)
    //       {
    //           IdentityAnalogue ia = new IdentityAnalogue();
    //           ia.CheckEnableSA();
    //           if (!IsPostBack)
    //           {
    //               codeSource.Text = StationGroup.CodeSourceUrl;
    //               zipSavePath.Text = StationGroup.ZipSavePath;

    //               serverIP.Text = enHelper.GetServerIP();

    //               dt = iisHelper.GetWebSiteList();
    //               siteListDP.DataSource = dt;
    //               siteListDP.DataTextField = "siteName";
    //               siteListDP.DataValueField = "siteName";
    //               siteListDP.DataBind();
    //               siteListDP.Items.Insert(0, "请选择站点");
    //               siteListDP.Items.Insert(1, "新建站点");
    //               siteListDP.Items[1].Attributes["style"] = "color:red;";
    //               if (!string.IsNullOrEmpty(Request.QueryString["siteName"]))
    //               {
    //                   siteListDP.SelectedValue = Request.QueryString["siteName"];
    //                   setupBtn.Style.Remove("display");
    //               }
    //           }
    //           Call.HideBread(Master);
    //       }
    //       protected void siteListDP_SelectedIndexChanged(object sender, EventArgs e)
    //       {

    //           if (siteListDP.SelectedIndex > 2)//不是默认站点
    //           {
    //               setupBtn.Visible = true;
    //           }
    //           else if (siteListDP.SelectedIndex == 1)//新建站点
    //           {
    //               Page.ClientScript.RegisterStartupScript(this.GetType(), "", "newSite();", true);
    //               setupBtn.Visible = false;
    //           }
    //           else
    //           {
    //               setupBtn.Visible = false;
    //           }
    //           #region(Disuse)
    //           //if (ViewState["siteList"] != null)
    //           //{
    //           //    dt = ViewState["siteList"] as DataTable;
    //           //}
    //           //else 
    //           //{ 
    //           //    dt = iisHelper.GetWebSiteList();
    //           //}
    //           //dt.DefaultView.RowFilter = "siteName = '" + siteListDP.SelectedValue + "'";
    //           //DataTable tempDT = dt.DefaultView.ToTable();
    //           //if (tempDT != null && tempDT.Rows.Count > 0)
    //           //{
    //           //    sitePort.InnerText = "端口："+tempDT.Rows[0]["sitePort"].ToString();
    //           //    domain.InnerText = "域名：" + tempDT.Rows[0]["Domain"].ToString();
    //           //}
    //           #endregion
    //       }
    //       protected void saveBtn_Click(object sender, EventArgs e)
    //       {
    //           StationGroup.CodeSourceUrl = codeSource.Text.Trim();
    //           StationGroup.ZipSavePath = zipSavePath.Text.Trim();
    //           //setupPath.Text = setupPath.Text.Trim();//安装路径,如无/加上
    //           //StationGroup.SetupPath = setupPath.Text.EndsWith("\\") ? setupPath.Text : setupPath.Text += "\\";
    //           StationGroup.Update();
    //           if (siteListDP.SelectedIndex > 2)
    //           {
    //               Response.Redirect("SiteCloudSetup.aspx?siteName=" + siteListDP.SelectedValue);
    //           }
    //       }
    //       //Restored to the orginal address
    //       protected void ResetUrl_Click(object sender, EventArgs e)
    //       {
    //           codeSource.Text = StationGroup.BackupUrl;
    //       }
    //       protected void setupBtn_Click(object sender, EventArgs e)
    //       {
    //           string siteName = siteListDP.SelectedValue;
    //           Response.Redirect("SiteFileManage.aspx?SiteName=" + Server.UrlEncode(siteName) + "&index=0&command=beginSetup");
    //       }
    //   }

}
@section head{<title>快云安装</title> }
@section content{ 
@Call.SetBread(new Bread[] {
	new Bread("{admin}"),
	new Bread("Default","站群中心"),
	new Bread() {url=Context.Request.RawUrl(), text="快云安装",addon="" }}
	)

<div id="CSWSDiv" class="list_choice">

    <table class="table table-bordered table-striped">
        <tr><th class="w12rem_lg">文件来源</th><td>
             <div class="input-group">
                <input type="text" ID="codeSource" class="form-control max20rem" />
                <span class="input-group-append">
                    <input type="button" value="恢复为原始地址" class="btn btn-info" />
                </span>
            </div></td></tr>
        <tr><th>目标站点</th><td>
            <select ID="siteListDP" onchange="dpChange(this);" class="form-control max20rem">
                <option>请选择站点</option>
            </select>
            <input type="button" ID="setupBtn" value="开始下载安装" Style="display: none;" class="btn btn-info" OnClick="setupBtn_Click" />
        </td></tr>
        <tr><th>存放地址</th>
        <td><input type="text" ID="zipSavePath" class="form-control max20rem" /></td></tr>
        <tr><th>服务器IP</th><td><label ID="serverIP"></label></td></tr>
        <tr><th>管理操作</th><td>
            <input type="submit" ID="saveBtn" value="保存" class="btn btn-outline-info"/>
            <a href="Default" class="btn btn-outline-info" >返回站点列表</a>
        </td></tr>
    </table>
    @*<ul class="list-unstyled">
           <li style="display: none;">
        <strong>绑定信息：</strong>
        <label runat="server" id="sitePort" style='position: relative; bottom: 5px;'>请选择站点</label>
        <label runat="server" id="domain" style='position: relative; bottom: 5px; margin-left: 8px;'></label>
    </li>
           <li>
        <strong>安装路径：</strong><asp:TextBox runat="server" ID="setupPath" class="site_input" Style="width: 315px;"></asp:TextBox>例:/为安装在网站根目录
        <asp:RegularExpressionValidator runat="server" ID="spValid" ControlToValidate="setupPath" ValidationExpression="^/[\w\W]*"
            ErrorMessage="格式不正确,必须以/开头" Display="Dynamic" />
        <asp:RequiredFieldValidator runat="server" ControlToValidate="setupPath" ErrorMessage="安装路径不能为空，推荐为/" Display="Dynamic" />
    </li>
    </ul>*@
</div><!--Main End-->
}
@section script{ 
    <script type="text/javascript">
        function dpChange(obj) {
            var index = $(obj).find("option:selected").index();
            if (index > 2) {
                $("#<%=setupBtn.ClientID%>").css("display", "");
            }
            else if (index == 1) {
                $("#<%=setupBtn.ClientID%>").css("display", "none");
                newSite();
            }
            else {
                $("#<%=setupBtn.ClientID%>").css("display", "none");
            }
    }

    function newSite() {//打开新站点，对话框
        ShowComDiag("CreateSite.aspx","新建站点");
    }
    function CreateSuccess()
    {
        CloseComDiag();
        location = location;
    }
    </script>
}