@{
    DataTable dt = new B_Group().Select_All();
    dt.Columns["GroupID"].ColumnName = "id";
    dt.Columns["ParentGroupID"].ColumnName = "ParentID";
    C_BootTreeView tv = new C_BootTreeView();
    tv.textTlp = "<i class='zi zi_users'></i> @GroupName";

}
@section head{<title>部门信息</title>}
@section content{
    @ERPHelper.SetBread(new Bread[] {
    new Bread("UserManage","员工信息"),
    new Bread(Context.Request.RawUrl(),"部门信息")
    })
    <div id="tree"></div>
    <input type="hidden" ID="data_hid" value="@tv.CreateTreeView(dt)" />
}
@section script{
    <link href="/Plugins/Third/treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="/Plugins/Third/treeview/bootstrap-treeview.js"></script>
    <script>
$(function () {
    var tree = JSON.parse($("#data_hid").val());
    tree = [{ text: "全部",icon:"fa fa-global", href: "0", nodes: tree }];
    $('#tree').treeview({
        data: tree,
        onNodeSelected: function (event, node) {
            $("#NodeID").val(node.href);
            mvcpage.load();
        },
        onNodeUnselected: function (event, node) {
        }
    });
})

    </script>

}