@{
}
<link href="/JS/Plugs/shortPwd/shortPwd.css" rel="stylesheet" />
<span class="shortPwd" node-type="shortPassword">
    <input type="tel" class="shortPwd-input" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" autofocus="autofocus" />
    <input type="tel" class="shortPwd-input" id="pass" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" />
    <input type="tel" class="shortPwd-input" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" />
    <input type="tel" class="shortPwd-input" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" />
    <input type="tel" class="shortPwd-input" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" />
    <input type="tel" class="shortPwd-input" id="pass" node-type="shortPassword-input" autocomplete="new-password" maxlength="1" />
    <input type="password" name="shortPwd_t" id="shortPwd_t" class="shortPwd-hidden" node-type="shortPassword-value" maxlength="6" />
</span>
<script src="/JS/Plugs/shortPwd/shortPwd.js"></script>
<script>
 shortPassword();
//password =>number
window.onload = init;
function init(){
	var x = document.getElementById("pass");
	var style = window.getComputedStyle(x);
	if(style.webkitTextSecurity){
		//do nothing
	}else{
		x.setAttribute("type","password");
	}
}
</script>