@model ZoomLa.Model.M_UserInfo
@{
    //找回密码的方式
    string step = ViewBag.step;
    Layout = "~/Areas/User/Views/Index/_RegisterLayout.cshtml";
	}
@section head{
<script src="../../dist/js/trianglify.min.js"></script>
<title>找回密码-@Call.SiteName</title>
}
@section content{
<div id="svgbg"></div>
<center class="u_loginGetpw" >
<form id="form1" method="post">
<main class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3 u_login">
<h1>找回密码</h1>
<ul>
@switch (step)
{
    case "answer":
        {
            <li><i class="zi zi_user"></i><input type="text" id="TxtUserName" name="TxtUserName" placeholder="输入会员名" class="form-control text_max required " title="会员名不能为空" /></li>
            <li>密码问题：<input type="text" id="Question_T" name="Question_T" class="form-control text_max required" title="问题不能为空" placeholder="请输入问题" /></li>
            <li>密码答案：<input type="text" id="Answer_T" name="Answer_T" class="form-control text_max required" title="答案不能为空" placeholder="请输入答案" /></li>
            <li><input type="button" value="提交" class="btn btn-primary" onclick="submitform('@step');"/></li>
        }
        break;
    case "email":
        {
            <li><i class="zi zi_user"></i><input type="text" id="TxtUserName" name="TxtUserName" placeholder="输入会员名" class="form-control text_max required form_inputs" title="会员名不能为空" /></li>
            <li class="margin_t5">
                <i class="zi zi_qrcode"></i>
                <div class="form-group">
                    <div>
                       @Html.Partial("Verify/Index")
                    </div>
                </div>
            </li>
            <div>
                <button type="button" class="btn btn-info btn-block" onclick="submitform('email');"><i class="zi zi_envelopeBold" aria-hidden="true"></i> 发送密码重置邮件</button>
                <button type="button" class="btn btn-outline-info btn-block" onclick="submitform('mobile');"><i class="zi zi_mobilealt zi_2x" aria-hidden="true"></i> 申请密码重置短信</button>
            </div>
        }
        break;
    case "mobile_code":
        {
            <li><input type="text" id="CheckCode_T" name="CheckCode_T" class="form-control required" placeholder="请输入校验码" title="校验码不能为空" /></li>
            <li class="margin_t5"><input type="submit" id="ValidMobile_Btn" class="btn btn-info" value="验证手机" onclick="submitform('@step');" /></li>
        }
        break;
    case "final":
        {
            <li><input type="password" id="TxtPassword" name="TxtPassword" class="form-control" placeholder="新密码" /></li>
            <li class="margin_t5">
                <input type="password" id="TxtConfirmPassword" name="TxtConfirmPassword" class="form-control" placeholder="确认密码" />
                <input type="button" id="Final_Btn" onclick="submitform('@step');" class="btn btn-primary margin_t5" value="修改密码"/>
            </li>
        }
        break;
}
</ul>
</div>
</div>
</main>
</form>
</center>
}
@section script{
<script src="/JS/jquery.validate.min.js"></script>
<script>
$(function () {
    $("#TxtUserName").focus();
    $("form").validate({
        rules: {
            TxtPassword: { required: true },
            TxtConfirmPassword: { required: true, equalTo: "#TxtPassword" }
        }
    });
});
function submitform(type) {
    var $form = $("#form1");
    var query = "@MvcHtmlString.Create("?"+HttpUtility.UrlDecode(Request.QueryString.ToString()))";
    switch (type) {
        case "answer":
            $form.attr("action", "GetPassword_Answer" + query);
            break;
        case "email":
            $form.attr("action", "GetPassword_Email" + query);
            break;
        case "mobile":
            $form.attr("action", "GetPassword_Mobile" + query);
            break;
        case "mobile_code":
            $form.attr("action", "GetPassword_Mobile_Code" + query);
            break;
        case "final":
            $form.attr("action", "GetPassword_Final" + query);
            break;
    }
    $form.submit();
}
//智能背景
var pattern = Trianglify({
	width: window.innerWidth,
	height: window.innerHeight,
	x_colors: "YlGn"
});
var canvas = pattern.svg();
canvas.style.position = "absolute";
canvas.style.top = 0;
canvas.style.left = 0;
document.getElementById("svgbg").appendChild(canvas);
</script>
}