<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="5CC10A78B159F6E6024BAF030F4D6FACBCE0FCFE1221F6D4FA26BE4BF2149E5F96D5D7729CD7920AD1A2422C4416CC6EE3D1960AF5B2CB5D0189A943D0963228F59DDBD714215ECEB573D4029200A4EB9DE9EE182E4402C0B39B713C9C692E5F" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>