<?xml version="1.0"?>
<SMS>
  <Tlp_Reg>您的校验码:{vcode}.</Tlp_Reg>
  <Tlp_GetBack>你正在使用找回密码服务,校验码:{code}</Tlp_GetBack>
  <Tlp_ChangeMobile>你正在使用手机号码修改服务,校验码:{code}</Tlp_ChangeMobile>
  <QCloud_APPID></QCloud_APPID>
  <QCloud_APPKey></QCloud_APPKey>
  <QCloud_Sign></QCloud_Sign>
  <Aliyun_VCodeTlp>0</Aliyun_VCodeTlp>
  <MssUser />
  <MssPsw />
  <G_uid />
  <G_eid />
  <G_pwd />
  <G_gate_id />
  <sms_key />
  <sms_pwd />
  <DefaultSMS>0</DefaultSMS>
</SMS>