@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    
}
@section head{
<title>旅游订单管理</title>
}
@section content{
<div id="pageflag" data-nav="shop" data-ban="shop"></div>
<div class="container">
<nav aria-label="breadcrumb" role="navigation">
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
	<li class="breadcrumb-item active">旅游订单管理</li>
</ol>
</nav>
</div>
<div class="container">
    @Html.Partial("OrderTop")
</div>
<div class="container btn_green margin_t10">
    @Html.Partial("TripOrder_List",Model)
</div>
<script>
//导航处理
	$("#usernav1 ul li").removeClass("active").siblings().eq(2).addClass("active");
</script>
}
@section script{

}