<ion-view view-title="资讯中心">
<ion-header-bar class="bar-calm bar bar-header" align-title="center">
<button class="button icon ion-chevron-left" ng-click="$ionicGoBack()" ui-sref="tab.dash"></button>
<div class="title title-center header-item">{{nodename}}</div>
</ion-header-bar>
<ion-content>
<ion-refresher on-refresh="pulldown.refresh();" pulling-text="松开加载最新" refreshing-text="正在努力加载..." refreshing-icon="ion-loading-b"></ion-refresher>
<div class="video_list">
<div class="video_list_c" ng-repeat="item in articlelist">
<a href="#/news/videocont/{{item.generalid}}">
<div class="video_list_cb"></div>
<img class="media-object" ng-src="/UploadFiles/{{item.pic}}" alt="{{item.title}}" onerror="javascript:this.src='/UploadFiles/nopic.gif';" />
<div class="video_list_cp">
<h3>{{item.title}}</h3>
<p><span>{{item.createtime | date:"yyyy-MM-dd HH:mm:ss"}}</span></p>
</div>
</a>
</div>
</div>
<div class="h48"></div>
<ion-infinite-scroll ng-if="pullup.canbeload" on-infinite="pullup.load();" distance="1%"></ion-infinite-scroll>
</ion-content>
</ion-view>