<ion-view cache-view="false">
<ion-header-bar class="bar-calm bar bar-header" align-title="center">
<button class="button icon ion-chevron-left" ng-click="$ionicGoBack()" ui-sref="tab.dash"></button>
<div class="title title-center header-item">{{type=='1'?'临化连锁':'有机农庄'}}</div>
</ion-header-bar>
<ion-content>
<ion-refresher on-refresh="pulldown.refresh();" pulling-text="松开加载最新" refreshing-text="正在努力加载..." refreshing-icon="ion-loading-b"></ion-refresher>
<div class="shop_list">
<div class="shop_list_c" ng-repeat="item in shoplist">
<div class="shop_list_cp">
<a href="#/shop/detail/{{item.generalid}}"><img ng-src="/UploadFiles/{{item.logo}}" alt="" /></a>
<h3>{{item.storename}}</h3>
<p>联系人：{{item.lxr}}<br/>
联系方式：{{item.tel}}<br/>
联系地址：{{item.addr}}</p>
</div>
</div>
</div>
<div class="h48"></div>
<ion-infinite-scroll ng-if="pullup.canbeload" on-infinite="pullup.load();" distance="1%"></ion-infinite-scroll>
</ion-content>
</ion-view>