@section head{ <title>NoSql提示</title>}
@section content{ 



<div class="jumbotron">
  <h1 class="display-3">未提供该服务</h1>
  <p class="lead">当前站点基于NoSQL模式,如需要进一步服务请联系站长获取.</p>
  <hr class="my-4">
  <p>有趣的灵魂，总是万里挑一。</p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-lg" href="//help.z01.com" role="button" target="_blank">Learn more</a>
  </p>
</div>


}
@section script{ 

}