@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
@Html.Partial("_layout_assets")
<link href="/App_Themes/V4.css" rel="stylesheet"/>
@RenderSection("head")
</head>
<body>
@RenderSection("content")
@RenderSection("script")
</body>
</html>

