<div style="margin-bottom:5px;">
    <div class="btn-group">
        <a href="MessageSend" class="btn btn-info">新消息</a>
        <a href="Message" class="btn btn-info">收件箱</a>
        <a href="MessageOutbox" class="btn btn-info">发件箱</a>
        <a href="MessageDraftbox" class="btn btn-info">草稿箱</a>
        <a href="MessageRecycle" class="btn btn-info">垃圾箱</a>
    </div>
    <div class="input-group" style="width: 350px;float:right;">
        <input type="text" id="skey_t" class="form-control text_300 mvcparam" placeholder="请输入邮件名称" />
        <span class="input-group-append">
            <input type="button" id="skey_btn" class="btn btn-outline-secondary" value="搜索" onclick="mvcpage.load();" />
        </span>
    </div>
</div>