@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc
@model PageModel
@functions{
    [Authorize(Policy = ("Admin"))]
    public class PageModel : Page_Base
    {
        public IActionResult OnGet()
        {
            return Page();
        }
        public IActionResult OnPost()
        {
            string ids = GetParam("ids");
            //switch (action)
            //{
            //    case "audit":
            //        SafeSC.CheckIDSEx(ids);
            //        DBCenter.UpdateSQL(jzrBll.TbName, "ZStatus=99", "ID IN (" + ids + ")");
            //        break;
            //    case "unaudit":
            //        SafeSC.CheckIDSEx(ids);
            //        DBCenter.UpdateSQL(jzrBll.TbName, "ZStatus=99", "ID IN (" + ids + ")");
            //        break;
            //    default:
            //        GetData();
            //        return new PartialViewResult()
            //        {
            //            ViewName = "JZR_List",
            //            ViewData = ViewData,
            //            TempData = TempData
            //        };
            //        break;
            //}
            return Content(Success.ToString());
        }
        public IActionResult OnPostSave()
        {
            return Page();
        }
    }
}
@{ 
       Layout = "_empty";
}
@section head{ }
@section content{ 
<div class="input-group" style="margin-bottom:5px;">
    <input type="text" class="form-control mvcparam" id="uname" placeholder="请输入关键词" />
    <span class="input-group-append"><input type="button" class="btn btn-info" onclick="mvcpage.load();" value="筛选数据" /></span>
    <form method="post">
        <button type="submit" class="btn btn-info" asp-page-handler="Save">提交事件</button>
    </form>
</div>
@if (Model.setting != null)
{
    @Html.Partial("FormManage_List")
}


}
@section script{ }