@model ZoomLa.SQLDAL.SQL.PageSetting
@{ 

}
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <td></td>
    </tr>
</thead>
    @foreach (DataRow dr in Model.dt.Rows)
    {

    }
</table>
<ZL:ExGridView ID="EGV" runat="server" PageSize="20" AllowPaging="True" AutoGenerateColumns="False" OnRowCommand="EGV_RowCommand" OnRowDataBound="EGV_RowDataBound"
        CssClass="table table-striped table-bordered table-hover" OnPageIndexChanging="EGV_PageIndexChanging" EnableTheming="False" EmptyDataText="当前没有数据！" >
        <Columns>
            <asp:TemplateField>
                <ItemTemplate>
                    <input type="checkbox" name="idchk" value='<%# Eval("ID") %>'  />
                </ItemTemplate>
            </asp:TemplateField>
            <asp:BoundField HeaderText="优惠活动名" DataField="PromoName" />
            <asp:BoundField HeaderText="开始时间" DataField="StartTime" DataFormatString="{0:yyyy-Mm-dd HH:mm:ss}" />
            <asp:BoundField HeaderText="结束时间" DataField="EndTime" DataFormatString="{0:yyyy-MM-dd HH:mm:ss}" />
            <asp:BoundField HeaderText="金额下限" DataField="MoneyLL" DataFormatString="{0:f2}" />
            <asp:BoundField HeaderText="金额上限" DataField="MoneyUL" DataFormatString="{0:f2}" />
            @*<%--<asp:TemplateField HeaderText="优惠方式">
                <ItemTemplate><%#Eval("ZType") %></ItemTemplate>
            </asp:TemplateField>--%>*@
            <asp:BoundField HeaderText="创建时间" DataField="CreateTime" DataFormatString="{0:yyyy-MM-dd HH:mm:ss}" />
            <asp:TemplateField HeaderText="操作">
                <ItemTemplate>
				<div class="alert alert-light">
                    <a href="PromoAdd.aspx?id=<%#Eval("ID") %>"><i class="zi zi_pencilalt"></i>修改</a>
                    <asp:LinkButton runat="server" CommandName="del" CommandArgument='<%#Eval("ID") %>' OnClientClick="return confirm('确认删除这条数据吗?');"><i class="zi zi_trashalt"></i>删除</asp:LinkButton>
				</div>
                </ItemTemplate>
            </asp:TemplateField>
        </Columns>
    </ZL:ExGridView>