<?xml version="1.0" encoding="utf-8"?>
<Content>
  <add key="Version" value="V8.1.3 正式|200116" />
  <add key="DBType" value="mssql" />
  <add key="Plugins" value="1" />
  <add key="SYSCloseSite" value="0" />
  <add key="SYSDebug" value="0" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</Content>