<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<link href="/res/css/bootstrap.min.css" rel="stylesheet"/>
<link  href="/res/css/swiper.min.css" rel="stylesheet">
<link  href="/res/css/zico.min.css" rel="stylesheet">
<link href="/theme/css/v4style.css?v=@(ZoomLa.BLL.BLLCommon.Version_JS)" rel="stylesheet"/>
<script src="/res/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js" ></script>
@RenderSection("head",false)
</head>
<body>
@RenderSection("content", false)
@RenderSection("Script", false)
</body>
</html>