<div class="empty_div" style="color:#999;text-align:center;">
    <div style="font-size:12rem;"><i class="zi zi_openMsg"></i></div>
    <div style="font-size:1.2rem;position:relative;top:-2rem;">没有数据信息</div>
</div>