<?xml version="1.0"?>
<WaterModuleConfig>
  <WaterConfig>
    <IsUsed>true</IsUsed>
    <EnableUserWater>false</EnableUserWater>
    <imageWidth>0</imageWidth>
    <imageHeigh>0</imageHeigh>
    <WaterClassType>3</WaterClassType>
    <WaterClass>1</WaterClass>
    <imgLogo>/UploadFiles/admin/admin1/201904041927TZL8.png</imgLogo>
    <imgAlph>40</imgAlph>
    <WaterWord>逐浪软件11</WaterWord>
    <WaterWordType>Book Antiqua</WaterWordType>
    <WaterWordStyle>2</WaterWordStyle>
    <WaterWordSize>30</WaterWordSize>
    <WaterWordColor>#00FF33</WaterWordColor>
    <WaterWordAlph>11</WaterWordAlph>
    <lopostion>9</lopostion>
    <loX>200</loX>
    <loY>200</loY>
    <WaterImgs>[]</WaterImgs>
  </WaterConfig>
</WaterModuleConfig>