@using ZoomLa.Model.Extend
@using ZoomLa.BLL.Extend
@model ZoomLa.Model.Extend.M_AD_Info
@{ 
   
}
<style>
    .wrapper {overflow: hidden;}
    .ad_gdwz .content {width:486px; margin:0 auto;min-height:1200px;}
    .ad_gdwz .gdwz_sidebar {width:284px; padding:10px; background: #eee; float:right; height:auto;right:50px;text-decoration:none}
    .ad_gdwz #portamento_container {float:right; position:relative;} /* take the positioning of the sidebar, and become the start point for the sidebar positioning */
    .ad_gdwz #portamento_container .gdwz_sidebar {float:none; position:absolute;} /* no need to float anymore, become absolutely positoned */
    .ad_gdwz #portamento_container .gdwz_sidebar.fixed {position:fixed;} /* if the panel is sliding, it needs position:fixed */
    .ad_gdwz .gdwz_sidebar img {width:100%}
</style>
<div>
	<div class="ad_gdwz wrapper">
        <a href="@Model.LinkUrl" class="gdwz_sidebar"><img src="@Model.Image"/><p>@Model.Text</p></a>
		<div class="content">
		   @Html.Raw(Model.Html)
		</div>
	</div>
</div>
<script>    (function($){
	$.fn.portamento = function(options) {
		var thisWindow = $(window);
		var thisDocument = $(document);
	  	$.fn.viewportOffset = function() {
			var win = $(window);
			var offset = $(this).offset();
			return {
	    		left: offset.left - win.scrollLeft(),
	      		top: offset.top - win.scrollTop()
	    	};
	  	};
		function positionFixedSupported () {
			var container = document.body;
	  		if (document.createElement && container && container.appendChild && container.removeChild) {
	      		var el = document.createElement("div");
		  		if (!el.getBoundingClientRect) {
		      		return null;
		  		}
		  		el.innerHTML = "x";
		  		el.style.cssText = "position:fixed;top:100px;";
		  		container.appendChild(el);
		  		var originalHeight = container.style.height, originalScrollTop = container.scrollTop;
		 		container.style.height = "3000px";
		      	container.scrollTop = 500;
		      	var elementTop = el.getBoundingClientRect().top;
		      	container.style.height = originalHeight;
		      	var isSupported = elementTop === 100;
		      	container.removeChild(el);
		      	container.scrollTop = originalScrollTop;
		      	return isSupported;
	  		}
	  		return null;
		}
		function getScrollerWidth() {
		    var scr = null;
		    var inn = null;
		    var wNoScroll = 0;
		    var wScroll = 0;
		    scr = document.createElement('div');
		    scr.style.position = 'absolute';
		    scr.style.top = '-1000px';
		    scr.style.left = '-1000px';
		    scr.style.width = '100px';
		    scr.style.height = '50px';
		    scr.style.overflow = 'hidden';
		    inn = document.createElement('div');
		    inn.style.width = '100%';
		    inn.style.height = '200px';
		    scr.appendChild(inn);
		    document.body.appendChild(scr);
		    wNoScroll = inn.offsetWidth;
		    scr.style.overflow = 'auto';
		    wScroll = inn.offsetWidth;
		    document.body.removeChild(document.body.lastChild);
		    return (wNoScroll - wScroll);
		}
		var opts = $.extend({}, $.fn.portamento.defaults, options);
		var panel = this;
		var wrapper = opts.wrapper;
		var gap = opts.gap;
		var disableWorkaround = opts.disableWorkaround;		
		var fullyCapableBrowser = positionFixedSupported();
		if(panel.length != 1) {
			return this;
		}
		if(!fullyCapableBrowser && disableWorkaround) {
			return this;
		}
		panel.wrap('<div id="portamento_container" />');
		var float_container = $('#portamento_container');
		float_container.css({
			'min-height': panel.outerHeight(),
			'width': panel.outerWidth()
		});
		var panelOffset = panel.offset().top;
		var panelMargin = parseFloat(panel.css('marginTop').replace(/auto/, 0));
		var realPanelOffset = panelOffset - panelMargin;
		var topScrollBoundary = realPanelOffset - gap;
		var wrapperPaddingFix = parseFloat(wrapper.css('paddingTop').replace(/auto/, 0));
		var containerMarginFix = parseFloat(float_container.css('marginTop').replace(/auto/, 0));
		var ieFix = 0;
		var isMSIE = 0;
		if (isMSIE) {
			ieFix = getScrollerWidth() + 4;
		} 
		thisWindow.bind("scroll.portamento", function () {
			if(thisWindow.height() > panel.outerHeight() && thisWindow.width() >= (thisDocument.width() - ieFix)) { // don't scroll if the window isn't big enough
				var y = thisDocument.scrollTop(); // current scroll position of the document
				if (y >= (topScrollBoundary)) { // if we're at or past the upper scrolling boundary
					if((panel.innerHeight() - wrapper.viewportOffset().top) - wrapperPaddingFix + gap >= wrapper.height()) { // if we're at or past the bottom scrolling boundary
						if(panel.hasClass('fixed') || thisWindow.height() >= panel.outerHeight()) { // check that there's work to do
							panel.removeClass('fixed');
							panel.css('top', (wrapper.height() - panel.innerHeight()) + 'px');
						}
					} else { // if we're somewhere in the middle
						panel.addClass('fixed');
						if(fullyCapableBrowser) { // supports position:fixed
							panel.css('top', gap + 'px'); // to keep the gap
						} else {							
							panel.clearQueue();
							panel.css('position', 'absolute').animate({top: (0 - float_container.viewportOffset().top + gap)});
						}
					}
				} else {
					panel.removeClass('fixed');
					panel.css('top', '0'); // remove any added gap
				}
			} else {
				panel.removeClass('fixed');
			}
		});		
		thisWindow.bind("resize.portamento", function () {						
			if(thisWindow.height() <= panel.outerHeight() || thisWindow.width() < thisDocument.width()) {			
				if(panel.hasClass('fixed')) {
					panel.removeClass('fixed');
					panel.css('top', '0');
				}				
			} else {
				thisWindow.trigger('scroll.portamento'); // trigger the scroll event to place the panel correctly
			}
		});		
		thisWindow.bind("orientationchange.portamento", function () {
			// if device orientation changes, trigger the resize event
			thisWindow.trigger('resize.portamento'); 
		});	
		thisWindow.trigger('scroll.portamento');
	    return this;	
	};
		$.fn.portamento.defaults = {
	  'wrapper'				: $('body'), // the element that will act as the sliding panel's boundaries
	  'gap'					: 30, // the gap (in pixels) left between the top of the viewport and the top of the panel
	  'disableWorkaround' 	: false // option to disable the workaround for not-quite capable browsers 
	};
})(jQuery);</script>		<script>    $('.gdwz_sidebar').portamento({disableWorkaround: true}); // disable the workaround for not-quite-capable browsers e.g. iOS, IE<7	</script>
		
