<div class="btn-group btn_green d-flex flex-wrap">
    <a href="OrderList?menu=Orderinfo&ordertype=0" class="btn btn-info"><i class="zi zi_gift"></i> 实物订单</a>
    <a href="OrderList?menu=Orderinfo&ordertype=8" class="btn btn-info"><i class="zi zi_creditCard "></i> 虚拟商品</a>
    <a href="OrderList?menu=Orderinfo&ordertype=4" class="btn btn-info"><i class="zi zi_database"></i> 积分商品</a>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="zi zi_server"></i> IDC订单 <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-item"><a href="OrderList?menu=Orderinfo&ordertype=7">订单列表</a></li>
            <li class="dropdown-item"><a href="OrderList?menu=Orderinfo&ordertype=9">续费列表</a></li>
        </ul>
    </div>
    <a href="TripOrder?menu=Cartinfo" class="btn btn-info"><i class="zi zi_plane"></i> 旅游</a>
    <a href="HotelOrder?menu=Cartinfo" class="btn btn-info"><i class="zi zi_building"></i> 酒店</a>
    <a href="MyOrderRepair" class="btn btn-info"><i class="zi zi_check"></i> 售后管理</a>
</div>