<?xml version="1.0"?>
<SiteConfig>
  <SiteInfo>
    <SiteName>逐浪CMS</SiteName>
    <SiteTitle>逐浪CMS</SiteTitle>
    <SiteUrl>http://localhost:86</SiteUrl>
    <LogoUrl>/images/logo_w.svg</LogoUrl>
    <LogoAdmin />
    <LogoPlatName />
    <BannerUrl>/Images/Qrcode.gif</BannerUrl>
    <CompanyName>请输入公司名称</CompanyName>
    <Webmaster>Zoomla</Webmaster>
    <MasterPhone />
    <WebmasterEmail>web@z01.com</WebmasterEmail>
    <MetaKeywords>META关键字</MetaKeywords>
    <MetaDescription>META网页描述</MetaDescription>
    <Copyright>&lt;script src="/js/mobile.js"&gt;&lt;/script&gt;
Copyright &amp;copy; 1998 - 2018 Zoomla!CMS. All Rights Reserved 北京&amp;上海逐浪软件科技有限公司  版权所有 客服热线：021-50391046</Copyright>
    <AllSiteJS />
    <VirtualPath>/</VirtualPath>
  </SiteInfo>
  <SiteOption>
    <Language>ZH-CN</Language>
    <UAgent>true</UAgent>
    <IsOpenHelp>1</IsOpenHelp>
    <DomainRoute>0</DomainRoute>
    <DupTitleNum>0</DupTitleNum>
    <Videourl>/UploadFiles/VideoFac/</Videourl>
    <PdfDirectory />
    <AdvertisementDir>/AD/</AdvertisementDir>
    <IsAbsoluatePath>true</IsAbsoluatePath>
    <IndexEx>3</IndexEx>
    <GeneratedDirectory />
    <Cloud_Auth>read,del,up,</Cloud_Auth>
    <CloudLeadTips>1</CloudLeadTips>
    <SiteManageMode>0</SiteManageMode>
    <ProjectServer>http://update.z01.com</ProjectServer>
    <IndexTemplate>/全站首页.html</IndexTemplate>
    <ShopTemplate>/</ShopTemplate>
    <TemplateDir>/Template/V4</TemplateDir>
    <CssDir>/Template/V4/style</CssDir>
    <StylePath>global.css</StylePath>
    <EnableSiteManageCode>false</EnableSiteManageCode>
    <SafeDomain>0</SafeDomain>
    <SSOCookies_Domain />
    <EnableSoftKey>false</EnableSoftKey>
    <OpenSendMessage>false</OpenSendMessage>
    <RegPageStart>true</RegPageStart>
    <MailPermission>0</MailPermission>
    <SiteCollKey>whatwin100</SiteCollKey>
    <FlexKey>wer123124564578</FlexKey>
    <OpenMessage>0</OpenMessage>
    <OpenAudit>0</OpenAudit>
    <IsSensitivity>0</IsSensitivity>
    <Sensitivity>臺獨,藏獨,法車侖功,臺犭蟲,藏犭蟲</Sensitivity>
    <EnableUploadFiles>true</EnableUploadFiles>
    <UploadMdaMaxSize>204800</UploadMdaMaxSize>
    <UploadFlhMaxSize>204800</UploadFlhMaxSize>
    <UploadDir>/UploadFiles/</UploadDir>
    <FileRj>0</FileRj>
    <FileN>0</FileN>
    <UploadFileExts>avi|gif|jpg|jpeg|bmp|png|flv|doc|ppt|pptx|xls|xlsx|docx|txt|accdb|sql|mp3|f4v|mp4|wmv|csv|tmp|pdf|zip|rar|rtf</UploadFileExts>
    <UploadPicExts>avi|gif|jpg|jpeg|bmp|png|flv|doc|ppt|pptx|xls|xlsx|docx|txt|accdb|sql|mp3|f4v|mp4|wmv|tmp|pdf|zip|rar</UploadPicExts>
    <UploadPicMaxSize>204800</UploadPicMaxSize>
    <UploadMdaExts>avi|rm|real|mpge|mpg|swf|flv|doc|ppt|pptx|xls|xlsx|docx|txt|accdb|sql|jpg|doc|xls|f4v|wmv|mp3|mp4|tmp|pdf|zip|rar|rtf</UploadMdaExts>
    <SiteID>purse,sicon,point</SiteID>
    <OpenMoneySel>false</OpenMoneySel>
    <KDKey>3138ddb0e7e24cf3</KDKey>
    <KDAPI>0</KDAPI>
    <THDate>10</THDate>
    <OrderMsg_Chk>ordered,payed</OrderMsg_Chk>
    <OrderMsg_Tlp>{
  "ordered": "你的订单已经生成,订单号{OrderNo},收货人{Receiver},\r\n{$SiteName/}\r\n",
  "payed": "你的订单已经付款,订单号{OrderNo},收货人{Receiver},\r\n金额:{ordersamount}\r\n{$SiteName/}\r\n"
}</OrderMsg_Tlp>
    <OrderMasterMsg_Chk />
    <OrderMasterMsg_Tlp>{
  "ordered": "",
  "payed": ""
}</OrderMasterMsg_Tlp>
    <OrderMasterEmail_Chk />
    <OrderMasterEmail_Tlp>{
  "ordered": "顾客{Receiver}已在{$SiteName/}下单\r\n订单号:{OrderNo}&lt;br /&gt;\r\n金额:{Ordersamount}&lt;br /&gt;",
  "payed": "顾客{Receiver}已在{$SiteName/}付款\r\n订单号:{OrderNo}&lt;br /&gt;\r\n金额:{Ordersamount}&lt;br /&gt;\r\n地址:{Shengfen} {Jiedao}&lt;br /&gt;\r\n订单时间:{AddTime}&lt;br /&gt;"
}</OrderMasterEmail_Tlp>
    <IsSaveRemoteImage>false</IsSaveRemoteImage>
    <G_content>订单号:{m:orderno},{m:username},{m:sendTime},中国最美乡村婺源旅游8折消费,行程变更或取消请致电021-8888888</G_content>
    <G_blackList>59,60,61,62</G_blackList>
    <G_uid />
    <G_eid />
    <G_pwd />
    <G_gate_id />
    <DefaultSMS>0</DefaultSMS>
    <sms_key />
    <sms_pwd />
    <ManageDir>admin</ManageDir>
    <SiteManageCode>8888</SiteManageCode>
    <UploadFileMaxSize>55</UploadFileMaxSize>
    <MssUser />
    <MssPsw />
    <ServerType>Server</ServerType>
    <JS />
    <Desk />
    <SendNum>0</SendNum>
    <SMSTips>false</SMSTips>
    <NeedCheckRefer>/user/iserver/
/user/info/</NeedCheckRefer>
    <AdminKey />
    <OpenFTP>1</OpenFTP>
    <RegManager>0</RegManager>
    <DomainMerge>false</DomainMerge>
    <Domain_PC />
    <Domain_Mobile />
    <Domain_Wechat />
    <CCPAppID />
    <CCPAccount_SID />
    <CCPToken />
    <CCPMsgTempID>0</CCPMsgTempID>
    <MaxMobileMsg>10</MaxMobileMsg>
    <MaxIpMsg>50</MaxIpMsg>
    <LoggedUrl>/User/</LoggedUrl>
    <DesignIsClose>true</DesignIsClose>
    <MastMoney>0</MastMoney>
    <VerifyType>0</VerifyType>
    <VerifyForm>4</VerifyForm>
    <VerifyLen>6</VerifyLen>
    <Admin_StartUrl>/admin/ProFile/WorkTable.aspx</Admin_StartUrl>
    <WxAppID />
    <PWA_Name>逐浪软件</PWA_Name>
    <PWA_ShortName>逐浪软件</PWA_ShortName>
    <PWA_StartUrl>/default.aspx</PWA_StartUrl>
    <PWA_BKColor>rgb(135, 162, 48)</PWA_BKColor>
    <PWA_Icon />
    <PWA_Content>&lt;link rel="manifest" href="/UploadFiles/System/PWA/manifest.json"&gt;
&lt;meta name="apple-mobile-web-app-capable" content="yes"/&gt;
&lt;meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /&gt;
&lt;meta name="apple-mobile-web-app-title" content="逐浪软件"&gt;
&lt;link rel="apple-touch-icon" sizes="180x180" href="/UploadFiles/System/PWA/WGB31T4j_icon-180.png" /&gt;
&lt;link rel="apple-touch-icon" sizes="152x152" href="/UploadFiles/System/PWA/WGB31T4j_icon-152.png" /&gt;
&lt;link rel="apple-touch-icon" sizes="120x120" href="/UploadFiles/System/PWA/WGB31T4j_icon-120.png" /&gt;
&lt;link rel="apple-touch-icon" sizes="76x76" href="/UploadFiles/System/PWA/WGB31T4j_icon-76.png" /&gt;
&lt;link rel="icon" sizes="192x192" href="/UploadFiles/System/PWA/WGB31T4j_icon-192.png" /&gt;</PWA_Content>
  </SiteOption>
  <ShopConfig>
    <IsCheckPay>0</IsCheckPay>
    <ItemRegular>21yyyyMMdd</ItemRegular>
    <OrderExpired>72</OrderExpired>
    <PointRatiot>10</PointRatiot>
    <PointRate>0.01</PointRate>
    <ExpNames>快递|EMS|平邮</ExpNames>
  </ShopConfig>
  <IPLockConfig>
    <AdminLockIPBlack />
    <AdminLockIPType>0</AdminLockIPType>
    <AdminLockIPWhite />
    <LockIPBlack />
    <LockIPType>0</LockIPType>
    <LockIPWhite />
  </IPLockConfig>
  <MailConfig>
    <MailServerList>web@z01.com</MailServerList>
    <AuthenticationType>Basic</AuthenticationType>
    <EnabledSsl>false</EnabledSsl>
    <MailFrom>xp@z01.com</MailFrom>
    <MailServer>smtp.exmail.qq.com</MailServer>
    <MailServerPassWord>good888.D</MailServerPassWord>
    <MailServerUserName>xp@z01.com</MailServerUserName>
    <Port>25</Port>
  </MailConfig>
  <ThumbsConfig>
    <AddBackColor>#EE1169</AddBackColor>
    <ThumbsHeight>0</ThumbsHeight>
    <ThumbsMode>1</ThumbsMode>
    <ThumbsWidth>0</ThumbsWidth>
  </ThumbsConfig>
  <UserConfig>
    <PresentPointAll>5</PresentPointAll>
    <PresentPointTg>6</PresentPointTg>
    <UserExpExchangePointByExp>1</UserExpExchangePointByExp>
    <UserExpExchangePointByPoint>0</UserExpExchangePointByPoint>
    <UserExpExchangeValidDayByExp>1</UserExpExchangeValidDayByExp>
    <UserExpExchangeValidDayByValidDay>1</UserExpExchangeValidDayByValidDay>
    <ChangeSilverCoinByExp>5</ChangeSilverCoinByExp>
    <PointSilverCoin>0</PointSilverCoin>
    <PointExp>5</PointExp>
    <PresentExp>0</PresentExp>
    <PresentExpPerLogin>0</PresentExpPerLogin>
    <SigninPurse>0</SigninPurse>
    <PresentMoney>0</PresentMoney>
    <PresentPoint>0</PresentPoint>
    <PresentValidNum>0</PresentValidNum>
    <Integral>0</Integral>
    <PresentValidUnit>2</PresentValidUnit>
    <MoneyExchangePointByMoney>1</MoneyExchangePointByMoney>
    <MoneyExchangePointByPoint>10</MoneyExchangePointByPoint>
    <MoneyExchangeDummyPurseByMoney>1</MoneyExchangeDummyPurseByMoney>
    <MoneyExchangeDummyPurseByDummyPurse>15</MoneyExchangeDummyPurseByDummyPurse>
    <MoneyExchangeValidDayByMoney>1</MoneyExchangeValidDayByMoney>
    <MoneyExchangeValidDayByValidDay>1</MoneyExchangeValidDayByValidDay>
    <PointName>点券</PointName>
    <PointUnit>点</PointUnit>
    <PointMoney>0</PointMoney>
    <IntegralPercentage>0</IntegralPercentage>
    <InviteCodeCount>1</InviteCodeCount>
    <InviteFormat>{0000000AAA}</InviteFormat>
    <InviteJoinGroup>1</InviteJoinGroup>
    <AdminCheckReg>false</AdminCheckReg>
    <EmailCheckReg>false</EmailCheckReg>
    <EmailRegis>true</EmailRegis>
    <EmailTell>false</EmailTell>
    <EmailPlatReg>
      &lt;div style='padding: 20px 20px 20px 20px; width: 600px; margin: auto; font-size: 16px;'&gt;
      &lt;div&gt;
      &lt;img src='http://demo.z01.com/Images/logo.png' /&gt;
      &lt;div style='color: gray; text-align: right;'&gt;用户注册&lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;
      &lt;div&gt;
      &lt;a href='mailto:{Email}' target='_blank'&gt;{Email}&lt;/a&gt;您好!&lt;br /&gt;
      欢迎你使用逐浪能力中心!
      &lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px dashed #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;
      &lt;div&gt;您可以点击以下链接激活账户：&lt;/div&gt;
      &lt;div&gt;{Url}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;如果以上链接无法点击，请将上面的地址复制到您的浏览器（如IE）的地址栏。&lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div style='background-color: #f7f7f7;'&gt;如果您在使用中有任何的疑问和建议，欢迎您给我们反馈意见&lt;/div&gt;
      &lt;/div&gt;
    </EmailPlatReg>
    <MobileRegInfo>欢迎您注册{$SiteName}，您的验证码是：{$CheckNum}
    </MobileRegInfo>
    <EnableCheckCodeOfLogin>2</EnableCheckCodeOfLogin>
    <EnableCheckCodeOfReg>false</EnableCheckCodeOfReg>
    <EnableMultiLogin>true</EnableMultiLogin>
    <EnableMultiRegPerEmail>false</EnableMultiRegPerEmail>
    <EnableQAofReg>false</EnableQAofReg>
    <EnableRegCompany>false</EnableRegCompany>
    <EnableUserReg>true</EnableUserReg>
    <GroupId>0</GroupId>
    <RegFieldsMustFill>wfw3,b4,b2</RegFieldsMustFill>
    <RegFieldsSelectFill>TrueName,UserSex,Address,OfficePhone,Birthday,Province,ParentUserID</RegFieldsSelectFill>
    <UserGetPasswordType>3</UserGetPasswordType>
    <UserNameLimit>4</UserNameLimit>
    <UserNameMax>40</UserNameMax>
    <UserNameRegDisabled>admin|administrator|system|operator|support|root|postmaster|webmaster|security</UserNameRegDisabled>
    <CommentRule>0</CommentRule>
    <InfoRule>0</InfoRule>
    <RecommandRule>0</RecommandRule>
    <LoginRule>10</LoginRule>
    <UserValidateType>true</UserValidateType>
    <MessageGroup />
    <PromotionType>0</PromotionType>
    <Promotion>0</Promotion>
    <RegRule>,,</RegRule>
    <Agreement>2</Agreement>
    <EnableAlipayCheckReg>true</EnableAlipayCheckReg>
    <PunchType>0</PunchType>
    <PunchVal>0</PunchVal>
    <UserIDlgn>true</UserIDlgn>
    <MobileReg>false</MobileReg>
    <MobileCodeNum>4</MobileCodeNum>
    <MobileCodeType>0</MobileCodeType>
    <UserMobilAuth>1</UserMobilAuth>
    <Reg_EmailMust>false</Reg_EmailMust>
    <Reg_AnswerMust>false</Reg_AnswerMust>
    <Reg_SelGroup>false</Reg_SelGroup>
    <WD_Min>1</WD_Min>
    <WD_Max>0</WD_Max>
    <WD_Multi>0</WD_Multi>
    <WD_FeePrecent>0</WD_FeePrecent>
    <MaximumUser>0</MaximumUser>
  </UserConfig>
  <WaterMarkConfig>
    <WaterMarkImageInfo>
      <ImagePath>skin/default/images/logo.gif</ImagePath>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkImageInfo>
    <WaterMarkTextInfo>
      <FoneBorder>1</FoneBorder>
      <FoneBorderColor>#000000</FoneBorderColor>
      <FoneColor>#1A1AE6</FoneColor>
      <FoneSize>12</FoneSize>
      <FoneStyle>Bold</FoneStyle>
      <FoneType>宋体</FoneType>
      <Text>逐浪CMS</Text>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkTextInfo>
    <WaterMarkType>1</WaterMarkType>
  </WaterMarkConfig>
  <YPage>
    <IsAudit>true</IsAudit>
    <UserCanNode>true</UserCanNode>
  </YPage>
</SiteConfig>