<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <SiteMap>
    <Title>指定链接</Title>
    <Url>/App/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的APP</Title>
    <Url>/App/APPList</Url>
  </SiteMap>
  <SiteMap>
    <Title>授权审核</Title>
    <Url>/App/AuthList</Url>
  </SiteMap>
  <SiteMap>
    <Title>APP颁发</Title>
    <Url>/App/CL</Url>
  </SiteMap>
  <SiteMap>
    <Title>APP颁发</Title>
    <Url>/App/CLList</Url>
  </SiteMap>
  <SiteMap>
    <Title>APP授权</Title>
    <Url>/App/NoAuth</Url>
  </SiteMap>
  <SiteMap>
    <Title>定制效果</Title>
    <Url>/App/Step2</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的模板</Title>
    <Url>/App/MyTlpList</Url>
  </SiteMap>
  <SiteMap>
    <Title>模板选择</Title>
    <Url>/App/TlpList</Url>
  </SiteMap>
  <SiteMap>
    <Title>@ViewBag.title</Title>
    <Url>/App/Client</Url>
  </SiteMap>
  <SiteMap>
    <Title>授权申请</Title>
    <Url>/App/AuthApply</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答中心首页</Title>
    <Url>/Ask/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>问题列表-逐浪CMS问答</Title>
    <Url>/Ask/List</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答中心-逐浪CMS</Title>
    <Url>/Ask/Classification</Url>
  </SiteMap>
  <SiteMap>
    <Title>在线提问_逐浪CMS问答</Title>
    <Url>/Ask/Add</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答中心-问答之星</Title>
    <Url>/Ask/Star</Url>
  </SiteMap>
  <SiteMap>
    <Title>问题列表-逐浪CMS问答</Title>
    <Url>/Ask/MyAskList</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的回答</Title>
    <Url>/Ask/MyAnswerlist</Url>
  </SiteMap>
  <SiteMap>
    <Title>已解决-逐浪CMS问答</Title>
    <Url>/Ask/SearchDetails</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的问答中心-逐浪CMS问答</Title>
    <Url>/Ask/MyAnswer</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的提问-逐浪CMS问答</Title>
    <Url>/Ask/Interactive</Url>
  </SiteMap>
  <SiteMap>
    <Title>问题列表-逐浪CMS问答</Title>
    <Url>/Ask/MoreProblems</Url>
  </SiteMap>
  <SiteMap>
    <Title> 成功提示-逐浪CMS问答</Title>
    <Url>/Ask/AddSuccess</Url>
  </SiteMap>
  <SiteMap>
    <Title>问题列表_逐浪CMS</Title>
    <Url>/Ask/SearchList</Url>
  </SiteMap>
  <SiteMap>
    <Title>百科_逐浪CMS</Title>
    <Url>/Baike/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>逐浪百科</Title>
    <Url>/Baike/Details</Url>
  </SiteMap>
  <SiteMap>
    <Title>搜索词条-逐浪CMS百科</Title>
    <Url>/Baike/Search</Url>
  </SiteMap>
  <SiteMap>
    <Title>创建词条-逐浪CMS 百科</Title>
    <Url>/Baike/CreateBaike</Url>
  </SiteMap>
  <SiteMap>
    <Title>词条版本</Title>
    <Url>/Baike/CompBaike</Url>
  </SiteMap>
  <SiteMap>
    <Title>开放分类--逐浪CMS百科</Title>
    <Url>/Baike/BKClass</Url>
  </SiteMap>
  <SiteMap>
    <Title>百科编辑器</Title>
    <Url>/Baike/BKEditor</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员登录</Title>
    <Url>/FrontCom/Login</Url>
  </SiteMap>
  <SiteMap>
    <Title>发表评论</Title>
    <Url>/Comments/CommentFor</Url>
  </SiteMap>
  <SiteMap>
    <Title>关键字</Title>
    <Url>/Comments/Keywords</Url>
  </SiteMap>
  <SiteMap>
    <Title>@title</Title>
    <Url>/Comments/KeywordContact</Url>
  </SiteMap>
  <SiteMap>
    <Title>3D在线商城</Title>
    <Url>/D3/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>3DHome</Title>
    <Url>/D3/Home</Url>
  </SiteMap>
  <SiteMap>
    <Title>眼镜在线试载_基于IOS与HTML5</Title>
    <Url>/DAI/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>在线拍照</Title>
    <Url>/DAI/Cammera</Url>
  </SiteMap>
  <SiteMap>
    <Title>真人试戴</Title>
    <Url>/DAI/ReBack</Url>
  </SiteMap>
  <SiteMap>
    <Title>全站搜索_逐浪CMS</Title>
    <Url>/FrontSearch/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>搜索结果</Title>
    <Url>/FrontSearch/SearchList</Url>
  </SiteMap>
  <SiteMap>
    <Title>信息搜索</Title>
    <Url>/FrontSearch/SearchShop</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言中心首页</Title>
    <Url>/Guest/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言列表</Title>
    <Url>/Guest/GuestShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>逐浪年会调查表</Title>
    <Url>/RSS/FormView</Url>
  </SiteMap>
  <SiteMap>
    <Title>@Model.Title</Title>
    <Url>/RSS/ViewPublish</Url>
  </SiteMap>
  <SiteMap>
    <Title>智能建站</Title>
    <Url>/Site/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>域名注册</Title>
    <Url>/Site/Domain</Url>
  </SiteMap>
  <SiteMap>
    <Title>@Model.Title</Title>
    <Url>/Vote/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>黑灯瞎火蒙面聊</Title>
    <Url>/Zone/ChatStart</Url>
  </SiteMap>
  <SiteMap>
    <Title>空间搜索</Title>
    <Url>/Zone/GetSearch</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加好友</Title>
    <Url>/Zone/showfriendsearch</Url>
  </SiteMap>
  <SiteMap>
    <Title>好友查找</Title>
    <Url>/Zone/ZoneFriendSearch</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠劵管理</Title>
    <Url>/User/CashCoupon/ArriveManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠券领取</Title>
    <Url>/User/CashCoupon/GetArrive</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠券激活</Title>
    <Url>/User/CashCoupon/ArriveJihuo</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改手机</Title>
    <Url>/User/Change/Mobile</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改密码提示问题</Title>
    <Url>/User/Change/Answer</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改邮箱</Title>
    <Url>/User/Change/Email</Url>
  </SiteMap>
  <SiteMap>
    <Title>找回密码-逐浪CMS</Title>
    <Url>/User/Change/GetPassword</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改密码</Title>
    <Url>/User/Change/Pwd</Url>
  </SiteMap>
  <SiteMap>
    <Title>网络云盘</Title>
    <Url>/User/Cloud/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>搜索结果</Title>
    <Url>/User/Common/SearchResult</Url>
  </SiteMap>
  <SiteMap>
    <Title>投稿管理</Title>
    <Url>/User/Content/MyContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>预览内容</Title>
    <Url>/User/Content/ShowContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容管理</Title>
    <Url>/User/Content/AddContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的商品</Title>
    <Url>/User/Content/ProductList</Url>
  </SiteMap>
  <SiteMap>
    <Title>商品管理</Title>
    <Url>/User/Content/AddProduct</Url>
  </SiteMap>
  <SiteMap>
    <Title>文件记录</Title>
    <Url>/User/Content/FileBuyManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加到收藏夹</Title>
    <Url>/User/Content/AddToFav</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容收藏</Title>
    <Url>/User/Content/MyFavori</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的评论</Title>
    <Url>/User/Content/MyComment</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷管理</Title>
    <Url>/User/Exam/AddPaper</Url>
  </SiteMap>
  <SiteMap>
    <Title>生成试卷</Title>
    <Url>/User/Exam/paper</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷题目管理</Title>
    <Url>/User/Exam/Paper_QuestionManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>组卷中心</Title>
    <Url>/User/Exam/PaperCenter</Url>
  </SiteMap>
  <SiteMap>
    <Title>系统试卷管理</Title>
    <Url>/User/Exam/Papers_System_Manage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/User/Exam/QuestList</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题篮</Title>
    <Url>/User/Exam/QuestionManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/User/Exam/AddEngLishQuestion</Url>
  </SiteMap>
  <SiteMap>
    <Title>分类管理</Title>
    <Url>/User/Exam/Question_Class_Manage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题选项配置</Title>
    <Url>/User/Exam/QuestOption</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题预览</Title>
    <Url>/User/Exam/QuestShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>查看试题</Title>
    <Url>/User/Exam/QuestView</Url>
  </SiteMap>
  <SiteMap>
    <Title>学校浏览</Title>
    <Url>/User/Exam/SchoolShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>知识点</Title>
    <Url>/User/Exam/SelKnowledge</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择试题</Title>
    <Url>/User/Exam/SelQuestion</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择教师</Title>
    <Url>/User/Exam/SelTearcher</Url>
  </SiteMap>
  <SiteMap>
    <Title>学生申请管理</Title>
    <Url>/User/Exam/StudentManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>成绩曲线</Title>
    <Url>/User/Exam/StudentPic</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷评阅</Title>
    <Url>/User/Exam/ToScore</Url>
  </SiteMap>
  <SiteMap>
    <Title>评阅试卷</Title>
    <Url>/User/Exam/ExamDetail</Url>
  </SiteMap>
  <SiteMap>
    <Title>教材版本</Title>
    <Url>/User/Exam/AddVersion</Url>
  </SiteMap>
  <SiteMap>
    <Title>教材版本</Title>
    <Url>/User/Exam/VersionList</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级管理</Title>
    <Url>/User/Exam/ClassManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑班级</Title>
    <Url>/User/Exam/AddClass</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级浏览</Title>
    <Url>/User/Exam/ClassShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择学校</Title>
    <Url>/User/Exam/SelSchool</Url>
  </SiteMap>
  <SiteMap>
    <Title>词条贡献</Title>
    <Url>/User/Guest/BaikeContribution</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的评论</Title>
    <Url>/User/Guest/AskComment</Url>
  </SiteMap>
  <SiteMap>
    <Title>草稿箱</Title>
    <Url>/User/Guest/BaikeDraft</Url>
  </SiteMap>
  <SiteMap>
    <Title>百科收藏</Title>
    <Url>/User/Guest/BaikeFavorite</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的回答</Title>
    <Url>/User/Guest/MyAnswer</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的赞同</Title>
    <Url>/User/Guest/MyApproval</Url>
  </SiteMap>
  <SiteMap>
    <Title>提问列表</Title>
    <Url>/User/Guest/MyAsk</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员中心-逐浪CMS</Title>
    <Url>/User/Index/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户登录-逐浪CMS</Title>
    <Url>/User/Index/Login</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户注册-逐浪CMS</Title>
    <Url>/User/Index/Register</Url>
  </SiteMap>
  <SiteMap>
    <Title>注册信息</Title>
    <Url>/User/Info/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>基本信息</Title>
    <Url>/User/Info/UserBase</Url>
  </SiteMap>
  <SiteMap>
    <Title>VIP信息</Title>
    <Url>/User/Info/DredgeVip</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户地址薄</Title>
    <Url>/User/Info/UserRecei</Url>
  </SiteMap>
  <SiteMap>
    <Title>地址管理</Title>
    <Url>/User/Info/AddUserAddress</Url>
  </SiteMap>
  <SiteMap>
    <Title>消费详情</Title>
    <Url>/User/Info/ConsumeDetail</Url>
  </SiteMap>
  <SiteMap>
    <Title>VIP卡信息</Title>
    <Url>/User/Info/CardView</Url>
  </SiteMap>
  <SiteMap>
    <Title>订阅管理</Title>
    <Url>/User/Info/MySubscription</Url>
  </SiteMap>
  <SiteMap>
    <Title>有问必答</Title>
    <Url>/User/iServer/FiServer</Url>
  </SiteMap>
  <SiteMap>
    <Title>提交问题</Title>
    <Url>/User/iServer/AddQuestion</Url>
  </SiteMap>
  <SiteMap>
    <Title>问题详情</Title>
    <Url>/User/iServer/FiServerInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>有问必答</Title>
    <Url>/User/iServer/SelectiServer</Url>
  </SiteMap>
  <SiteMap>
    <Title>回复问题</Title>
    <Url>/User/iServer/ISReplyAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>收件箱</Title>
    <Url>/User/Message/Message</Url>
  </SiteMap>
  <SiteMap>
    <Title>发送短消息</Title>
    <Url>/User/Message/MessageSend</Url>
  </SiteMap>
  <SiteMap>
    <Title>阅读站内邮</Title>
    <Url>/User/Message/MessageRead</Url>
  </SiteMap>
  <SiteMap>
    <Title>草稿箱</Title>
    <Url>/User/Message/MessageDraftbox</Url>
  </SiteMap>
  <SiteMap>
    <Title>发件箱</Title>
    <Url>/User/Message/MessageOutbox</Url>
  </SiteMap>
  <SiteMap>
    <Title>垃圾箱</Title>
    <Url>/User/Message/MessageRecycle</Url>
  </SiteMap>
  <SiteMap>
    <Title>手机短信</Title>
    <Url>/User/Message/Mobile</Url>
  </SiteMap>
  <SiteMap>
    <Title>提现申请</Title>
    <Url>/User/Money/WithDraw</Url>
  </SiteMap>
  <SiteMap>
    <Title>提现日志</Title>
    <Url>/User/Money/WithDrawLog</Url>
  </SiteMap>
  <SiteMap>
    <Title>银行账号管理</Title>
    <Url>/User/Money/UserBank</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑银行账号</Title>
    <Url>/User/Money/UserBankAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>赠送金额</Title>
    <Url>/User/Money/GiveMoney</Url>
  </SiteMap>
  <SiteMap>
    <Title>领取红包</Title>
    <Url>/User/Money/RedPacket</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的订单</Title>
    <Url>/User/Order/OrderList</Url>
  </SiteMap>
  <SiteMap>
    <Title>旅游订单管理</Title>
    <Url>/User/Order/TripOrder</Url>
  </SiteMap>
  <SiteMap>
    <Title>酒店订单管理</Title>
    <Url>/User/Order/HotelOrder</Url>
  </SiteMap>
  <SiteMap>
    <Title>订单商品列表</Title>
    <Url>/User/Order/OrderProList</Url>
  </SiteMap>
  <SiteMap>
    <Title>晒单评价</Title>
    <Url>/User/Order/AddShare</Url>
  </SiteMap>
  <SiteMap>
    <Title>评价列表</Title>
    <Url>/User/Order/ShareList</Url>
  </SiteMap>
  <SiteMap>
    <Title>申请退款</Title>
    <Url>/User/Order/DrawBack</Url>
  </SiteMap>
  <SiteMap>
    <Title>返修/退货记录</Title>
    <Url>/User/Order/MyOrderRepair</Url>
  </SiteMap>
  <SiteMap>
    <Title>申请返修</Title>
    <Url>/User/Order/ReqRepair</Url>
  </SiteMap>
  <SiteMap>
    <Title>售后详情</Title>
    <Url>/User/Order/RepairInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页管理</Title>
    <Url>/User/Pages/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>注册企业黄页</Title>
    <Url>/User/Pages/PageInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页节点</Title>
    <Url>/User/Pages/NodeTree</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加黄页内容</Title>
    <Url>/User/Pages/AddContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页内容</Title>
    <Url>/User/Pages/MyContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目管理</Title>
    <Url>/User/Pages/ClassManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加栏目</Title>
    <Url>/User/Pages/AddNode</Url>
  </SiteMap>
  <SiteMap>
    <Title>注册企业黄页</Title>
    <Url>/User/Pages/Modifyinfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的内容</Title>
    <Url>/User/Pages/PageApply</Url>
  </SiteMap>
  <SiteMap>
    <Title>查看信息</Title>
    <Url>/User/Pages/PubView</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员组模型</Title>
    <Url>/User/Pages/ViewPub</Url>
  </SiteMap>
  <SiteMap>
    <Title>互动模块管理</Title>
    <Url>/User/Pages/ViewSmallPub</Url>
  </SiteMap>
  <SiteMap>
    <Title>互动信息</Title>
    <Url>/User/Pages/AddPub</Url>
  </SiteMap>
  <SiteMap>
    <Title>浏览</Title>
    <Url>/User/Pages/Delpub</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容预览</Title>
    <Url>/User/Pub/ShowPub</Url>
  </SiteMap>
  <SiteMap>
    <Title>互动管理</Title>
    <Url>/User/Pub/ManagePub</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容预览</Title>
    <Url>/User/Pub/ShowPubList</Url>
  </SiteMap>
  <SiteMap>
    <Title>互动页面</Title>
    <Url>/User/Pub/Pub</Url>
  </SiteMap>
  <SiteMap>
    <Title>信息回复</Title>
    <Url>/User/Pub/Reply</Url>
  </SiteMap>
  <SiteMap>
    <Title>评论管理</Title>
    <Url>/User/Pub/PubManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>评论信息</Title>
    <Url>/User/Pub/PubInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级列表</Title>
    <Url>/User/Questions/ClassView</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的班级</Title>
    <Url>/User/Questions/MyClass</Url>
  </SiteMap>
  <SiteMap>
    <Title>系统试题管理</Title>
    <Url>/User/Questions/MyMarks</Url>
  </SiteMap>
  <SiteMap>
    <Title>考试结果</Title>
    <Url>/User/Questions/MyExamResult</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的课程</Title>
    <Url>/User/Questions/MyCoruse</Url>
  </SiteMap>
  <SiteMap>
    <Title>参加考试</Title>
    <Url>/User/Questions/ExamDetail</Url>
  </SiteMap>
  <SiteMap>
    <Title>竞猜游戏</Title>
    <Url>/User/Survey/SurveyAll</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的邀请码</Title>
    <Url>/User/UserFunc/InviteCode</Url>
  </SiteMap>
  <SiteMap>
    <Title>支付密码设置</Title>
    <Url>/User/UserFunc/SetSecondPwd</Url>
  </SiteMap>
  <SiteMap>
    <Title>节日提醒</Title>
    <Url>/User/UserFunc/UserDay</Url>
  </SiteMap>
  <SiteMap>
    <Title>常用客户管理</Title>
    <Url>/User/UserFunc/ConstPassen</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员签到</Title>
    <Url>/User/UserFunc/UserSignin</Url>
  </SiteMap>
  <SiteMap>
    <Title>广告计划</Title>
    <Url>/User/UserFunc/AdPlan</Url>
  </SiteMap>
  <SiteMap>
    <Title>申请广告</Title>
    <Url>/User/UserFunc/AdPlanAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>聊天记录</Title>
    <Url>/User/UserFunc/TalkLog</Url>
  </SiteMap>
  <SiteMap>
    <Title>推广联盟</Title>
    <Url>/User/UserFunc/PromotUnion</Url>
  </SiteMap>
  <SiteMap>
    <Title>授权证书生成</Title>
    <Url>/User/UserFunc/Watermark</Url>
  </SiteMap>
  <SiteMap>
    <Title>@ViewBag.title</Title>
    <Url>/User/UserFunc/HtmlToJPG</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员组切换</Title>
    <Url>/User/UserFunc/ChangeGroup</Url>
  </SiteMap>
  <SiteMap>
    <Title>店铺主页</Title>
    <Url>/User/UserShop/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>店铺审核中</Title>
    <Url>/User/UserShop/StoreAuditing</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的店铺</Title>
    <Url>/User/UserShop/StoreApply</Url>
  </SiteMap>
  <SiteMap>
    <Title>库存管理</Title>
    <Url>/User/UserShop/StockList</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的店铺</Title>
    <Url>/User/UserShop/StockAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的订单</Title>
    <Url>/User/UserShop/OrderList</Url>
  </SiteMap>
  <SiteMap>
    <Title>送货员管理</Title>
    <Url>/User/UserShop/DeliveryMan</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加送货人</Title>
    <Url>/User/UserShop/AddDeliverMan</Url>
  </SiteMap>
  <SiteMap>
    <Title>订单结算</Title>
    <Url>/User/UserShop/DeliveryManOrder</Url>
  </SiteMap>
  <SiteMap>
    <Title>模板列表</Title>
    <Url>/User/UserShop/DeliverType</Url>
  </SiteMap>
  <SiteMap>
    <Title>运费管理</Title>
    <Url>/User/UserShop/AddDeliverType</Url>
  </SiteMap>
  <SiteMap>
    <Title>@(action)商品</Title>
    <Url>/User/UserShop/AddProduct</Url>
  </SiteMap>
  <SiteMap>
    <Title>商品列表</Title>
    <Url>/User/UserShop/ProductList</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择商品类型</Title>
    <Url>/User/UserShop/SelShopNode</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠卷管理</Title>
    <Url>/User/UserShop/ArriveManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠券管理</Title>
    <Url>/User/UserShop/ArriveAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>销售记录</Title>
    <Url>/User/UserShopSale/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>销售记录</Title>
    <Url>/User/UserShopSale/SaleByProduct</Url>
  </SiteMap>
  <SiteMap>
    <Title>销售记录</Title>
    <Url>/User/UserShopSale/SaleByClass</Url>
  </SiteMap>
  <SiteMap>
    <Title>销售记录</Title>
    <Url>/User/UserShopSale/SaleByDay</Url>
  </SiteMap>
  <SiteMap>
    <Title>订阅管理</Title>
    <Url>/User/UserZone/MySubscription</Url>
  </SiteMap>
  <SiteMap>
    <Title>好友管理</Title>
    <Url>/User/UserZone/FollowList</Url>
  </SiteMap>
  <SiteMap>
    <Title>好友申请</Title>
    <Url>/User/UserZone/FriendApply</Url>
  </SiteMap>
  <SiteMap>
    <Title>好友管理</Title>
    <Url>/User/UserZone/FriendList</Url>
  </SiteMap>
  <SiteMap>
    <Title>搜索好友</Title>
    <Url>/User/UserZone/UserQuestFriend</Url>
  </SiteMap>
  <SiteMap>
    <Title>搜索用户</Title>
    <Url>/User/UserZone/QueryUser</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的空间</Title>
    <Url>/User/UserZone/MyZonePage</Url>
  </SiteMap>
  <SiteMap>
    <Title>@(action+Model.modelMod.ItemName)</Title>
    <Url>/AdminMVC/Content/AddContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容管理</Title>
    <Url>/AdminMVC/Content/ContentManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷管理</Title>
    <Url>/AdminMVC/Exam/Papers_System_Manage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷管理</Title>
    <Url>/AdminMVC/Exam/Papers_System_Add</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷题目管理</Title>
    <Url>/AdminMVC/Exam/Paper_QuestionManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/AdminMVC/Exam/QuestList</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/AdminMVC/Exam/AddEngLishQuestion</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题预览</Title>
    <Url>/AdminMVC/Exam/QuestShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>配置中心</Title>
    <Url>/AdminMVC/Exam/Setting</Url>
  </SiteMap>
  <SiteMap>
    <Title>科目管理</Title>
    <Url>/AdminMVC/Exam/Question_Class_Manage</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑科目</Title>
    <Url>/AdminMVC/Exam/AddQuestion_Class</Url>
  </SiteMap>
  <SiteMap>
    <Title>@(ViewBag.cateName)管理</Title>
    <Url>/AdminMVC/Exam/QuestGrade</Url>
  </SiteMap>
  <SiteMap>
    <Title>教材版本</Title>
    <Url>/AdminMVC/Exam/VersionList</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加教材版本</Title>
    <Url>/AdminMVC/Exam/AddVersion</Url>
  </SiteMap>
  <SiteMap>
    <Title>学校信息配置</Title>
    <Url>/AdminMVC/Exam/SchoolManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加学校信息</Title>
    <Url>/AdminMVC/Exam/AddSchool</Url>
  </SiteMap>
  <SiteMap>
    <Title>学校预览</Title>
    <Url>/AdminMVC/Exam/SchoolShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级信息管理</Title>
    <Url>/AdminMVC/Exam/ClassRoomManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级浏览</Title>
    <Url>/AdminMVC/Exam/ClassRoomShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加班级</Title>
    <Url>/AdminMVC/Exam/AddClassRoom</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级成员</Title>
    <Url>/AdminMVC/Exam/StudentList</Url>
  </SiteMap>
  <SiteMap>
    <Title>教师管理</Title>
    <Url>/AdminMVC/Exam/ExTeacherManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加教师</Title>
    <Url>/AdminMVC/Exam/AddExTeacher</Url>
  </SiteMap>
  <SiteMap>
    <Title>课程管理</Title>
    <Url>/AdminMVC/Exam/CourseManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加课程</Title>
    <Url>/AdminMVC/Exam/AddCourse</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑知识点</Title>
    <Url>/AdminMVC/Exam/AddKnowledge</Url>
  </SiteMap>
  <SiteMap>
    <Title>知识点</Title>
    <Url>/AdminMVC/Exam/KnowledgeManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>考点管理</Title>
    <Url>/AdminMVC/Exam/ExamPointManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>@title</Title>
    <Url>/AdminMVC/Exam/AddExamPoint</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷评阅</Title>
    <Url>/AdminMVC/Exam/ToScore</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页审核</Title>
    <Url>/AdminMVC/Page/ApplyAudit</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页模板</Title>
    <Url>/AdminMVC/Page/PageStyle</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页样式</Title>
    <Url>/AdminMVC/Page/PageStyleAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页内容</Title>
    <Url>/AdminMVC/Page/PageContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改黄页内容</Title>
    <Url>/AdminMVC/Page/EditContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页配置</Title>
    <Url>/AdminMVC/Page/PageConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目管理</Title>
    <Url>/AdminMVC/Page/PageTemplate</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加栏目</Title>
    <Url>/AdminMVC/Page/PageTemplateAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目排序</Title>
    <Url>/AdminMVC/Page/SetPageOrder</Url>
  </SiteMap>
  <SiteMap>
    <Title>@(action)商品</Title>
    <Url>/AdminMVC/Product/AddProduct</Url>
  </SiteMap>
  <SiteMap>
    <Title>库存管理</Title>
    <Url>/AdminMVC/Product/StockList</Url>
  </SiteMap>
  <SiteMap>
    <Title>我的店铺</Title>
    <Url>/AdminMVC/Product/StockAdd</Url>
  </SiteMap>
</DocumentElement>