@{ 

}
@section head{<title>系统维护工具</title>}
@section content{
<style type="text/css">
.home_header { padding: 0; background: #fff; box-shadow: 0 0 5px #000; }
.home_header li a { color: #000 !important; }
.home_header .API_title { color: #999; }
.home_header .API_title:hover { color: #888; }
.home_header h1 { font-size: 2rem; display: inline-block; }
.home_header .nav_close_btn { display: none; color: #212529; }
.home_header .Tools_searchbox { margin-bottom: 0; }
.home_header .searchs_input { font-size: .8rem; width: 10rem; height: 2.2rem; }
.home_header .Tools_nav_l a { font-size: 1.2rem; border: 1px solid #fff; }
.home_header .Tools_nav_l li.active a { border-bottom: 2px solid #3367d6; color: #0072bc; }
.home_header .Tools_nav_l li a:hover { border-bottom: 2px solid #3367d6; color: #0072bc; }
.home_header .Tools_nav_r { font-size: 1rem; }
#SupperGavel { margin-top: 50vh; text-align: center; }
#SupperGavel .form-label-group { margin-bottom: 1rem; }
#SupperGavel h1 { font-size: 1.68rem; color: #666; }
.SupperGavelTool ul { padding-left: 0; margin-bottom: 0; list-style: none; }
.SupperGavelTool li { text-align: center; background-color: #f9f9f9; }
.SupperGavelTool li i { font-size: 3.2rem; }
.SupperGavelTool li a { display: block; padding: 1rem; color: #333; text-decoration: none; }
.SupperGavelTool li a:hover { background: #563d7c; color: #fff; }
.Maintain_input { height: 5rem; }
.jumbotron {padding: 4rem 2rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;}	
.form-group{float:left;} 
.container{max-width:1140px;}
.table th{width:11rem;}
.tools_banner_main{padding-top:8rem;}
</style>
<div id="SupperGavelCon">
        <div class="jumbotron">
            <div class="container tools_banner_main">
                <h1 class="display-4">超级维护工具箱</h1>
                <p class="lead">这是提供给超级管理员的维护工具级，您还可进一步使用 <a href="//code.z01.com" target="_blank" style="text-decoration:initial">code.z01.com</a>工具集。</p>
                <hr class="my-4">
                <a href="@Call.PathAdmin("Default")" class="btn btn-sm btn-info"><i class="zi zi_forLeft" aria-hidden="true"></i> 返回后台</a> 
                <a href="../help.html" class="btn btn-sm btn-info"><i class="zi zi_forLeft" aria-hidden="true"></i> 快速帮助</a>
                <a href="@Call.PathAdmin("Index/Logout")" class="btn btn-sm btn-info"><i class="zi zi_signoutalt"></i> 退出登录</a>
            </div>
        </div>
        <div class="jumbotron admintop" id="admintop" runat="server" visible="false" hidden>
            <div class="container"><a href="@Call.PathAdmin("Default")" class="btn btn-sm btn-info"><i class="zi zi_forLeft" aria-hidden="true"></i> 返回后台</a> 
            <a href="@Call.PathAdmin("Index/Logout")" class="btn btn-sm btn-info"><i class="zi zi_signoutalt"></i> 退出登录</a> </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#tab0" data-bs-toggle="tab">基本配置</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab1" data-bs-toggle="tab">高级配置</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab0">
                    <table class="table table-striped table-bordered table-hover">
                        @*<tr>
                            <th class="w12rem_lg">配置文件检测:</th>
                            <td><asp:Button ID="Check_Btn" runat="server" class="btn btn-outline-info" OnClick="Check_Btn_Click" Text="开始检测" /></td>
                        </tr>*@
                        <tr>
                            <th>网站配置:</th>
                            <td>
                                <input type="button" class="btn btn-outline-info" ID="Update_Btn" onclick="post('config_init')" value="恢复初始"/>
                                <input type="button" class="btn btn-outline-info" ID="Repair_Btn" onclick="post('config_repair')" value="修复配置" />
                                <input type="button" class="btn btn-outline-info" onclick="post('config_reload');" value="重新加载配置文件"/>
                            </td>
                        </tr>
                        @*<tr>
                            <th>开发调试模式:</th>
                            <td>
                                <asp:Button runat="server" ID="Develop_Btn" Text="开启调试" class="btn btn-outline-info" OnClick="Develop_Btn_Click" />
                                <asp:Button runat="server" ID="ColseDevlop_Btn" Text="关闭调试" class="btn btn-outline-info" OnClick="ColseDevlop_Btn_Click" /></td>
                        </tr>*@
                        <tr>
                            <th>导入模板生成:</th>
                            <td>
                                <form method="post" action="ImportTlpDown">
                                    <div class="input-group">
                                        <span class="input-group-prepend"><span class="input-group-text">表名</span></span>
                                        <input type="text" ID="Import_Tbname_T" name="Import_Tbname_T" class="form-control" placeholder="请输入数据表名" />
                                        <span class="input-group-append">
                                            <input type="submit" ID="Import_Btn" class="btn btn-info" value="生成导入配置" />
                                        </span>
                                    </div>
                                    <small class="text-muted">请手动将配置文件放入/Config/Import/目录,并修改后缀名为xml，使用方法详见,<a href="http://www.z01.com/help/DBA/3284.shtml" target="_blank">超级导表工具使用教程</a></small>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">
                                <p class="mt-2 mb-2">文本加密/解密:</p>
                                <div>
                                    <input type="button" value="文本加密" class="btn btn-outline-info" onclick="post('encry', { content: $('#Before_T').val() }, function (result) { $('#After_T').val(result); })" />
                                    <input type="button" value="文本解密" class="btn btn-outline-info" onclick="post('decry', { content: $('#Before_T').val() }, function (result) { $('#After_T').val(result); });" />
                                </div>
                            </th>
                            <td>
                                <textarea ID="Before_T" class="form-control Maintain_input" placeholder="需要处理的字符串" ></textarea>
                                <textarea ID="After_T"  class="form-control Maintain_input" placeholder="字符串加密/解密结果" style="margin-top: 5px;" ></textarea></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="tab1">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="width:200px;">关闭HTTPS重写:</th>
                            <td><input type="button" value="关闭HTTPS" class="btn btn-outline-info" onclick="post('close_https')"/></td>
                        </tr>
                        <tr>
                            <th>关闭域名归并</th>
                            <td><input type="button" value="关闭域名归并" class="btn btn-outline-info" onclick="post('close_domain')" /></td>
                        </tr>
                        <tr>
                            <th>取消管理员动态口令:</th>
                            <td><input type="button" value="取消口令" class="btn btn-outline-info"  onclick="post('close_zcode')" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mt-3 mb-3">
                <a href="/Tools/PPCTools" class="btn btn-outline-dark">省市县数据字典维护工具</a>
                <a href="/Tools/HtmlToJS" class="btn btn-outline-dark">HTML5与JS转换工具</a>
                <a href="/Tools/BarContent" class="btn btn-outline-dark">贴吧内容解密</a>
                <a href="/Tools/Html2MD" class="btn btn-outline-dark">Html2MD-MarkDown转换工具</a>
                <abbr>*操作不可逆，请进行全站和数据备份后操作！</abbr>
            </div>
            @*<div class="alert alert-info" role="alert" runat="server" id="FileInfo_Div" visible="false">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="td_lg">文件名</td>
                            <td>是否存在</td>
                        </tr>
                    </thead>
                    <asp:Literal ID="Files_Li" runat="server" EnableViewState="false"></asp:Literal>
                </table>
            </div>*@
        </div>
        <div class="container SupperGavelTool">
            <ins>扩展工具:</ins>
            <ul class="row">
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://ico.z01.com" target="_blank"><i class="zi zi_tmZiti163"></i><span class="glyphicon-class">zico图标</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://code.z01.com" target="_blank"><i class="zi zi_bold"></i><span class="glyphicon-class">BootStarp框架</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://app.z01.com" target="_blank"><i class="zi zi_mobilealt"></i><span class="glyphicon-class">微首页</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://app.z01.com/Class_1/Default.aspx" target="_blank"><i class="zi zi_tmWeixin"></i><span class="glyphicon-class">场景列表</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://www.z01.com/tool/" target="_blank"><i class="zi zi_cog"></i><span class="glyphicon-class">站长工具</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://www.ziti163.com/webfont" target="_blank"><i class="zi zi_fonts"></i><span class="glyphicon-class">WebFont</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://ad.z01.com/" target="_blank"><i class="zi zi_fileImage" zico="图片文件黑"></i><span class="glyphicon-class">广告源码</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://ad.z01.com/color.html" target="_blank"><i class="zi zi_alignjustify"></i><span class="glyphicon-class">网页配色</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="https://ico.z01.com/Tools//" target="_blank"><i class="zi zi_tmTypo3"></i><span class="glyphicon-class">SVG编辑器</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://www.z01.com/mb/" target="_blank"><i class="zi zi_briefcase"></i><span class="glyphicon-class">免费模板</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://www.z01.com/pub/" target="_blank"><i class="zi zi_download"></i><span class="glyphicon-class">下载逐浪CMS</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://bbs.z01.com/index" target="_blank"><i class="zi zi_users"></i><span class="glyphicon-class">技术社区</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http://www.z01.com/mtv/" target="_blank"><i class="zi zi_video"></i><span class="glyphicon-class">视频教程</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="https://www.z01.com/blog/techs/2975.shtml" target="_blank"><i class="zi zi_child"></i><span class="glyphicon-class">Emmet</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="https://www.ziti163.com" target="_blank"><i class="zi zi_fonts"></i><span class="glyphicon-class">字体网</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="https://v.ziti163.com" target="_blank"><i class="zi zi_paintbrush"></i><span class="glyphicon-class">在线做字</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http:/p.ziti163.com" target="_blank"><i class="zi zi_fileGraph"></i><span class="glyphicon-class">智图</span> </a></li>
                <li class="col-4 col-sm-3 col-md-2"><a class="d-flex flex-column" href="http:/www.ziti163.com/uni" target="_blank"><i class="zi zi_magnet"></i><span class="glyphicon-class">UNIcode</span> </a></li>
            </ul>
        </div>
    </div>
<header class="home_header fixed-top" id="home_header">
<div class="container">
<nav class="navbar navbar-expand-sm navbar-dark ps-0"> <a class="navbar-brand API_title" href="../../help.html">服务导航</a>
  <button class="navbar-toggler" type="button" id="top_pwabtn" data-bs-toggle="collapse" data-target="#top_nav" aria-controls="top_nav" aria-expanded="false" aria-label="Toggle navigation"> 
  <i class="zi zi_menu text-muted"></i></button>
  <div class="collapse navbar-collapse top_nav" id="top_nav">
    <ul class="navbar-nav me-auto text-center Tools_nav_l">
      <li class="nav-item"><i class="zi zi_times nav_close_btn" aria-hidden="true"></i>
	  <a class="nav-link" href="../../help.html">快速帮助 <span class="visually-hidden sr-only">(current)</span></a> </li>
      <li class="nav-item active"> <a class="nav-link" href="../tools/">站长工具</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/Tools/API.html">移动API</a> </li>
    </ul>
      <div class="form-inline" role="search">
              <div class="form-group d-flex flex-row Tools_searchbox mt-1">
                  <input name="KeyWord" class="form-control me-sm-2 searchs_input" id="searchs_input" type="text" placeholder="搜索线上支持">
                  <button class="btn my-2 my-sm-0" type="button" onclick="openSearch();" style="background: none; margin-left: -3rem; color: #ff9d00;"><i class="zi zi_search"></i></button>
              </div>
              <ul class="navbar-nav ms-auto text-center Tools_nav_r">
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">开发资源</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown04">
                          <a class="dropdown-item" href="//www.ziti163.com/webfont/">Webfont</a>
                          <a class="dropdown-item" href="//v.ziti163.com/">在线做字</a>
                          <a class="dropdown-item" href="//www.z01.com/">逐浪CMS</a>
                          <a class="dropdown-item" href="//code.z01.com/v4/">Bootstrap 中文站</a>
                          <a class="dropdown-item" href="//code.z01.com/Sass/">Sass语言</a>
                          <a class="dropdown-item" href="//code.z01.com/Emmet/">Emmet语法</a>
                          <a class="dropdown-item" href="//www.z01.com/tool/" target="_blank">IIS站长工具</a>
                          <a class="dropdown-item" href="//ad.z01.com/" target="_blank">广告源码</a>
                          <a class="dropdown-item" href="//v.z01.com/mb/" target="_blank">免费模板</a>
                          <a class="dropdown-item" href="//v.z01.com/" target="_blank">H5移动创作</a>
                          <a class="dropdown-item" href="//www.z01.com/help/web/3234.shtml" target="_blank">Flexbox布局</a>
                      </div>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="//bbs.z01.com" target="_blank">社区</a> </li>
              </ul>
      </div>
  </div>
</nav>
</div>
</header>
}
@section script{
<script src="/JS/Controls/Control.js"></script>
<script src="/JS/ZL_ValidateCode.js"></script>
<script src="/js/Modal/APIResult.js"></script>
<script>
    function openSearch() {
        var win = window.open("/design/wait.html?ver=" + Math.random(), "_blank");
        setTimeout(function () {
            win.location = "/Search/SearchList?KeyWord=" + encodeURI($("#searchs_input").val());
        }, 50);
    }
    function EnableCode() {
        $("#VCode_img").click();
        $("#VCode").ValidateCode();
    }
    $(function () { Control.EnableEnter(); })

    $(function () {
        Control.EnableEnter();
        $("#home_header").find("[data-bs-target='#top_nav']").click(
        function () {
                if ($("#home_header").find("[data-bs-target='#top_nav']").attr("aria-expanded") == "false") {
                $("#home_header").find(".navbar-collapse").animate({ right: "0" }, 100);
            } else {
                $("#home_header").find(".navbar-collapse").animate({ right: "-200px" }, 100);
            }
        })

        $(".nav_close_btn").click(function () {
            $("#top_pwabtn").click()
        })
    })

    $("#searchs_input").focus(function () {
        $(this).animate({ width: "20rem" });
    });
    $("#searchs_input").blur(function () {
        $(this).animate({ width: "10rem" });
    });
   
    function post(a, packet,cb) {
        if (!packet) { packet = {}; }
        comdiag.ShowMask("正在处理中");
        $.post("Tool_API?action=" + a, packet, function (data) {
            var model = APIResult.getModel(data);
            if (APIResult.isok(model)) { if (cb && typeof (cb) == "function") { cb(model.result); } }
            else { alert(model.retmsg); }
            comdiag.CloseModal();
        })
    }
</script>
}