<?xml version="1.0" encoding="utf-8"?>
<Cli>
  <SiteFolderName>Zoomlacli</SiteFolderName>
  <TemplateFolderName>TemplateCli</TemplateFolderName>
  <Git>
    <Repo>
      <Name>01深蓝门户</Name>
      <Link>https://github.com/zoomla/zcli-001.git</Link>
    </Repo>
    <Repo>
      <Name>02婚事律师</Name>
      <Link>https://github.com/zoomla/zcli-002.git</Link>
    </Repo>
    <Repo>
      <Name>03窄屏博客</Name>
      <Link>https://github.com/zoomla/zcli-003.git</Link>
    </Repo>
    <Repo>
      <Name>04大屏动画</Name>
      <Link>https://github.com/zoomla/zcli-004.git</Link>
    </Repo>
  </Git>
  <NpmPackages>
    <Package><Name>lodash</Name><Version>v4.17.19</Version></Package>
    <Package><Name>chalk</Name><Version>v4.1.0</Version></Package>
    <Package><Name>request</Name><Version>v2.88.2</Version></Package>
    <Package><Name>commander</Name><Version>v6.0.0</Version></Package>
    <Package><Name>moment</Name><Version>v2.27.0</Version></Package>
    <Package><Name>express</Name><Version>v4.17.1</Version></Package>
    <Package><Name>tslib</Name><Version>v2.0.0</Version></Package>
    <Package><Name>prop-types</Name><Version>v15.7.2</Version></Package>
    <Package><Name>axios</Name><Version>v0.19.2</Version></Package>
    <Package><Name>fs-extra</Name><Version>v9.0.1</Version></Package>
  </NpmPackages>
  <YarnPackages>
    <Package><Name>lodash</Name><Version>v4.17.19</Version></Package>
    <Package><Name>chalk</Name><Version>v4.1.0</Version></Package>
    <Package><Name>request</Name><Version>v2.88.2</Version></Package>
    <Package><Name>commander</Name><Version>v6.0.0</Version></Package>
    <Package><Name>moment</Name><Version>v2.27.0</Version></Package>
    <Package><Name>express</Name><Version>v4.17.1</Version></Package>
    <Package><Name>tslib</Name><Version>v2.0.0</Version></Package>
  </YarnPackages>
</Cli>