<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <SiteMap>
    <Title>BootStrap4布局</Title>
    <Url>/Admin/Com/BootLayout</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据导入</Title>
    <Url>/Admin/Com/Import</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容导入</Title>
    <Url>/Admin/Com/ImportForContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据排序</Title>
    <Url>/Admin/Com/Sort</Url>
  </SiteMap>
  <SiteMap>
    <Title>站点信息</Title>
    <Url>/Admin/Config/SiteInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>网站参数配置</Title>
    <Url>/Admin/Config/SiteOption</Url>
  </SiteMap>
  <SiteMap>
    <Title>邮件参数配置</Title>
    <Url>/Admin/Config/MailConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户参数</Title>
    <Url>/Admin/Config/UserConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>自定义订单状态</Title>
    <Url>/Admin/Config/SetOrderStatus</Url>
  </SiteMap>
  <SiteMap>
    <Title>短信配置</Title>
    <Url>/Admin/Config/SMSCfg</Url>
  </SiteMap>
  <SiteMap>
    <Title>水印缩图</Title>
    <Url>/Admin/Config/ThumbConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>维护中心</Title>
    <Url>/Admin/Config/AppConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>节日配置</Title>
    <Url>/Admin/Config/Holiday</Url>
  </SiteMap>
  <SiteMap>
    <Title>节日管理</Title>
    <Url>/Admin/Config/HolidayAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>管理导航</Title>
    <Url>/Admin/Config/SearchFunc</Url>
  </SiteMap>
  <SiteMap>
    <Title>设定导航</Title>
    <Url>/Admin/Config/SearchFuncAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>字库图标</Title>
    <Url>/Admin/Config/FontIcon</Url>
  </SiteMap>
  <SiteMap>
    <Title>批量转移</Title>
    <Url>/Admin/Content/ContentMove</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加至专题</Title>
    <Url>/Admin/Content/AddToSpec</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容管理</Title>
    <Url>/Admin/Content/ContentManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容回收站</Title>
    <Url>/Admin/Content/ContentRecycle</Url>
  </SiteMap>
  <SiteMap>
    <Title>模型管理</Title>
    <Url>/Admin/Model/ModelManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>模型信息</Title>
    <Url>/Admin/Model/ModelAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>模型数据</Title>
    <Url>/Admin/Model/ModelData</Url>
  </SiteMap>
  <SiteMap>
    <Title>字段管理</Title>
    <Url>/Admin/Model/Field</Url>
  </SiteMap>
  <SiteMap>
    <Title>字段管理</Title>
    <Url>/Admin/Model/FieldAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/Admin/Exam/QuestList</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题管理</Title>
    <Url>/Admin/Exam/AddEngLishQuestion</Url>
  </SiteMap>
  <SiteMap>
    <Title>试题预览</Title>
    <Url>/Admin/Exam/QuestShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>配置中心</Title>
    <Url>/Admin/Exam/Setting</Url>
  </SiteMap>
  <SiteMap>
    <Title>教材版本</Title>
    <Url>/Admin/Exam/VersionList</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加教材版本</Title>
    <Url>/Admin/Exam/AddVersion</Url>
  </SiteMap>
  <SiteMap>
    <Title>学校信息配置</Title>
    <Url>/Admin/Exam/SchoolManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加学校信息</Title>
    <Url>/Admin/Exam/AddSchool</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级信息管理</Title>
    <Url>/Admin/Exam/ClassRoomManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加班级</Title>
    <Url>/Admin/Exam/AddClassRoom</Url>
  </SiteMap>
  <SiteMap>
    <Title>班级成员</Title>
    <Url>/Admin/Exam/StudentList</Url>
  </SiteMap>
  <SiteMap>
    <Title>教师管理</Title>
    <Url>/Admin/Exam/ExTeacherManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加教师</Title>
    <Url>/Admin/Exam/AddExTeacher</Url>
  </SiteMap>
  <SiteMap>
    <Title>课程管理</Title>
    <Url>/Admin/Exam/CourseManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加课程</Title>
    <Url>/Admin/Exam/AddCourse</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑知识点</Title>
    <Url>/Admin/Exam/AddKnowledge</Url>
  </SiteMap>
  <SiteMap>
    <Title>知识点</Title>
    <Url>/Admin/Exam/KnowledgeManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>考点管理</Title>
    <Url>/Admin/Exam/ExamPointManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>试卷评阅</Title>
    <Url>/Admin/Exam/ToScore</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据字典</Title>
    <Url>/Admin/Dict/DicCateList</Url>
  </SiteMap>
  <SiteMap>
    <Title>字典导入</Title>
    <Url>/Admin/Dict/DicCateSel</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据字典项目列表</Title>
    <Url>/Admin/Dict/DicItemList</Url>
  </SiteMap>
  <SiteMap>
    <Title>多级数据字典管理</Title>
    <Url>/Admin/Dict/GradeCateManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>多级数据字典管理</Title>
    <Url>/Admin/Dict/GradeOption</Url>
  </SiteMap>
  <SiteMap>
    <Title>字典选项</Title>
    <Url>/Admin/Dict/GOptionAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>逐浪CMS_后台管理</Title>
    <Url>/Admin/Index/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>快速导航</Title>
    <Url>/Admin/Index/Main</Url>
  </SiteMap>
  <SiteMap>
    <Title>信息概览</Title>
    <Url>/Admin/Index/WorkTable</Url>
  </SiteMap>
  <SiteMap>
    <Title>功能清单</Title>
    <Url>/Admin/Index/FuncList</Url>
  </SiteMap>
  <SiteMap>
    <Title>解锁-当前后台已经被锁定!</Title>
    <Url>/Admin/Index/Lockin</Url>
  </SiteMap>
  <SiteMap>
    <Title>功能搜索</Title>
    <Url>/Admin/Index/SiteMap</Url>
  </SiteMap>
  <SiteMap>
    <Title>管理登录</Title>
    <Url>/Admin/Index/Login</Url>
  </SiteMap>
  <SiteMap>
    <Title>填取表单获得后台访问权限！</Title>
    <Url>/Admin/Index/AccountForm</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改密码</Title>
    <Url>/Admin/Manager/ModifyPassword</Url>
  </SiteMap>
  <SiteMap>
    <Title>微逐浪</Title>
    <Url>/Admin/Mobile/MobileBrower</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户列表</Title>
    <Url>/Admin/CRM/ClientListDiag</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户列表</Title>
    <Url>/Admin/CRM/ClientList</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户管理</Title>
    <Url>/Admin/CRM/ClientView</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户管理</Title>
    <Url>/Admin/CRM/ClientAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户导入</Title>
    <Url>/Admin/CRM/ClientImport</Url>
  </SiteMap>
  <SiteMap>
    <Title>客户类别</Title>
    <Url>/Admin/CRM/CType</Url>
  </SiteMap>
  <SiteMap>
    <Title>类别管理</Title>
    <Url>/Admin/CRM/CTypeAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>联系人</Title>
    <Url>/Admin/CRM/Contact</Url>
  </SiteMap>
  <SiteMap>
    <Title>联系人</Title>
    <Url>/Admin/CRM/ContactAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>联系人导入</Title>
    <Url>/Admin/CRM/ContactImport</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页审核</Title>
    <Url>/Admin/Page/ApplyAudit</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页模板</Title>
    <Url>/Admin/Page/PageStyle</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页样式</Title>
    <Url>/Admin/Page/PageStyleAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页内容</Title>
    <Url>/Admin/Page/PageContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改黄页内容</Title>
    <Url>/Admin/Page/EditContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>黄页配置</Title>
    <Url>/Admin/Page/PageConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目管理</Title>
    <Url>/Admin/Page/PageTemplate</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加栏目</Title>
    <Url>/Admin/Page/PageTemplateAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目排序</Title>
    <Url>/Admin/Page/SetPageOrder</Url>
  </SiteMap>
  <SiteMap>
    <Title>支付平台管理</Title>
    <Url>/Admin/Pay/PayPlat</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑在线支付平台</Title>
    <Url>/Admin/Pay/PayPlatAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>PayPalPlat</Title>
    <Url>/Admin/Pay/PayPalPlat</Url>
  </SiteMap>
  <SiteMap>
    <Title>微信支付</Title>
    <Url>/Admin/Pay/WechatPlat</Url>
  </SiteMap>
  <SiteMap>
    <Title>AliH5Plat</Title>
    <Url>/Admin/Pay/AliH5Plat</Url>
  </SiteMap>
  <SiteMap>
    <Title>AliBankPlat</Title>
    <Url>/Admin/Pay/AliBankPlat</Url>
  </SiteMap>
  <SiteMap>
    <Title>充值信息</Title>
    <Url>/Admin/Pay/PaymentList</Url>
  </SiteMap>
  <SiteMap>
    <Title>支付信息</Title>
    <Url>/Admin/Pay/PaymentInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>规则列表</Title>
    <Url>/Admin/Pay/Regular</Url>
  </SiteMap>
  <SiteMap>
    <Title>赠送规则</Title>
    <Url>/Admin/Pay/RegularAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>提示</Title>
    <Url>/Admin/Site/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>站点列表</Title>
    <Url>/Admin/Site/SiteList</Url>
  </SiteMap>
  <SiteMap>
    <Title>文件管理</Title>
    <Url>/Admin/Site/FileManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>新建站点</Title>
    <Url>/Admin/Site/SiteAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>控制中心</Title>
    <Url>/Admin/Site/Config</Url>
  </SiteMap>
  <SiteMap>
    <Title>应用程序池</Title>
    <Url>/Admin/Site/SitePool</Url>
  </SiteMap>
  <SiteMap>
    <Title>标签管理</Title>
    <Url>/Admin/Template/LabelManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>静态标签</Title>
    <Url>/Admin/Template/LabelHtml</Url>
  </SiteMap>
  <SiteMap>
    <Title>标签管理</Title>
    <Url>/Admin/Template/LabelSql</Url>
  </SiteMap>
  <SiteMap>
    <Title>标签助手</Title>
    <Url>/Admin/Template/LabelCallTab</Url>
  </SiteMap>
  <SiteMap>
    <Title>标签插入</Title>
    <Url>/Admin/Template/LabelInsert</Url>
  </SiteMap>
  <SiteMap>
    <Title>标签升级</Title>
    <Url>/Admin/Template/LabelUpdate</Url>
  </SiteMap>
  <SiteMap>
    <Title>分页标签</Title>
    <Url>/Admin/Template/LabelPage</Url>
  </SiteMap>
  <SiteMap>
    <Title>模板管理</Title>
    <Url>/Admin/Template/TemplateManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>编辑模板</Title>
    <Url>/Admin/Template/TemplateEdit</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择模板</Title>
    <Url>/Admin/Template/TemplateList</Url>
  </SiteMap>
  <SiteMap>
    <Title>风格样式</Title>
    <Url>/Admin/Template/CSSManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>CSS编辑</Title>
    <Url>/Admin/Template/CSSEdit</Url>
  </SiteMap>
  <SiteMap>
    <Title>获取云模板</Title>
    <Url>/Admin/Template/TemplateSetOfficial</Url>
  </SiteMap>
  <SiteMap>
    <Title>模板方案</Title>
    <Url>/Admin/Template/TemplateSet</Url>
  </SiteMap>
  <SiteMap>
    <Title>获取云模板</Title>
    <Url>/Admin/Template/TemplateSetDown</Url>
  </SiteMap>
  <SiteMap>
    <Title>方案设置</Title>
    <Url>/Admin/Template/TemplateSetAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据源列表</Title>
    <Url>/Admin/Template/DSList</Url>
  </SiteMap>
  <SiteMap>
    <Title>数据源管理</Title>
    <Url>/Admin/Template/DSAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员管理</Title>
    <Url>/Admin/User/UserManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加会员</Title>
    <Url>/Admin/User/UserAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户信息</Title>
    <Url>/Admin/User/UserInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员@(GetTypeName())</Title>
    <Url>/Admin/User/UserExp</Url>
  </SiteMap>
  <SiteMap>
    <Title>管理员</Title>
    <Url>/Admin/User/AdminManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>管理员信息</Title>
    <Url>/Admin/User/AdminAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员组管理</Title>
    <Url>/Admin/User/GroupManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>会员组信息</Title>
    <Url>/Admin/User/GroupAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>接口说明</Title>
    <Url>/Admin/User/WSApi</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户画像</Title>
    <Url>/Admin/User/UserGraph</Url>
  </SiteMap>
  <SiteMap>
    <Title>积分等级</Title>
    <Url>/Admin/User/Addon/PointGroup</Url>
  </SiteMap>
  <SiteMap>
    <Title>积分等级</Title>
    <Url>/Admin/User/Addon/PointGroupAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>财务流水</Title>
    <Url>/Admin/User/Addon/VMoneyLog</Url>
  </SiteMap>
  <SiteMap>
    <Title>社会化登录</Title>
    <Url>/Admin/User/Addon/ThirdInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>发送手机短信</Title>
    <Url>/Admin/User/Mail/SMSSend</Url>
  </SiteMap>
  <SiteMap>
    <Title>发送记录</Title>
    <Url>/Admin/User/Mail/SMSSendLog</Url>
  </SiteMap>
  <SiteMap>
    <Title>EMail发送列表</Title>
    <Url>/Admin/User/Mail/MailList</Url>
  </SiteMap>
  <SiteMap>
    <Title>邮件模板</Title>
    <Url>/Admin/User/Mail/MailTlp</Url>
  </SiteMap>
  <SiteMap>
    <Title>创建邮件模板</Title>
    <Url>/Admin/User/Mail/MailTlpAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>系统邮件模板</Title>
    <Url>/Admin/User/Mail/MailSysTlp</Url>
  </SiteMap>
  <SiteMap>
    <Title>修改系统模板</Title>
    <Url>/Admin/User/Mail/MailSysTlpEdit</Url>
  </SiteMap>
  <SiteMap>
    <Title>邮件发送列表</Title>
    <Url>/Admin/User/Mail/MailSend</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户提现</Title>
    <Url>/Admin/User/Promo/WD</Url>
  </SiteMap>
  <SiteMap>
    <Title>提现处理</Title>
    <Url>/Admin/User/Promo/WDAudit</Url>
  </SiteMap>
  <SiteMap>
    <Title>推广列表</Title>
    <Url>/Admin/User/Promo/PromoChart</Url>
  </SiteMap>
  <SiteMap>
    <Title>推广列表</Title>
    <Url>/Admin/User/Promo/PromoList</Url>
  </SiteMap>
  <SiteMap>
    <Title>角色管理</Title>
    <Url>/Admin/User/Role/UserRole</Url>
  </SiteMap>
  <SiteMap>
    <Title>角色管理</Title>
    <Url>/Admin/User/Role/UserRoleAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>用户角色权限</Title>
    <Url>/Admin/User/Role/UserRoleAuth</Url>
  </SiteMap>
  <SiteMap>
    <Title>角色管理</Title>
    <Url>/Admin/User/Role/ARole</Url>
  </SiteMap>
  <SiteMap>
    <Title>角色信息</Title>
    <Url>/Admin/User/Role/ARoleAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>角色权限设置</Title>
    <Url>/Admin/User/Role/ARoleAuth</Url>
  </SiteMap>
  <SiteMap>
    <Title>组织结构</Title>
    <Url>/Admin/User/Struct/StructList</Url>
  </SiteMap>
  <SiteMap>
    <Title>组织结构</Title>
    <Url>/Admin/User/Struct/StructByTree</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加项目类型</Title>
    <Url>/Admin/User/Struct/StructAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>部门成员列表</Title>
    <Url>/Admin/User/Struct/StructMember</Url>
  </SiteMap>
  <SiteMap>
    <Title>供应商</Title>
    <Url>/Admin/Shop/Addon/Vendor</Url>
  </SiteMap>
  <SiteMap>
    <Title>供应商信息</Title>
    <Url>/Admin/Shop/Addon/VendorAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠劵管理</Title>
    <Url>/Admin/Shop/Coupon/ArriveManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>优惠劵</Title>
    <Url>/Admin/Shop/Coupon/ArriveAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>促销列表</Title>
    <Url>/Admin/Shop/Coupon/PromoList</Url>
  </SiteMap>
  <SiteMap>
    <Title>促销管理</Title>
    <Url>/Admin/Shop/Coupon/PromoAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>运费模板</Title>
    <Url>/Admin/Shop/Exp/DeliverType</Url>
  </SiteMap>
  <SiteMap>
    <Title>运费模板</Title>
    <Url>/Admin/Shop/Exp/DeliverAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>订单发货</Title>
    <Url>/Admin/Shop/Exp/OrderSend</Url>
  </SiteMap>
  <SiteMap>
    <Title>店铺审核</Title>
    <Url>/Admin/Shop/Store/StoreManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>店铺样式</Title>
    <Url>/Admin/Shop/Store/StoreStyle</Url>
  </SiteMap>
  <SiteMap>
    <Title>样式管理</Title>
    <Url>/Admin/Shop/Store/StoreStyleAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>商家店铺修改</Title>
    <Url>/Admin/Shop/Store/StoreUpdate</Url>
  </SiteMap>
  <SiteMap>
    <Title>店铺商品</Title>
    <Url>/Admin/Shop/Store/Product</Url>
  </SiteMap>
  <SiteMap>
    <Title>流程管理</Title>
    <Url>/Admin/Office/OA/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>流程设计</Title>
    <Url>/Admin/Office/OA/AddFlow</Url>
  </SiteMap>
  <SiteMap>
    <Title>流程设计</Title>
    <Url>/Admin/Office/OA/AddFlowStep</Url>
  </SiteMap>
  <SiteMap>
    <Title>套红管理</Title>
    <Url>/Admin/Office/OA/AddMisModel</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加电子签名</Title>
    <Url>/Admin/Office/OA/AddSign</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加类型</Title>
    <Url>/Admin/Office/OA/AddWorkFlowType</Url>
  </SiteMap>
  <SiteMap>
    <Title>公文管理</Title>
    <Url>/Admin/Office/OA/ApplyManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>类型列表</Title>
    <Url>/Admin/Office/OA/FlowTypeList</Url>
  </SiteMap>
  <SiteMap>
    <Title>邮箱管理</Title>
    <Url>/Admin/Office/OA/MailManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>模板管理</Title>
    <Url>/Admin/Office/OA/MisModelManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>OA系统配置</Title>
    <Url>/Admin/Office/OA/OAConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>选择模型</Title>
    <Url>/Admin/Office/OA/SelModelFieds</Url>
  </SiteMap>
  <SiteMap>
    <Title>签章管理</Title>
    <Url>/Admin/Office/OA/SignManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>流程管理</Title>
    <Url>/Admin/Office/OA/WorkFlow</Url>
  </SiteMap>
  <SiteMap>
    <Title>公司管理</Title>
    <Url>/Admin/Office/Plat/AddComp</Url>
  </SiteMap>
  <SiteMap>
    <Title>申请管理</Title>
    <Url>/Admin/Office/Plat/AuditApply</Url>
  </SiteMap>
  <SiteMap>
    <Title>公司管理</Title>
    <Url>/Admin/Office/Plat/CompList</Url>
  </SiteMap>
  <SiteMap>
    <Title>成员列表</Title>
    <Url>/Admin/Office/Plat/MemberList</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言内容</Title>
    <Url>/Admin/Office/Plat/PlatInfoDeail</Url>
  </SiteMap>
  <SiteMap>
    <Title>信息管理</Title>
    <Url>/Admin/Office/Plat/PlatInfoManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>话题管理</Title>
    <Url>/Admin/Office/Plat/TopicList</Url>
  </SiteMap>
  <SiteMap>
    <Title>客服信息</Title>
    <Url>/Admin/Office/Service/Seat</Url>
  </SiteMap>
  <SiteMap>
    <Title>客服信息</Title>
    <Url>/Admin/Office/Service/SeatAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>引用管理</Title>
    <Url>/Admin/Office/Service/CodeAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>客服代码列表</Title>
    <Url>/Admin/Office/Service/CodeList</Url>
  </SiteMap>
  <SiteMap>
    <Title>客服聊天记录</Title>
    <Url>/Admin/Office/Service/MsgEx</Url>
  </SiteMap>
  <SiteMap>
    <Title>详情信息</Title>
    <Url>/Admin/Office/Service/MsgInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>移动微信管理平台</Title>
    <Url>/Admin/Mobile/WeiXin/Index</Url>
  </SiteMap>
  <SiteMap>
    <Title>公众号管理</Title>
    <Url>/Admin/Mobile/WeiXin/WXAPPManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>微信配置</Title>
    <Url>/Admin/Mobile/WeiXin/WxConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>欢迎语</Title>
    <Url>/Admin/Mobile/WeiXin/WelPage</Url>
  </SiteMap>
  <SiteMap>
    <Title>支付配置</Title>
    <Url>/Admin/Mobile/WeiXin/WxPayConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>粉丝管理</Title>
    <Url>/Admin/Mobile/WeiXin/WxUserList</Url>
  </SiteMap>
  <SiteMap>
    <Title>自定义菜单</Title>
    <Url>/Admin/Mobile/WeiXin/EditWxMenu</Url>
  </SiteMap>
  <SiteMap>
    <Title>支付日志</Title>
    <Url>/Admin/Mobile/WeiXin/PayLog</Url>
  </SiteMap>
  <SiteMap>
    <Title>消息模板</Title>
    <Url>/Admin/Mobile/WeiXin/MsgTlp</Url>
  </SiteMap>
  <SiteMap>
    <Title>消息模板</Title>
    <Url>/Admin/Mobile/WeiXin/MsgTlpAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>多图文消息</Title>
    <Url>/Admin/Mobile/WeiXin/MsgMultiAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>消息群发</Title>
    <Url>/Admin/Mobile/WeiXin/MsgSend</Url>
  </SiteMap>
  <SiteMap>
    <Title>预览图文</Title>
    <Url>/Admin/Mobile/WeiXin/MsgPreView</Url>
  </SiteMap>
  <SiteMap>
    <Title>微信回复管理</Title>
    <Url>/Admin/Mobile/WeiXin/ReplyList</Url>
  </SiteMap>
  <SiteMap>
    <Title>自动回复</Title>
    <Url>/Admin/Mobile/WeiXin/ReplyAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>全局配置</Title>
    <Url>/Admin/Mobile/WeiXin/Config</Url>
  </SiteMap>
  <SiteMap>
    <Title>广告版位管理</Title>
    <Url>/Admin/Extend/AD/ZoneManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>广告版位</Title>
    <Url>/Admin/Extend/AD/ZoneAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>广告管理</Title>
    <Url>/Admin/Extend/AD/InfoManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>添加广告</Title>
    <Url>/Admin/Extend/AD/InfoAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>云CSS设计</Title>
    <Url>/Admin/Extend/MyCss/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>元素管理</Title>
    <Url>/Admin/Extend/MyCss/CSSEditor</Url>
  </SiteMap>
  <SiteMap>
    <Title>CSS编辑器</Title>
    <Url>/Admin/Extend/MyCss/CSSEditor2</Url>
  </SiteMap>
  <SiteMap>
    <Title>样式管理</Title>
    <Url>/Admin/Extend/MyCss/CSSContent</Url>
  </SiteMap>
  <SiteMap>
    <Title>PWA离线站点</Title>
    <Url>/Admin/Extend/PWA/SiteCache</Url>
  </SiteMap>
  <SiteMap>
    <Title>IP 管理</Title>
    <Url>/Admin/Extend/Safe/SiteIPAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>敏感词库</Title>
    <Url>/Admin/Extend/Safe/ContentCheckConfig</Url>
  </SiteMap>
  <SiteMap>
    <Title>评论管理</Title>
    <Url>/Admin/Content/Addon/Comment</Url>
  </SiteMap>
  <SiteMap>
    <Title>内容审核</Title>
    <Url>/Admin/Content/Addon/ConAudit</Url>
  </SiteMap>
  <SiteMap>
    <Title>关键词库</Title>
    <Url>/Admin/Content/Addon/TagKey</Url>
  </SiteMap>
  <SiteMap>
    <Title>版本浏览</Title>
    <Url>/Admin/Content/Addon/VerBak</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答列表</Title>
    <Url>/Admin/Content/Ask/Default</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答详情</Title>
    <Url>/Admin/Content/Ask/AskInfo</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答详情</Title>
    <Url>/Admin/Content/Ask/AskAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>问答配置</Title>
    <Url>/Admin/Content/Ask/Config</Url>
  </SiteMap>
  <SiteMap>
    <Title>词条版本</Title>
    <Url>/Admin/Content/Baike/BKVersionList</Url>
  </SiteMap>
  <SiteMap>
    <Title>词条版本浏览</Title>
    <Url>/Admin/Content/Baike/BKList</Url>
  </SiteMap>
  <SiteMap>
    <Title>百科配置</Title>
    <Url>/Admin/Content/Baike/Config</Url>
  </SiteMap>
  <SiteMap>
    <Title>词条管理</Title>
    <Url>/Admin/Content/Baike/BkCheck</Url>
  </SiteMap>
  <SiteMap>
    <Title>栏目管理</Title>
    <Url>/Admin/Content/Bar/CateList</Url>
  </SiteMap>
  <SiteMap>
    <Title>贴吧栏目设置</Title>
    <Url>/Admin/Content/Bar/CateAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>权限设置</Title>
    <Url>/Admin/Content/Bar/BarAuthSet</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言分类</Title>
    <Url>/Admin/Content/Guest/CateList</Url>
  </SiteMap>
  <SiteMap>
    <Title>分类管理</Title>
    <Url>/Admin/Content/Guest/CateAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言列表</Title>
    <Url>/Admin/Content/Guest/MsgList</Url>
  </SiteMap>
  <SiteMap>
    <Title>留言内容</Title>
    <Url>/Admin/Content/Guest/MsgShow</Url>
  </SiteMap>
  <SiteMap>
    <Title>节点管理</Title>
    <Url>/Admin/Content/Node/NodeManage</Url>
  </SiteMap>
  <SiteMap>
    <Title>节点搜索</Title>
    <Url>/Admin/Content/Node/NodeSearch</Url>
  </SiteMap>
  <SiteMap>
    <Title>节点回收站</Title>
    <Url>/Admin/Content/Node/NodeRecycle</Url>
  </SiteMap>
  <SiteMap>
    <Title>节点信息</Title>
    <Url>/Admin/Content/Node/NodeAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>单页信息</Title>
    <Url>/Admin/Content/Node/SPageAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>链接信息</Title>
    <Url>/Admin/Content/Node/OutLinkAdd</Url>
  </SiteMap>
  <SiteMap>
    <Title>批量配置</Title>
    <Url>/Admin/Content/Node/BatchNode</Url>
  </SiteMap>
  <SiteMap>
    <Title>节点合并迁移</Title>
    <Url>/Admin/Content/Node/UnionNode</Url>
  </SiteMap>
  <SiteMap>
    <Title>专题管理</Title>
    <Url>/Admin/Content/Node/Special</Url>
  </SiteMap>
  <SiteMap>
    <Title>专题信息</Title>
    <Url>/Admin/Content/Node/SpecialAdd</Url>
  </SiteMap>
</DocumentElement>