<?xml version="1.0" encoding="utf-8"?>
<Content>
  <Baidu Enable="0" Appid="" Key="" Secret="" CallBackUrl="" />
  <QQ Enable="0" Appid="3" Key="4" Secret="" CallBackUrl="http://demo.z01.com/API/Social/QQCB" />
  <Sina Enable="0" Appid="" Key="1" Secret="2" CallBackUrl="http://demo.z01.com/API/Social/SinaCB" />
  <BaiduTrans Enable="0" Appid="" Secret="" AppID="20160202000010557" Key="" CallBackUrl="" />
  <Wechat Enable="1" Appid="" Key="" Secret="wffew" CallBackUrl="wfefewfew" />
  <Printer Enable="0" Appid="" Key="" Secret="" CallBackUrl="" />
  <CR Enable="0" Appid="" Key="" Secret="" CallBackUrl="" />
</Content>