@using ZoomLa.Common
@functions{

    public string FValue { get { return Context.Request.GetParam("FValue"); } }
    //public string DPType { get {return SafeSC.GetRequest("dptype"); } }
    public string FieldName { get { return Context.Request.GetParam("FieldName"); } }
    public string CateID { get { return Context.Request.GetParam("CateID"); } }

}
@{
    //switch (CateID)
    //{
    //    case "b":
    //        four_div.Visible = true;
    //        break;
    //    case "c":
    //        school_div.Visible = true;
    //        break;
    //    case "a":
    //    default:
    //        three_div.Visible = true;
    //        break;
    //}
}

@section head{
    <script type="text/javascript" src="/JS/Controls/ZL_PCC.js"></script>
    <title>多级选择</title>
}
@section content{
    @if (CateID == "-2")
    {
        <div id="four_div">
            <script src="http://code.z01.com/four.js"></script>
            <select id="tbProvince" class="form-control map_w"></select>
            <select id="tbCity" class="form-control map_w"></select>
            <select id="tbCounty" class="form-control map_w"></select>
            <select id="tbSTown" class="form-control map_w"></select>
            <script type="text/javascript">
                $(function () {
                    var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty", "tbSTown");
                    if ($("#address").val() != "") {
                        var defdata = $("#address").val().split(',');
                        pcc.SetDef(defdata[0], defdata[1], defdata[2], defdata[3]);
                    }
                    pcc.ProvinceInit();
                    $("select").change(function () {
                        parent.SetCitys('@(FieldName)', $("#tbProvince").val() + ',' + $("#tbCity").val() + ',' + $("#tbCounty").val() + ',' + $("#tbSTown").val())
                    });
                });
            </script>
        </div>
    }
    else if (CateID == "-3")
    {
        <div  id="school_div">
            <script src="/JS/ICMS/AreaSchool.js"></script>
            <select id="tbProvince" class="form-control map_w"></select>
            <select id="tbCity" class="form-control map_w"></select>
            <select id="tbCounty" class="form-control map_w" style="display:none;"></select>
            <script>
                $(function () {
                    var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");
                    if ($("#address").val() != "") {
                        var defdata = $("#address").val().split(',');
                        pcc.SetDef(defdata[0], defdata[1], defdata[2]);
                    }
                    pcc.ProvinceInit();
                    $("select").change(function () {
                        parent.SetCitys('@(FieldName)', $("#tbProvince").val() + ',' + $("#tbCity").val())
                    });
                });
            </script>
        </div>
    }
    else
    {
        <div id="three_div">
            <script src="/JS/ICMS/area.js"></script>
            <div style="display:flex;">
                <select id="tbProvince" class="form-control map_w"></select>
                <select id="tbCity" class="form-control map_w"></select>
                <select id="tbCounty" class="form-control map_w"></select>
            </div>
            <script>
                function setPCC(config) {
                    var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");
                    pcc.SetDef(config.province, config.city, config.county);
                    pcc.ProvinceInit();
                }
            </script>
            <script>
                $(function () {
                    var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");
                    if ($("#address").val() != "") {
                        var defdata = $("#address").val().split(',');
                        pcc.SetDef(defdata[0], defdata[1], defdata[2]);
                    }
                    pcc.ProvinceInit();
                    $("select").change(function () {
                        parent.SetCitys('@(FieldName)', $("#tbProvince").val() + ',' + $("#tbCity").val() + ',' + $("#tbCounty").val())
                    });
                });
            </script>
        </div>
    }

    <input id="address" name="address"  type="hidden" value="@Html.Raw(FValue)"/>
}
@section script{
<style>
body { background: none; }
.form-control{max-width:200px;margin-right:5px;}
#three_div,#four_div,#school_div { padding: 0 !important; }
@@media (max-width:768px) {}
</style>

}