@model ZoomLaCMS.Control.C_SelProduct
@{ 
    Layout = "_empty";
     //使用第一类模式
}
@section head{<title>选择用户</title>}
@section content{
<style type="text/css">
.td_xs{width:45px;}
.td_s{width:80px;}
.td_m{width:150px;}
.img50,.img_50{max-width:50px;max-height:50px;text-align:center;}
</style>
<link href="/JS/Plugs/iCheck/skins/all.css" rel="stylesheet" />
<script src="/JS/Plugs/iCheck/icheck.min.js?v=20191029"></script>
<div class="input-group">
    <input type="text" class="mvcparam form-control" id="skey" value="@Model.skey"/>
    <span class="input-group-append">
        <button type="button" onclick="mvcpage.load();" class="btn btn-info">搜索</button>
        @if (Model.viewMode == "multi")
        {
           <button type="button" class="btn btn-info btn-primary" onclick="multi_return();" style="border-left:1px solid #ddd;">确定选择</button> 
        }
    </span>
</div>
<div style="margin-top:5px;">
@Html.Partial("SelProduct_List",Model)
</div>
}
@section script{
    <script>
    var result = [];
    function dt_get(id) {
        for (var i = 0; i < dt.length; i++) {
            if (dt[i].ID == id) { return dt[i]; }
        }
        return null;
    }
    function single_return(id) {
        result = dt_get(id);//返回json而不是数组
        parentReturn(result);
    }
    var multi_value="@(Model.value)";
    function multi_click(chk) {
        var ids = multi_value;
        if (chk.checked) {
            ids = ids + "," + chk.value + ",";
        } else {
            ids = ids.replace("," + chk.value + ",", ",");
        }
        while (ids.indexOf(",,") > -1) {
            ids = ids.replace(/,,/ig, ",");
        }
        if (ids == ",") { ids = "";}
        multi_value = ids;
    }
    function multi_return() {
        var $chks = $("input[name=idchk]:checked");
        $chks.each(function () {
            var $this = $(this);
            var id = $this.val();
            result.push(dt_get(id));

        });
        if (result.length < 1) { alert("请先选择内容"); return false; }
        parentReturn(result);
    }
    function parentReturn(result) {
        if (!parent) { return; }
        //是否指定了回调方法名#后字符
        var cbname = getParam2();
        //如页面中有多个不同类型的选择,则指定回调
        if (cbname) {
            parent[cbname](result);
        }
    };
    </script>
    
    }