@model ZoomLaCMS.Control.C_SelUser
@{ 
    Layout = "_empty";
    /*
     * ShowComDiag("/Common/SelUser?selMode=single&dataMode=plat", "选择用户");
     * 1.写入Html
       <div class="input-group">
            <input type="text" class="form-control max20rem" ID="user_t" name="user_t" />
            <span class="input-group-append"><input type="button" class="btn btn-info" value="选择用户" onclick="user.sel2('selMode=single','user')" /></span>
        </div>
        <input type="hidden" ID="user_hid" name="user_hid" />
        2.如不使用默认的处理机制,则注册回调方法
     *   user.hook[select]=function(list,select){}
     */ 
}
@section head{<title>选择用户</title>}
@section content{
<link href="/theme/css/V4.css" rel="stylesheet" />
<style type="text/css">
.nav-tabs li{width:auto;margin-top:2px;overflow:hidden;}
.float-left{float:left;}
.float-right{float:right;}

/*用户选择器*/
.selgroup_body_top a{color: #fff;}
.selgroup_body{margin-top:0.5rem;}
.nav-tabs>li{margin-left: 0.5rem;}
.mfilter_list li{display: inline-flex;}
.mfilter_list li a{color:#1e88e5;}
.filter_list li a{color:#1e88e5;}
.userlist_div{height:20rem;overflow: auto;}
.userlist_div .userlist_item{height:3rem;line-height:3rem;padding-left:0.5rem;cursor:pointer;}
.userlist_div .userlist_item:hover{background-color:rgba(0, 180, 248,.3)}
.userlist_div .userlist_item:hover .item_add{display:block;}
.empty_div{height:30px;line-height:30px;display:none;text-align: center;}
.userlist_item .item_face{ padding-right: 0.5rem;}
.userlist_item .item_face img{width:2rem;height:2rem;border-radius:50%;}
.userlist_item .item_add{color:#1e88e5;width:40px;display:none;}
.selgroup_foot{text-align: right;}
.group_item .item_face{width:auto;margin-right:5px;}
.group_item .item_face img{width:auto;height:auto;}
.group_item .btn{margin-right:5px;margin-bottom:4px;}
.selgroup_content #wait_div{display:none;}

</style>
<div class="container-fluid ">
<div class="selgroup_body_top">
    <div class="input-group mt-1">
        <input type="text" id="search_t" class="form-control" placeholder="请输入用户名称,按回车搜索" />
        <div class="input-group-append">
            <button type="button" id="search_b" class="btn btn-info"><i class="zi zi_search"></i></button>
        </div>
    </div>
</div>
<div class="selgroup_body" style="margin-top:5px;">
	<div class="row" style="margin-bottom:5px;border-bottom:1px solid #ddd;">
		<div class="col-7">		
			@*<ul class="nav nav-tabs">
			      <li role="presentation" id="group_tab" visible="false" runat="server" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="javascript:;" onclick="B_Groups.LoadGroups();">按会员组筛选</a></li>
			      <li role="presentation" id="platgroup_tab" visible="false" runat="server" class="nav-item"><a class="nav-link" href="javascript:;" onclick="B_Groups.LoadGroups();">按部门筛选</a></li>
			      <li role="presentation" id="structgroup_tab" visible="false" runat="server" class="nav-item"><a class="nav-link" href="javascript:;" onclick="B_Groups.LoadGroups();">组织结构筛选</a></li>
			  </ul>*@
            <div class="nav nav-tabs" id="user_tab"><a href="javascript:;" class="nav-link active"  onclick="B_Users.SearchByList({});">所有人</a></div>
			<div class="selgroup_content" >
				<div class="userlist_div">
					@*<div class="text-right" id="backgroup_div" style="padding:5px;display:none;">
						<a href="javascript:;" onclick="B_Groups.Show()"><i class="zi zi_users"></i> 返回用户组</a>
					</div>*@
					<div id="userbody_div"></div>
					@*<div id="groupbody_div" style="display:none;"></div>*@
					<div class="">
						<div class="empty_div"></div>
						<div id="load_div" class="text-center"><a href="javascript:;" onclick="B_Users.LoadMore();">加载更多</a></div>
						<div id="wait_div" class="text-center"><i class="zi zi_spinner zi_spin" style="font-size: 40px;"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5">
			<div class="nav nav-tabs"><a href="javascript:;" class="nav-link active">已选用户</a></div>
			<div id="seluser_div" class="userlist_div"></div>
		</div>
	</div>
	<div class="selgroup_foot">
		<button type="button" onclick="SelUser()" class="btn btn-info">确定选择</button>
		<a class="btn btn-outline-info mr-2" href="javascript:;" onclick="B_Users.RemoveAll();">全部清空</a>
	</div>
</div>
</div>
<input type="hidden" id="model_hid" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)"/>
    }
@section script{
<script src="/JS/Controls/ZL_Array.js"></script>
<script>
    //读取传参的初始配置
    //{ "cpage": 1, "psize": 10, "r_pcount": 0, "r_itemCount": 0, "r_dt": null, "skey": "", "useMode": "", "viewMode": "", "dataMode": "user", "groupId": 0, "structId": 0 };
    var conf_init = JSON.parse($("#model_hid").val())
    conf_init = JSON.stringify(conf_init);
    //-----------------------
    var B_Users = {
        conf: JSON.parse(conf_init),
        sellist: [],//已选择用户数组
        //重置conf配置(分页与筛选条件)
        ResetConf:function(){
            var ref = this;
            ref.conf = JSON.parse(conf_init);
            //还原选项卡
            $(".tabs").removeClass('active');
            $("#user_tab").addClass('active');
            $("#backgroup_div").hide();//隐藏返回用户组操作
        },
        ShowWait:function(){//等待效果
            var ref = this;
            $(".empty_div").hide();
            $("#load_div").hide();
            $("#wait_div").show();
        },
        CloseWait: function () {
            var ref = this;
            $("#wait_div").hide();
            $("#load_div").show();
        },
        //加载已选中的用户
        LoadSelList:function(){
            var ref = this;
            $("#seluser_div").html('');
            var html = "<div class=\"userlist_item\" data-uid='@@UserID'>"
                    + "<div class=\"item_face float-left\"><img src=\"@@salt\" onerror=\"this.src='/images/userface/noface.png';\"/></div>"
                    + "<div class=\"float-left item_name\">@@UserName</div>"
                    + "<div class=\"float-right item_add\">移除</div>"
                    + "</div>";
            $("#seluser_div").append(JsonHelper.FillData(html, ref.sellist));
            //绑定事件
            $("#seluser_div .userlist_item").click(function () {//移除事件
                ref.RemoveUser($(this));
            });
        },
        //将用户添加入已选(传入元素控件,或Json格式用户信息)
        SelUser:function($obj){
            var ref = this;
            var user = {};
            if ($obj.data) {
                user = {
                    UserID: $obj.data('uid'),
                    salt: $obj.find('.item_face img').attr('src'),
                    UserName: $obj.find('.item_name').text(),
                    HoneyName:$obj.data("hname"),
                };
            }
            else { user = $obj; }
            //----------------------
            if (ref.sellist.GetByID(user.UserID, "UserID")) { return; }//已存在则不添加
            //----------------------
            if ("@Model.selMode" == "single") { ref.sellist = []; }
            ref.sellist.push(user);
            ref.LoadSelList();
        },
        //移除已选中用户操作
        RemoveUser:function($obj){
            var ref = this;
            ref.sellist.RemoveByID($obj.data('uid')+"", "UserID");
            ref.LoadSelList();
        },
        //移除全部已选择用户
        RemoveAll: function () {
            var ref = this;
            ref.sellist = [];
            ref.LoadSelList();
        },
        //搜索操作
        SearchByList: function (option) {
            var ref = this;
            $("#userbody_div").html('');
            ref.ResetConf();
            if (option.groupId) {//用户组查询
                //改变选项卡
                B_Groups.activeTabs();
                $("#backgroup_div").show();//返回用户组按钮
                ref.conf.groupId = option.groupId;
            }
            if (option.skey) { ref.conf.skey = option.skey; }
            ref.LoadMore();
        },
        //加载数据
        LoadMore: function () {
            var ref = this;
            $("#groupbody_div").hide();//隐藏用户组列表
            $("#userbody_div").show();//显示用户列表
            var $body = $("#userbody_div");
            ref.ShowWait();
            $div = $("<div>");
            $div.load("SelUser", ref.conf, function () {
                ref.CloseWait();
                if ($div.find(".userlist_item").length < ref.conf.psize) {//没有更多的数据
                    $(".empty_div").html("<span style='color:#999;'>没有更多用户了!</span>");
                    $(".empty_div").show();
                    $("#load_div").hide();
                }
                //事件绑定
                $div.find('.userlist_item').click(function () {
                    ref.SelUser($(this));
                });
                $body.append($div.children());
                if ($body.find(".userlist_item").length <= 0) {//没有数据
                    $(".empty_div").html("<span style='color:#999;'>暂无数据!</span>");
                    $(".empty_div").show();
                    $("#load_div").hide();
                }
                ref.conf.page++;//翻页
            });
        }
    }
    $(function () {
        $("form").submit(function () { return false; });//禁用form提交
        //搜索事件
        $("#search_t").keydown(function (e) {
            //回车绑定
            if (e.keyCode == 13) {
                B_Users.SearchByList({skey:$(this).val()});
            }
        });
        $("#search_b").click(function () {
            B_Users.SearchByList({ skey: $("#search_t").val() });
        });
        B_Users.LoadMore();
    });
    //回调父窗体
    function SelUser() {
        var cbname = getParam2();
        console.log(cbname, parent.user.hook[cbname]);
        if ("@Context.Request.GetParam("Source")" == "plat") {
            //plat支持部门At
            var chks = $("input[name=plat_group_chk]:checked");
            var json = [];
            for (var i = 0; i < chks.length; i++) {
                var model = { gid: "", gname: "" };
                model.gid = $(chks[i]).data("gid");
                model.gname = $(chks[i]).data("gname");
                json.push(model);
            }
            parent.GroupAt_Add(json);
        }
        if (parent.UserFunc) { parent.UserFunc(B_Users.sellist, cbname); }
        else {
            parent.user.deal(B_Users.sellist, cbname);
        }
    }
</script>    
    
    }