@model System.Data.DataTable
@functions{

}
@{

}
@section head{
    <title>销售记录</title>
}
@section content{
    <div id="pageflag" data-nav="shop" data-ban="store"></div>
    <div class="container">
	<nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
            <li class="breadcrumb-item"><a href="../UserShop/ProductList">我的店铺</a></li>
            <li class="breadcrumb-item active">按商品统计</li>
        </ol>
	</nav>	
        @Html.Partial("TopMenu")
        <div class="input-group" style="margin-bottom:5px;width:520px;">
            <span class="input-group-addon">起始时间</span>
            <input type="text" class="form-control text_md mvcparam" name="sdate" id="sdate" onclick="WdatePicker({ dateFmt: 'yyyy/MM/dd' });" />
            <span class="input-group-addon">结束时间</span>
            <input type="text" class="form-control text_md mvcparam" id="edate" onclick="WdatePicker({ dateFmt: 'yyyy/MM/dd' });" />
            <span class="input-group-btn">
                <input type="button" class="btn btn-info" value="搜索"
                       onclick="mvcpage.load({ url: 'SaleByDay' });" />
            </span>
        </div>
        @Html.Partial("SaleByDay_List", Model)
    </div>
<script>
//导航处理
	$("#usernav1 ul li").removeClass("active").siblings().eq(2).addClass("active");
</script>	
}
@section script{
    <script src="/JS/DatePicker/WdatePicker.js"></script>
    <script src="/JS/Label/ZLHelper.js"></script>
}