@Html.Partial("../UserShop/UserShopTop")
<div class="alert alert-success" style="margin-top:3px;">
    <a href="Index">总体销售统计</a> |
    <a href="SaleByProduct">商品销售排名</a> |
    <a href="SaleByClass">商品类别销售排名</a> |
    <a href="SaleByDay">商品按日销售排名</a> |
    @*<a href="SaleByUser">会员订单排名</a>*@
</div>