@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    
}
@section head{
<title>学生申请管理</title>
}
@section content{

<div id="pageflag" data-nav="edu" data-ban="ke"></div>
<div class="container">
<nav aria-label="breadcrumb" role="navigation">
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="@Url.Action("Default","")">用户中心</a></li>
	<li class="breadcrumb-item"><a href="@Url.Action("ClassManage","Exam")">班级管理</a></li>
	<li class="breadcrumb-item active">班级成员管理 </li>
</ol>
</nav>
</div>
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active" role="presentation" class="active" data-tabid="-1"><a class="nav-link active" href="StudentManage?cid=<%=ClassID %>&status=-1&stutype=<%=StuType %>">全部</a></li>
        <li class="nav-item" role="presentation" data-tabid="1"><a class="nav-link" href="StudentManage?cid=<%=ClassID %>&status=1&stutype=<%=StuType %>">已审核</a></li>
        <li class="nav-item" role="presentation" data-tabid="0"><a class="nav-link" href="StudentManage?cid=<%=ClassID %>&status=0&stutype=<%=StuType %>">未审核</a></li>
    </ul>
    @Html.Partial("StudentManage_List",Model)
    <div id="Option_Div"  visible="false">
        <button id="auit_btn"  class="btn btn-info"  onclick="Auit_Btn_Click">批量审核</button>
        <button id="unauit_btn"  class="btn btn-info"  onclick="UnAuit_Btn_Click">批量拒绝</button>
        <button id="del_btn"  class="btn btn-outline-danger"  onclick="Del_Btn_Click">批量删除</button>
    </div>
</div>
<script>
//导航处理
	$("#usernav1 ul li").removeClass("active").siblings().eq(3).addClass("active");
</script>	
}
@section script{
<script>
    function InitTab(id) {
        $("[data-tabid]").removeClass("active");
        $("[data-tabid='" + id + "']").addClass("active");
    }
</script>
}