@{ 
//    protected B_OA_Sign signBll = new B_OA_Sign();
//protected M_OA_Sign signMod = new M_OA_Sign();
//protected void Page_Load(object sender, EventArgs e)
//{
//    EGV.txtFunc = txtPageFunc;
//    if (!IsPostBack)
//    {
//        DataBind();
//    }
//}
//private void DataBind(string key = "")
//{
//    DataTable dt = new DataTable();
//    dt = signBll.SelAll();
//    if (!string.IsNullOrEmpty(key))
//    {
//        key = "'%" + key + "%'";
//        dt.DefaultView.RowFilter = "UserName like " + key + " or SignName Like " + key;
//    }
//    EGV.DataSource = dt;
//    EGV.DataBind();
//}
////处理页码
//protected void EGV_PageIndexChanging(object sender, GridViewPageEventArgs e)
//{
//    EGV.PageIndex = e.NewPageIndex;
//    DataBind();
//}
//protected void EGV_RowCommand(object sender, GridViewCommandEventArgs e)
//{
//    switch (e.CommandName.ToLower())
//    {
//        case "del2":
//            signBll.DelByID(DataConverter.CLng(e.CommandArgument.ToString()));
//            Page.ClientScript.RegisterStartupScript(this.GetType(), "", "alert('操作成功');", true);
//            break;
//    }
//    DataBind();
//}
//protected void searchBtn_Click(object sender, EventArgs e)
//{
//    DataBind(searchText.Text.Trim());
//}
//protected void EGV_RowDataBound(object sender, GridViewRowEventArgs e)
//{
//    e.Row.Attributes["class"] = "tdbg";
//    if (e.Row != null && e.Row.RowType == DataControlRowType.DataRow)
//    {
//        e.Row.Attributes["ondblclick"] = String.Format("javascript:location.href='AddSign.aspx?ID={0}'", this.EGV.DataKeys[e.Row.RowIndex].Value.ToString());
//        e.Row.Attributes["onmouseover"] = "this.className='tdbgmouseover'";
//        e.Row.Attributes["onmouseout"] = "this.className='tdbg'";
//        e.Row.Attributes["style"] = "cursor:pointer;";
//        e.Row.Attributes["title"] = "双击修改";
//    }
//}
//public string GetStatus(string status)
//{
//    switch (status)
//    {
//        case "0":
//            return "<font color='red'>不启用</font>";
//        case "1":
//            return "<font color='green'>启用</font>";
//        default:
//            return "";
//    }
//}

}
@section head{<title>签章管理</title> }
@section content{ 
    <div>
        <ol class="breadcrumb fixed-top">
            <li class="breadcrumb-item"><a href='<%=CustomerPageAction.customPath2 %>Main.aspx'>工作台</a></li>
            <li class="breadcrumb-item"><a href='../Config/SiteOption.aspx'>系统设置</a></li>
            <li class="breadcrumb-item"><a href='OAConfig.aspx'>OA配置</a></li>
            <li class="breadcrumb-item">签章管理<a href='AddSign.aspx'> [添加签章]</a></li>
            <div class="float-right text-center mr-2 ml-auto"><a href="javascript:;" onclick="selbox.toggle();" id="sel_btn" class="help_btn"><i class="zi zi_search"></i></a></div>
            <div id="sel_box" runat="server">
                <div class="input-group float-left">
                    <asp:TextBox runat="server" ID="searchText" class="form-control max20rem" placeholder="请输入需要查询的信息" />
                    <span class="input-group-append">
                        <asp:Button ID="searchBtn" CssClass="btn btn-outline-secondary" runat="server" Text="搜索" OnClick="searchBtn_Click" />
                    </span>
                </div>
            </div>
        </ol>
    </div>
    <div class="tab3 list_choice table-responsive-md pr-1">
        <ZL:ExGridView runat="server" ID="EGV" AutoGenerateColumns="false" AllowPaging="true" PageSize="20" EnableTheming="False" GridLines="None" CellPadding="2" CellSpacing="1"  CssClass="table table-striped table-bordered table-hover" EmptyDataText="当前没有信息!!" OnRowDataBound="EGV_RowDataBound" DataKeyNames="ID" OnPageIndexChanging="EGV_PageIndexChanging" OnRowCommand="EGV_RowCommand">
            <Columns>
                <asp:BoundField HeaderText="ID" DataField="ID" />
                <asp:BoundField HeaderText="签章名" DataField="SignName" />
                <asp:BoundField HeaderText="绑定用户" DataField="UserName" />
                <asp:TemplateField HeaderText="签章图">
                    <ItemTemplate>
                        <a onmouseout="showdiv(this)" onmouseover="showdiv(this)" class="lightbox" title="<%#Eval("SignName")%>">
                            <img src="<%#Eval("VPath") %>" title="<%#Eval("SignName")%>" alt="" style="width: 60px; height: 60px;" /></a>
                        <div class="imagediv" style="display: none; position: absolute;">
                            <img src="<%#Eval("VPath") %>" alt="" />
                        </div>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="签章密码">
                    <ItemTemplate>
                        <input type="button" class="btn btn-primary" value="查看" onclick="$(this).hide();$(this).siblings('span').show();" />
                        <span style="display:none;"><%#Eval("SignPwd") %></span>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField HeaderText="添加时间" DataField="CreateTime" />
                <asp:TemplateField HeaderText="状态">
                    <ItemTemplate>
                        <%# GetStatus(Eval("Status","{0}")) %>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="操作">
                    <ItemTemplate>
                        <a href="AddSign.aspx?ID=<%#Eval("ID") %>"><i class="zi zi_pencilalt" zico="笔黑"></i></a> 
                        <asp:LinkButton ID="LinkButton1" runat="server" CommandName="Del2" CommandArgument='<%#Eval("ID") %>' OnClientClick="return confirm('你确定要删除吗!');" ToolTip="删除" ><i class="zi zi_trashalt" title="删除"></i>删除</asp:LinkButton>
                    </ItemTemplate>
                </asp:TemplateField>
            </Columns>
            <PagerStyle HorizontalAlign="Center" />
            <RowStyle Height="24px" HorizontalAlign="Center" />
        </ZL:ExGridView>
    </div>
}
@section script{ 
    <script>
        function showdiv(obj)
        {
            imagediv = $(obj).parent().find(".imagediv").toggle();
        }
        $().ready(function () {
            $(":button").addClass("btn btn-primary");
            $(":submit").addClass("btn btn-primary");
            $("#EGV tr:last >td>:text").css("line-height", "normal");
            $("#EGV tr:first >th").css("text-align", "center");
        });
    </script>
}