@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    
}
@section head{
    <title>栏目管理</title>
}
@section content{
    <div id="pageflag" data-nav="page" data-ban="page"></div>
	<div class="container">
	<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
		<li class="breadcrumb-item"><a href='@Url.Action("Default","Pages")'>企业黄页</a></li>
		<li class="breadcrumb-item active">栏目管理<a href="@Url.Action("AddNode","Pages")">[添加栏目]</a></li>
	</ol>
	</nav>
	</div>
	
    <div class="container btn_green">
        @Html.Partial("ClassManage_List", Model)
    </div>
}
<script>
//导航处理
	$("#usernav1 ul li").removeClass("active").siblings().eq(4).addClass("active");
</script>
@section script{
    <script>
        $(function () {
            $("#CheckAll").click(function () {
                var allcheck = $(this)[0];
                $("[name='idchk']").each(function () {
                    $(this)[0].checked = allcheck.checked;
                });
            });
        })
    </script>
}
