@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    
}
@section head{
    <title>互动模块管理</title>
}
@section content{
    <div class="container">
	<nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a title="会员中心" href="@Url.Action("Default")">会员中心</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Default","Pages")">企业黄页</a></li>
            <li class="breadcrumb-item active">互动模块管理</li>
        </ol>
	</nav>	
        <span>
            <input type="hidden" id="type" name="type" class="mvcparam" value="" />
            <a href="javascript:;" onclick="$('#type').val('1'); mvcpage.load();">所有信息</a>|
            <a href="javascript:;" onclick="$('#type').val('3'); mvcpage.load();">待审核信息</a>|
            <a href="javascript:;" onclick="$('#type').val('2'); mvcpage.load();">已审核信息</a>
        </span>
        @Html.Partial("ViewSmallPub_List", Model)
        @if (ViewBag.PubRole.ToString() == "1")
        {
            <input type="button" class="btn btn-primary" value="批量删除" onclick="mvcpage.bat({ url: 'pub_del?TableName=@ViewBag.TableName', confirm: '不可恢复性删除数据,你确定将该数据删除吗？' });" />
        }
    </div>
<script>
//导航处理
	$("#usernav1 ul li").removeClass("active").siblings().eq(4).addClass("active");
</script>	
}
@section script{
    <script>
        function OpenLink(lefturl, righturl) {
            if (lefturl != "") {
                parent.frames["left"].location = lefturl;
            }
            parent.frames["main_right"].location = righturl;
        }
    </script>
}
