@section head{ <title>采购订单</title>}
@section content{
               <div class="container-fluid">
                   @Html.Partial("_pageTop", new C_Model() { text = "新建订单", url = "CGOrderAdd" })
                  <div class="row">
                       @Html.Partial("CGOrder_List")
                  </div>
               </div>
 }
@section script{


 }