@charset "UTF-8";
/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
@import url(v4style_patch.css);
@import url("//code.z01.com/Zfont.css");
@import url("/dist/css/ZLico.css");
a { color: #0072bc; }

a:hover { text-decoration: none; }

body { background: rgba(0, 114, 188, 0.02); }

.modal-header .close { transition: all 0.5s ease; }

.close:hover { transform: rotate(360deg); }

.zlogo1, .zlogo2, .zlogo3 { float: left; font-family: "ZoomlaICO"  !important; cursor: pointer; }

.zlogo1 { margin-top: -1.2rem; margin-left: 5px; height: 26px; font-size: 4.3em; color: #ccc; }

.zlogo2 { margin-top: -2.2rem; margin-left: -5px; height: 36px; font-size: 6rem; color: #FFF; z-index: -1; }

.zlogo3 { margin-top: -0.5rem; margin-left: 5px; font-size: 3.4rem; color: #ccc; }

.zlogo3 a { color: #ccc; }

.zlogo4 { width: auto; margin-left: 3.98rem; font-size: 1.4rem; color: #FFF; cursor: pointer; }

.zlogo4 span { display: block; font-size: 0.78rem; }

.ZoomlaICO2015:before { font-family: 'ZoomlaICO'; content: "\51F7"; }

.below { border-bottom: 1px solid #ddd; }

.cRadius_left { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }

.cRadius_right { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

.cRadius_rl { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

.max20rem { max-width: 20rem; }

.mb_1rem { margin-bottom: 1rem; }

.mb_2rem { margin-bottom: 2rem; }

.width1100 { max-width: 1100px; }

.max_width1100 { max-width: 1100px; }

.w_6rem { width: 6rem; }

.dib { display: inline-block; }

.bd_none { border: none; }

.mt_3rem { margin-top: 3.2rem; }

.sys_cur_poin { cursor: pointer; }

.mr5px { margin-right: 5px; }

.w12rem_lg { width: 12rem; }

.m50rem_50 { width: 50%; max-width: 50rem; }

.h6rem { height: 6rem; }

.height_50 { height: 50px; }

.table_box { padding-left: 0; padding-right: 0; }

.sys_table { color: rgba(85, 77, 77, 0.8); }
.sys_table th { text-align: right; vertical-align: middle; }

.sysRow { margin-left: -15px; margin-right: 5px; margin-bottom: 2rem; }

.pwa_view_wrap .item { float: left; width: 320px; height: 570px; margin-right: 10px; border: 1px solid #dddddd; position: relative; }
.pwa_view_wrap .item img { width: 100%; }
.pwa_view_wrap .pwa_view_item1 { position: absolute; left: 6rem; top: 29px; background: url(/manage/mobile/pwa_assets/icon_bk.jpg) no-repeat; background-size: 100% 100%; width: 57px; height: 57px; text-align: center; }
.pwa_view_wrap .pwa_view_item1 img { margin-top: 0.4rem; border-radius: 50%; width: 2.6rem; }
.pwa_view_wrap .pwa_view_item1 span { line-height: 2rem; font-size: 0.72rem; color: #fff; }
.pwa_view_wrap .pwa_view_item2 img { position: absolute; width: 43px; top: 258px; left: 138px; }
.pwa_view_wrap .pwa_view_item2_name { position: absolute; width: 100%; top: 312px; color: #fff; text-align: center; }
.pwa_view_wrap .pwa_view_item3 strong { display: block; position: absolute; width: 100%; top: 305px; color: #fff; text-align: center; font-weight: normal; }
.pwa_view_wrap .pwa_view_item3_bar { position: absolute; bottom: 0; left: 1rem; width: 100%; height: 8rem; }
.pwa_view_wrap .pwa_view_item3_bar img { width: 2.8rem; height: 2.8rem; }
.pwa_view_wrap .pwa_view_item3_bar p { padding-left: 0.4rem; color: #999; }
.pwa_view_wrap .pwa_view_item3_bar span { display: block; width: 100%; text-align: left; }

#help { position: absolute; right: 0.625rem; top: 0.94rem; }
#help i { color: rgba(102, 102, 102, 0.8); cursor: pointer; }

#help #help_div { border: 1px solid gold; margin-top: 1.25rem; padding-bottom: 0.625rem; }

#help #help_content { position: absolute; top: 0; right: 0; width: 16rem; min-height: 10rem; padding: 0.32rem; border: 1px solid rgba(102, 102, 102, 0.8); background: white; line-height: 1.125rem; color: #999999; box-shadow: 1px 2px 2px black; }
#help #help_content p { margin-bottom: 0; /*text-indent:1.02rem;*/ text-align: justify; text-justify: inter-ideograph; font-size: 0.72rem; }
#help #help_content ul { list-style: none; margin-top: 0.625rem; margin-bottom: 0.625rem; text-align: left; font-size: 0.75rem; color: #666666; }
#help #help_content abbr { padding-left: 0.2rem; border-left: 0.3rem solid red; font-style: normal; font-size: 0.8rem; font-weight: bold; }
#help #help_content h1 { padding-top: 0.65rem; font-size: 0.88rem; line-height: 0.625rem; }

#help #help_content li { font-size: 0.75rem; color: #666666; text-align: left; padding-left: 0.125rem; margin-top: 0.625rem; text-indent: 1.25rem; }

#help #help_content li.example { text-indent: 0px; margin-top: 0.625rem; margin-bottom: 0.625rem; }

#help #help_content a { display: inline; text-decoration: underline; color: #999999; }

#help #help_content a:hover { color: #666666; }

#help #help_hide { display: block; position: absolute; top: 0.5rem; right: 0.5rem; width: 1.25rem; }
#help #help_hide span { cursor: pointer; }

.list_choice { margin-top: 3.5rem; }

#userform_table span { line-height: 1.8rem; }

#userform_table tr.check_ok .form-control { border: 1px solid #17e217; }

#userform_table tr.check_err .form-control { border: 1px solid #f31111; }

#userform_table tr .fa-check { color: #17e217; position: absolute; font-size: 1.5em; right: 15px; top: 16px; }

#userform_table tr .fa-remove { color: #f31111; position: absolute; font-size: 1.5em; right: 15px; top: 16px; }

#userform_table .text_td { position: relative; }
#userform_table .text_td .btn { margin-right: 0.6rem; }

.userform { position: absolute; top: 50%; left: 0; margin-top: -23rem; height: 46rem; background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 5px 2px rgba(9, 9, 9, 0.5); }
.userform h1 { line-height: 5rem; font-size: 1.68rem; color: #333030; border-bottom: 1px solid #ccc; }
.userform .hascount { font-size: 1rem; color: #337ab7; }
.userform .panel-heading small { color: #999; margin-top: .8rem; font-size: 1rem; }
.userform .table td, .userform .table th { border: none; }
.userform #email_btns { background: white; }
.userform #email_btns > a:hover { background: #cccccc; }
.userform .panel-default .panel-heading { border: none; border-bottom: 1px solid #ddd; background: none; }
.userform .panel-heading { padding: 1.2rem 0.8rem; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 2em; }

#Tip_Div { padding: 1.8rem 1.3rem; }

#lock { height: 100vh; background: linear-gradient(180deg, #bec3ca 30%, #1c6297); background-size: cover; width: 100%; z-index: 10001; }

.loFont { padding-top: 40vh; margin: auto; width: 16rem; height: 6rem; color: #FFF; }

.pass_div { position: relative; }
.pass_div i { position: absolute; left: 10px; top: 33px; font-size: 1.2rem; color: #5BC0DE; }
.pass_div input { padding-left: 2rem; }

/*用户选择器*/
.selgroup_body_top a { color: #fff; }

.selgroup_body { margin-top: 0.5rem; }

.selgroup_body .nav-tabs > li { margin-left: 0.5rem; }

.selgroup_body .mfilter_list li { display: inline-flex; }

.selgroup_body .mfilter_list li a { color: #1e88e5; }

.selgroup_body .filter_list li a { color: #1e88e5; }

.selgroup_body .userlist_div { height: 20rem; overflow: auto; }

.selgroup_body .userlist_div .userlist_item { height: 3rem; line-height: 3rem; padding-left: 0.5rem; cursor: pointer; }

.selgroup_body .userlist_div .userlist_item:hover { background-color: rgba(0, 180, 248, 0.3); }

.selgroup_body .userlist_div .userlist_item:hover .item_add { display: block; }

.selgroup_body .empty_div { height: 30px; line-height: 30px; display: none; text-align: center; }

.selgroup_body .userlist_item .item_face { padding-right: 0.5rem; }

.selgroup_body .userlist_item .item_face img { width: 2rem; height: 2rem; border-radius: 50%; }

.selgroup_body .userlist_item .item_add { color: #1e88e5; width: 40px; display: none; }

.selgroup_body .selgroup_foot { text-align: right; }

.selgroup_body .group_item .item_face { width: auto; margin-right: 5px; }

.selgroup_body .group_item .item_face img { width: auto; height: auto; }

.selgroup_body .group_item .btn { margin-right: 5px; margin-bottom: 4px; }

.selgroup_body .selgroup_content #wait_div { display: none; }

/*后台操作成功与错误提示类*/
.sysTips_prompt { margin-top: 20vh; -webkit-animation-name: pulse; animation-name: pulse; }

.merger_btn { border: 1px solid #ced4da; }

.panel_footers { margin-bottom: 1rem; padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #ddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }

.a_Jump { text-decoration: underline; }

.group_box { margin: 0.8rem 0; }

.group_input { background: #eeeeee; border: 1px solid #cccccc; padding: .375rem .75rem; border-radius: .25rem; }

.sys_table_none > table tr, .sys_table_none > table td { background: white; border: none; }

.selcolor { font-size: 1rem; }

td.d-inline-flex .selcolor { margin-left: .6rem; padding-top: .3rem; }

.setorderstatus .td_l { width: 28rem; }

.setorderstatus .text_md { width: 25rem; max-width: 25rem; }

.default_div .input-group-addon { width: 40px; }
.default_div li { list-style: none; margin: 1rem 0; }

.FalseHints_box li { list-style: none; }

.mid_txtbox { margin: auto; margin-top: 5%; width: auto; padding: 1.2rem; }
.mid_txtbox h2 { line-height: 2em; color: #cccccc; font-size: 1.2rem; }
.mid_txtbox .btn { margin-left: 1.2rem; margin-right: 1.2rem; }

.mid_txtcnt h1 { font-size: 2rem; }

.creat_btn .btn { margin-top: 0.76rem; }
.creat_btn .btn i { display: block; margin-top: .8rem; font-size: 4em; text-align: center; }

.mysite { margin-bottom: 0.8rem; }

.excontent_wrap { display: inline-block; width: 120px; margin-top: 5px; margin-left: 5px; }
.excontent_wrap .verbak_l { font-weight: normal; position: relative; top: 3px; }

.Conent_fix { width: 100%; position: fixed; padding: 10px 0 15px; bottom: 0px; z-index: 1000; background: #fff; border: 1px solid #ddd; text-align: center; background: rgba(255, 255, 255, 0.7); }

/*内容添加与编辑浮动按钮*/
.Ctitle { text-align: left; position: relative; cursor: pointer; width: 100%; }

.popover { right: 0; top: 10px; max-width: none; }

.allchk_l { float: left; font-weight: normal; cursor: pointer; }

.allchk_sp { position: relative; bottom: -3px; }

.spanfixdiv1 { border-radius: 4px; background: #fff; cursor: pointer; border: 1px solid #ddd; padding: 8px; max-width: 180px; margin-right: 2px; display: inline-block; overflow-x: hidden; text-overflow: ellipsis; }

.spanfixdiv1:hover { background-color: rgba(91, 192, 222, 0.8); color: #fff; }

.spanfixdivchechk, .spanfixdiv { overflow: hidden; cursor: pointer; border-bottom: none; }

.spanfixdivchechk a { font-size: 1.2em; margin: 0px 10px 0px 5px; }

.spanfixdivchechk:hover, .spanfixdiv:hover { background-color: rgba(91, 192, 222, 0.8); color: #fff; }

#pushcon_div { position: fixed; right: 0px; top: 50%; height: 300px; overflow-y: auto; width: 180px; display: none; }

/*内容管理--推送*/
#pushcon_ul li { padding-bottom: 3px; border-bottom: 1px dashed #337ab7; }

.Conent_add_fix { margin-bottom: 2rem; line-height: 6rem; border: 1px solid #ddd; text-align: center; background: white; }

/*内容添加与编辑浮动按钮*/
/*组图字段*/
.preview_img_ul { list-style: none; margin: 0; padding: 0; }

.preview_img_ul li { text-align: center; position: relative; display: inline; float: left; margin: 2px; overflow: hidden; font-size: 12px; }

.preview_img_ul li img { padding: 2px; width: 110px; height: 110px; border: 1px solid #ddd; }

.preview_img_ul div.file-panel { position: absolute; height: 0; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endColorstr='#80000000') \0; background: rgba(0, 0, 0, 0.5); width: 100%; top: 0; left: 0; overflow: hidden; z-index: 300; }

.preview_img_ul div.file-panel span { width: 24px; height: 24px; display: inline; float: right; text-indent: -9999px; overflow: hidden; background: url(/Plugins/WebUploader/images/icons.png) no-repeat; margin: 5px 1px 1px; cursor: pointer; }

.preview_img_ul div.file-panel span.choose { background-position: -137px -21px; }

.preview_img_ul div.file-panel span.choose:hover { background-position: -137px 0; }

.preview_img_ul div.file-panel span.cancel { background-position: -48px -24px; }

.preview_img_ul div.file-panel span.cancel:hover { background-position: -48px 0; }

.preview_img_ul div.file-panel span.editpic { background-position: -72px -24px; }

.preview_img_ul div.file-panel span.editpic:hover { background-position: -72px 0; }

#ThumImg_ul { margin-top: 5px; }

#ThumImg_ul li { margin-bottom: 25px; }

#ThumImg_ul li.choose img { border: 1px solid #0094ff; }

#ThumImg_ul li span.success { display: block; position: absolute; left: 0; bottom: 0; height: 40px; width: 100%; z-index: 200; background: url(/Plugins/Ueditor/dialogs/image/images/success.png) no-repeat right bottom; background: url(/Plugins/Ueditor/dialogs/image/images/success.gif) no-repeat right bottom \9; }

.preview_img { cursor: url(/App_Themes/Admin/zoomin.cur), auto; }

.zt_op_div { display: inline-table; }

.sysTlpDP { font-size: 0.8rem; }
.sysTlpDP .sysTlpDP_input { min-width: 20rem; text-align: left; }
.sysTlpDP .dropdown-menu li a { padding-left: 0.5rem; }

.Template_files { max-height: 300px; min-width: 300px; overflow-y: auto; overflow-x: hidden; }

.sysTop { display: flex; background: #0076de; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
.sysTop .sysTop_logo { width: 12rem; height: 3.6rem; overflow: hidden; }

#sysSearch .input-group { margin-top: -0.12rem; }
#sysSearch .form-control { color: #99ccff !important; }
#sysSearch input.form-control { width: 90px; border-left: none; border-right: none; border-top: none; border-radius: 0; border-bottom: 1px solid rgba(204, 204, 204, 0.5); transition: all 0.3s ease-in; background: none; }
#sysSearch input.form-control:focus { width: 10rem; }
#sysSearch .input-group i { position: absolute; right: 5px; top: 8px; color: #cccccc; z-index: 1; }
#sysSearch input::-webkit-input-placeholder { color: #cccccc; overflow: hidden; }

#leftSwitch { position: absolute; top: 40%; right: -20px; height: 100px; width: 20px; padding-top: 38px; cursor: pointer; text-align: center; background-color: rgba(0, 114, 188, 0.18); border-top-right-radius: 15px; border-bottom-right-radius: 15px; z-index: 10; box-shadow: rgba(0, 0, 0, 0.09804) 0px 2px 5px 0px, rgba(0, 0, 0, 0.07843) 0px 2px 10px 0px; }

.visible-sm { display: none; }

.open { display: block; }

.sysMenu { margin-right: auto; }
.sysMenu ul { margin-top: 0.8rem; font-size: 1.1rem; }
.sysMenu li { min-width: 5rem; height: 2.8rem; line-height: 2.8rem; text-align: center; cursor: pointer; }
.sysMenu li { color: #99ccff; }
.sysMenu li a { display: block; width: 100%; height: 100%; text-align: center; }
.sysMenu ul .active { background: #fff; border-top-left-radius: 0.4rem; border-top-right-radius: 0.4rem; }

.sysTop_right { padding-right: 1rem; align-items: flex-end; align-self: center; }
.sysTop_right a { color: #99ccff; }
.sysTop_right .dropdown-toggle { color: #99ccff; }
.sysTop_right .dropdown-toggle a:hover { color: rgba(241, 242, 243, 0.8); }
.sysTop_right .dropdown { margin-left: 0.4rem; margin-right: 1rem; float: left; }
.sysTop_right .dropdown-menu { opacity: 0.8; min-width: inherit; font-size: 0.92rem; }
.sysTop_right .dropdown-menu a { padding-left: 0.8rem; padding-right: 0.8rem; color: rgba(0, 0, 0, 0.6); }

.m_top_bottom { height: 3rem; color: #666666; box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.08); /*下拉菜单偶数行变色*/ }
.m_top_bottom ul { display: none; height: 3rem; padding-left: 0; list-style: none; text-align: left; font-size: 0.92rem; }
.m_top_bottom .open { display: inherit; }
.m_top_bottom li { padding: 0 0.6rem; float: left; display: inline-block; line-height: 3rem; cursor: pointer; }
.m_top_bottom li a { color: #666666; }
.m_top_bottom ul .active > a { color: #8c8a8a; }
.m_top_bottom .btn-default { color: #999; }
.m_top_bottom .dropdown-menu > li > a { color: #999; }
.m_top_bottom .btn-group .dropdown-menu { top: 5px !important; left: -80px !important; min-width: auto; }
.m_top_bottom li .btn-group .dropdown-item { font-size: 0.96rem; line-height: normal; }
.m_top_bottom li .btn-group .dropdown-item:nth-child(even) { background: rgba(204, 204, 204, 0.14); }
.m_top_bottom .m_top_bottom_deropLeft { color: #666; background: none; font-size: 0.93rem; }
.m_top_bottom .m_top_bottom_deropLeft:hover { background: rgba(204, 204, 204, 0.6); }
.m_top_bottom .m_top_bottom_deropRight { padding-left: 0.4rem; padding-right: 0.4rem; color: #666; background: none; }
.m_top_bottom .m_top_bottom_deropRight:hover { background: rgba(204, 204, 204, 0.6); }

.sysMain { margin-top: 0.6rem; }

.sys_ml16rem { margin-left: 16rem; }

.sys_ml3rem { margin-left: 3rem; }

.sysLeft { position: absolute; left: 0; width: 15.5rem; height: 100vh; background: rgba(0, 114, 188, 0.08); border-top: 1px solid #ddd; border-right: 1px solid #ddd; /* border-top-right-radius: 0.4rem;*/ color: #999; font-size: 0.94rem; /*左边航航的头题样式*/ }
.sysLeft .open { display: block; }
.sysLeft .menu_tit { padding-left: 1.8rem; line-height: 3.2rem; color: #999; }
.sysLeft .input-group { width: 94%; margin-left: 6px; }
.sysLeft .m_left_ulin .SelectedA { margin-left: -3rem; padding-left: 3rem; width: 15.5rem; color: white; background: rgba(91, 192, 222, 0.5); }

.m_left_ul { display: none; }
.m_left_ul ul { padding-left: 0; list-style: none; }
.m_left_ul .m_left_ulin { display: none; color: #61b0e9; color: #0072bc; }
.m_left_ul .open { display: block; }
.m_left_ul li { padding-left: 3rem; line-height: 2.2rem; border-bottom: 1px solid #ddd; cursor: pointer; }
.m_left_ul li a { display: block; width: 100%; }
.m_left_ul li:hover { background: rgba(91, 192, 222, 0.5); color: #fff; }

.sysSidebar_hidden { width: 3rem; background: rgba(0, 118, 222, 0.3); transition: all 0.5s ease; }
.sysSidebar_hidden .m_left_ul li { padding-left: 0.1rem; margin: 0.1rem; line-height: normal; color: #fff; text-align: center; transition: all 1.2s ease; }
.sysSidebar_hidden .m_left_ul li:hover { transform: rotate(360deg); }

.sysSidebar_show { display: block; transition: all 0.5s ease; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
.sysSidebar_show #leftSwitch { margin-left: 15.5rem; }

#tab_ul { padding-left: 0; margin-top: 2px; text-decoration: none; list-style-type: none; height: 42px; width: 100%; }

#tab_ul > li { float: left; border-left: 1px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; cursor: pointer; text-overflow: ellipsis; }

.tab-strip { border-radius: 4px; }

.tab-strip li { padding: 0 20px; background: #fff; }

.FrameTab_nav { height: 40px; line-height: 40px; margin-bottom: 0.2em; }

.closeTab { padding: 1px 2px; border-radius: 2px; margin-left: 5px; }

.first { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

.end { border-right: 1px solid #ddd; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.closeTab:hover { background: #2592F8; color: #FFF; cursor: pointer; }

.tab-strip a { text-decoration: none; font-size: 0.92rem; }

.tab-strip .current { background: #d2dff2; }

.tab-strip .current a { color: #fff; }

.tab-strip .current .closeTab:hover { background: #FFF; color: #2592F8; }

a { cursor: pointer; }

.NodeP_Span:hover { color: green; }

.popover-dismiss { background: #999999; border: none; }

.popover-dismiss:hover { background: #b0a7a7; }

.thumbnail { border: none; }

/*右侧边滑出*/
.manage_mobilemenu_bg { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5) 0 0; z-index: 1; }

.manage_mobilemenu { position: fixed; right: 0; top: 0; height: 100%; background: white; border-left: 1px solid #777677; box-sizing: border-box; overflow-y: auto; transform: translate3d(100%, 0px, 0px); transition: all 0.5s cubic-bezier(0.2, 1, 0.2, 1); width: 20rem; z-index: 2; }

.manage_mobilemenu.active { transform: translate3d(0px, 0px, 0px); }

.manage_mobilemenu_close a { display: block; padding-top: 1rem; padding-right: 1rem; color: black; text-align: right; font-size: 1.4rem; }

.manage_mobilemenu_c ul { padding-left: 0; list-style: none; }

.manage_mobilemenu_c li { font-size: 1.12rem; line-height: 2.6rem; text-indent: 1rem; }

.manage_mobilemenu_c li a { display: block; color: #323232; transition: all 0.3s ease-out 0s; }

.manage_mobilemenu_c li a:hover { background: #3b6caa; color: white; }

.manage_mobilemenu_c li.active a { background: #00c0ff; color: white; }

.NodeTree_left_ul { padding-left: 0.5rem; color: #0072bc; }
.NodeTree_left_ul ul { padding-left: 0; }
.NodeTree_left_ul li { line-height: 2.2rem; border-bottom: 1px solid rgba(221, 221, 221, 0.6); list-style: none; }
.NodeTree_left_ul li:hover { background: rgba(97, 176, 233, 0.6); }
.NodeTree_left_ul a { padding-left: 0.5rem; }
.NodeTree_left_ul li li a { padding-left: 1.8rem !important; }
.NodeTree_left_ul li:hover li a:hover { display: block; width: 100%; background: rgba(255, 255, 255, 0.6); }
.NodeTree_left_ul li li .SelectedA { display: block; color: white; background: rgba(91, 192, 222, 0.5); }

.manage_content #OAkeyword { height: 40px; border: 1px solid #ccc; display: inline-block; min-width: 300px; padding-top: 5px; }
.manage_content #Keywords { display: none; }
.manage_content tabinput { border: none; padding-left: 5px; height: 30px; line-height: 30px; }
.manage_content .radius { margin: 2px; margin-top: 20px; height: 24px; line-height: 24px; background: #eee; border: 1px solid #ddd; border-radius: 3px; padding: 3px; }
.manage_content .deltab { font-weight: bolder; color: #0094ff !important; margin-left: 5px; cursor: pointer; }

.m_top { padding-top: 12px; background: #0076de; width: 100%; position: fixed; top: 0; z-index: 1001; }

.m_top_rl a { color: #cccccc; text-decoration: none; }

.m_top_rl a:hover { opacity: 0.9; color: #cccccc; }

.m_top_menu li { float: left; line-height: 3rem; }

.m_top_menu li a { display: block; color: #99ccff; height: 100%; font-size: 1.15em; }

.m_top_menu li a:hover { color: #fff; }

.m_top_menu ul .active a:hover { color: #ccc; }

.m_top_menu ul .active a { background: #fff; }

.mb_nav { margin-top: 55px; }

/*小屏幕导航效果*/
.mb_nav .navbar-header { margin-top: -42px; }

.mb_nav .navbar-default { position: relative; min-height: 0px; background: rgba(255, 255, 255, 0.95); border: none; }

.mb_nav .navbar-default .navbar-nav { width: 100%; height: 100%; }

.mb_nav .navbar-default .navbar-nav li { width: 100%; border-bottom: 1px solid #f8f8f8; }

.mb_nav .navbar-default .navbar-nav li:last-child { border-bottom: none; }

.mb_nav .navbar-default .navbar-nav li a { width: 100%; font-size: 1.1em; color: #333; }

.mb_nav .navbar-default .navbar-nav li a.active { margin-right: -1px; background: #59A1E9; color: #fff; }

.mb_nav .navbar-default .navbar-nav li a:focus { outline: none; }

.mb_nav .navbar-default .sub_nav { display: none; position: absolute; top: 0; left: 25%; right: 0; height: 100%; background: #fff; box-shadow: -2px 0 5px #ddd; }

.mb_nav .navbar-default .sub_nav li a { display: block; padding-left: 15px; height: 2em; line-height: 2em; color: #343434; border-bottom: 1px dashed #eee; }

.mb_nav .navbar-default .sub_nav li a.active { background: #59A1E9; color: #fff; }

.mb_nav .navbar-default .thi_nav { display: none; position: absolute; top: 0; left: 60%; right: 0; height: 100%; background: #fff; box-shadow: -2px 0 5px #eee; }

.mb_nav .navbar-default .thi_nav li:first-child { display: none; }

.mb_nav .navbar-default .thi_nav li { min-height: 2em; line-height: 2em; border-bottom: 1px dotted #eee; }

.mb_nav .navbar-default .thi_nav li a { display: block; padding-left: 5px; color: #454545; }

.mb_nav .navbar-default .thi_nav li a.active { background: #59A1E9; color: #fff; }

/*后台进入动画*/
.newbody { position: absolute; top: 0; width: 100%; height: 100%; z-index: 1200; background-color: #8ce3fe; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ce3fe), to(#305f99)); background-image: -webkit-linear-gradient(top, #8ce3fe, #305f99); background-image: -webkit-gradient(linear, left top, left bottom, from(#8ce3fe), to(#305f99)); background-image: linear-gradient(to bottom, #8ce3fe, #305f99); background-repeat: repeat-x; color: #fff; }
.newbody a { color: #fff; }

.newbody_t { display: flex; }
.newbody_t .ml-auto span { font-size: 0.8rem; }

.newbody_tl { display: flex; margin-top: -2rem; font-family: "ZoomlaICO" !important; }
.newbody_tl a { padding-left: 0.4rem; padding-top: 2.6rem; }
.newbody_tl .logo1 { display: block; float: left; margin-top: 1rem; font-size: 3.6rem; color: #fff; }
.newbody_tl .logo2 { margin-top: 0px; margin-left: -10px; font-size: 5rem; }
.newbody_tl .logo3 { font-size: 1.8rem; margin-top: 0.5rem; margin-left: 0.2rem; }
.newbody_tl .logo4 { font-size: 1.4rem; margin-top: 2.4rem; margin-left: 0.2rem; }
.newbody_tl #newbody_logo2 { margin-top: 2rem; }

.newbody_c { position: absolute; width: 100%; top: 50%; margin-top: -500px; text-align: center; font-size: 20rem; color: #0066cc; }

.newbody_c i { -webkit-animation-name: swing; animation-name: swing; animation-duration: 10s; animation-fill-mode: both; }

.newbody_c1 { position: absolute; width: 100%; top: 40%; margin-top: -122px; text-align: center; font-size: 10em; color: #fff; font-weight: bold; }

.newbody_c1t span { font-weight: 100; }

#wave { position: absolute; bottom: 10rem; width: 100%; height: 20rem; }

.sys_login { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-align: center; -ms-flex-pack: center; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background-color: #f5f5f5; }
.sys_login .form-label-group { position: relative; margin-bottom: 1rem; }
.sys_login .form-label-group > label { position: absolute; top: 0; left: 0; display: block; width: 100%; margin-bottom: 0; line-height: 1.5; color: #495057; border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out; }
.sys_login .form-label-group > i { position: absolute; top: 0.6rem; left: 1rem; font-size: 1.6rem; color: #5BC0DE; }
.sys_login .form-label-group input { padding-left: 2.98rem; height: 2.6rem; }
.sys_login .VCode_img { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; position: absolute; top: 2px; right: 2px; width: 130px; height: 34px; z-index: 1; }
.sys_login > form { min-width: 420px; }

.sys_loginLogo { text-align: center; width: 80%; }

.sys_loginBox { width: 100%; max-width: 420px; padding: 15px; margin: 0 auto; }

.sys_loginLink { text-align: center; }

.sys_login_wave_box { position: absolute; z-index: 1; width: 100vw; left: 0; bottom: 0; background: url(Admin/sys_login_bg.png) repeat-x 0 0; -webkit-animation: 8s linear 0s none infinite sys_login_wave2; -moz-animation: 8s linear 0s none infinite sys_login_wave2; animation: 8s linear 0s none infinite sys_login_wave2; }

.sys_login_wave_embed { height: 20vh; background: url(Admin/sys_login_bg.png) repeat-x 330px 0; -webkit-animation: 10s linear 0s none infinite sys_login_wave1; -moz-animation: 10s linear 0s none infinite sys_login_wave1; animation: 10s linear 0s none infinite sys_login_wave1; }

@keyframes sys_login_wave1 { 0% { background-position: 0 0; }
  100% { background-position: 1600px 0; } }
@keyframes sys_login_wave2 { 0% { background-position: 0 0; }
  100% { background-position: -1600px 0; } }
.sysPage { margin-top: 0.6rem; }

.main_nav { display: flex; animation-name: fadeIn; padding-top: 0.8rem; }
.main_nav > div { margin-top: 5px; padding-left: 5px; padding-right: 5px; height: 10rem; line-height: 10rem; border-left: 5px solid #fafcfe; font-size: 1.18rem; }
.main_nav > div:hover { background: #fff; box-shadow: 2px 6px 14px rgba(0, 114, 188, 0.5); -webkit-transition: all .4s ease; transition: all .4s ease; z-index: 1; }
.main_nav a { display: block; text-align: center; color: #fff; }
.main_nav a i { font-size: 1.98rem; }
.main_nav a:hover { color: #ccc; }

.worktableRow { margin-right: 5px; }
.worktableRow .card { margin-bottom: 0.8rem; padding-right: 0; margin-right: -15px; }
.worktableRow .zlchart { width: 100%; height: 260px; }
.worktableRow .goods, .worktableRow .order { padding-top: 0px; margin-bottom: -3rem; }
.worktableRow .card-body { min-height: 20rem; }
.worktableRow table { padding: 0; }
.worktableRow #showiframe { width: 100%; }
.worktableRow .note textarea { min-height: 15rem; }

.worktable_menu { min-height: 7.2rem !important; }
.worktable_menu ul { padding-left: 0; list-style: none; text-align: center; }
.worktable_menu li { float: left; width: 5rem; }
.worktable_menu li i { width: 100%; font-size: 3rem; }
.worktable_menu li:hover { position: relative; left: 0; bottom: 0.2rem; }
.worktable_menu li:hover a { color: rgba(0, 114, 188, 0.9); }
.worktable_menu a { color: rgba(0, 114, 188, 0.8); }

.popover.right { display: none; width: 230px; left: 100%; top: -75px; margin-top: 0; }

.popover .arrow { top: 27%; }

.Ctitle { text-align: left; position: relative; cursor: pointer; width: 100%; }

#sel_box, .allchk_l, .order_img, .sel_box, .execute_time, .sys_prompt { display: none; }

.popover table tr { height: 23px; }

.sysUsertabs { text-align: center; }
.sysUsertabs .hid_right { position: absolute; display: block; top: 4rem; right: 2.3rem; line-height: 2.4rem; width: 2rem; background: #eee; }
.sysUsertabs .hid_left { position: absolute; display: block; top: 4rem; right: 5px; line-height: 2.4rem; width: 2rem; background: #eee; }

.tab_td_icon { width: 4rem; text-align: center; }

.search_input { width: 150px; max-width: 200px; display: inline; }

.table_tr { text-align: center; font-weight: bold " height=" 26px; }

#cont .pr-0 > div, #tab_con.pr-0 > div { margin-left: -15px; margin-right: 5px; display: flex; flex-wrap: wrap; }

.sys_wx_icon { font-size: 2rem; }

#Type_Rad td { min-width: 80px; padding-left: 2px; }

.modeldesc { color: #808000; }

.mfield_body { display: none; }

.posit_r { position: relative; }

#EGV .popover.bs-popover-bottom, #EGV .popover.bs-popover-left { display: none; }

#EGV .popover.bs-popover-bottom .arrow { left: 48%; top: -9px; }

#EGV .popover.bs-popover-left .arrow { top: 50%; }

.opion_header { background: #ddd; padding: 4px; padding-left: 15px; margin-top: 10px; margin-bottom: 6px; width: 100%; border-radius: 4px; line-height: 35px; }

.Imp_div { padding: 5px; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 10px; display: none; }

.collocation_card_l:nth-child(1) { width: 50%; float: left; margin-left: 1.2rem; }

.collocation_card_r:nth-child(2) { width: 45%; margin-left: 1.2rem; }

.allchk_l, #AllID_Chk { display: none; }

.img_3rem { width: 3rem; height: 3rem; }

.sys_prompt .popover-header a { font-size: .8rem; }

.pro_btn { border-radius: 11px; padding: 0 10px; color: #ededed; border: 0px; }

.pro_btn:hover { color: #ededed; }

.pro_btn:focus { outline: none; color: #ededed; }

.grouppro_btn { background-color: #c9302c; }

.suitpro_btn { background-color: #5bc0de; }

.popClose { float: right; color: #0E529D; }

.popover { max-width: 500px; min-width: 150px; }

.popover-content { height: 400px; overflow-y: auto; }

.codetr .popover { width: 180px; }

.codetr .popover-content { height: 170px; }

.divline { padding: 5px; border: 1px solid #dddddd; border-radius: 4px; margin-bottom: 10px; display: none; }

.divline li { float: left; margin-left: 8px; }

.Ctitle { text-align: left; position: relative; cursor: pointer; width: 100%; height: 100%; }

.Ctitle table tr { height: 23px; }

.Ctitle .popover { max-width: 250px; }

#store_list { position: absolute; background-color: #f5f5f5; padding: 5px 10px; border-radius: 4px; width: 100%; border: 1px solid #ddd; }

.shop_operation #help { position: static; }

.deploy_icon { cursor: pointer; margin-left: 5px; }

.m_sel_box > div { display: inline-block; }

#ordernav li.active { font-weight: bolder; }

.table { margin-bottom: 0px; }

.rd_red_l { color: red; font-size: 1.5em; }

.orderlist td, .orderlist th { font-size: 14px; font-family: 'Microsoft YaHei'; }

.orderlist .order-item { border: 1px solid #ddd; border-top: none; font-size: 14px; font-family: 'Microsoft YaHei'; }

.orderlist .gray9 { color: #999; }

.orderlist .orderinfo { line-height: 20px; }

.orderlist .opinfo { line-height: 20px; text-align: right; padding-right: 15px; color: gray; }

.orderlist .tips_div { background-color: #f5f5f5; font-weight: normal; }

.orderlist .tips_div span { margin-right: 5px; font-weight: normal; }

.orderlist .top_div { line-height: 30px; background-color: #f5f5f5; margin-top: 10px; }

.orderlist .prolist td { line-height: 70px; border-left: 1px solid #ddd; height: 70px; text-align: center; }

.orderlist .prolist td:last-child { border-right: none; }

.orderlist .proname div { padding: 5px; }

.orderlist .goodservice { text-align: right; padding-right: 20px; }

.orderlist .prolist .rowtd { line-height: 20px; padding-top: 30px; }

.orderlist .order_navs { position: relative; }

.orderlist .search_div { position: absolute; right: 0px; top: 3px; }

.orderlist .ordertime { color: #999; }

.orderlist .order_bspan { font-size: 1em; }

.orderlist .idcmessage { color: #999; line-height: normal; margin: 0; }

.orderlist .idm_tr td { line-height: normal; height: auto; text-align: left; }

.foot_page { border: 1px solid #ddd; padding: 5px; border-top: none; }

#sel_box { display: none; position: absolute; top: 36px; left: 0; padding-top: 5px; padding-left: 40px; padding-right: 40px; width: 100%; height: 44px; background: #f1f1f1; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); z-index: 99; }

#sel_box .input-group { border-radius: 0; }

#sel_box input.form-control { border-radius: 0; border-color: #ccc; }

.exp_wrap { width: 400px; font-size: 12px; }

.exp_wrap li { padding-left: 25px; border-bottom: 1px solid #ddd; position: relative; }

.exp_wrap .item { padding: 5px; padding-left: 20px; border-left: 1px dashed #ddd; }

.exp_wrap li .circle { float: left; width: 11px; height: 11px; border-radius: 50%; background-color: #b3ccee; display: inline-block; overflow: hidden; position: relative; top: 16px; left: -5px; }

.exp_wrap li.active .item { color: #ff6a00; }

.exp_wrap li.active .circle { background-color: #ff6a00; }

.popover { max-width: none; min-width: 150px; }

.opdiv { position: fixed; bottom: 0px; padding: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.4); width: 100%; border-radius: 4px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); margin-bottom: 20px; }

.sys_region { width: inherit; }

@media (max-width: 768px) { .visible-sm { display: block; }
  .sys_login > form { min-width: auto; }
  .w12rem_lg { width: auto; }
  .setorderstatus .text_md { width: 12.5rem; max-width: 12.5rem; }
  .sys_loginYun1, .sys_loginYun2 { display: none; }
  .newbody_t { display: flex; }
  .newbody_t .ml-auto span { display: none; }
  .newbody_tl > a { display: none; }
  .newbody_c { padding-top: 38vh; }
  .newbody_c1 { font-size: 3rem; } }
@media (max-height: 650px) { .sys_login_wave_box { display: none; } }
/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */

/*# sourceMappingURL=v4style.css.map */
