//CSS预编译文件基于Sass语法
//这是Zoomla!逐浪CMS团队优化的Sass模板，我们为你预置了逐浪字库官方团队的高品质webFont之CDN库，你可完全采用中文定义写作，如下面写法都是合格
//$中国变量之一:12px;
//$中国人民中华人民共和国变量之二:#ff0;
//.a1{width:$中国变量之一 ;}
//.a2{background: $中国人民中华人民共和国变量之二;}
//建议CSS注释写在代码段的起始处以使阅读更加流畅

/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
//逐浪官方混合库取消下方一行注释 方法可见https://code.z01.com/Sass/mixin.html

@import "zoomlaCMS";
@import "V4user_patch.css";
@import url("//code.z01.com/Zfont.css");
@import url("/dist/css/ZLico.css");

//全局定义
a:hover{text-decoration: none;}
.w_20rem{width: 20rem;display:inline-flex;}
.max_width1100{max-width: 1100px;}
.max_height30rem{max-height: 30rem;}
.w_10rem{width: 10rem !important;}
//bootstrap4的默认定义


//登录页面
.u_login{padding: 1rem;margin-top:12vh; margin-bottom: 2rem;background:rgba(255,255,255,.6) ;border: 1px solid #ccc;color: #ccc;
h1 {width: 100%;line-height: 3rem;text-align: center; font-size: 1.38rem;color:rgba(14,32,38,1.00);}
.btn{@include 清除四边圆角;}
.qq_icon{color:#3399cc;}
.weixin_icon{color:#339933;}
.xl_icon{color:#cc3333;}
ul{@include myul; margin-bottom: 0;}
li {position: relative;margin-top: .625rem;}
li i {position: absolute;top: .75rem;left: .93rem;font-size: 1.5em;}
li input.form_inputs{padding-left: 2.5rem; border-radius: .125rem; height: 2.82rem;}
.u_login_chpw{font-size: 0.8rem; color: #ccc;}
.u_login_chpw a{color:rgba(102,102,102,.6);}
#plat_li{height: 1.8rem;line-height: 1.8rem; clear: both;
	abbr{font-size: 0.8rem}
	i{color: #ccc;}
	i:hover{color: #999;}
	}
}
.u_login #plat_li i:hover { color: #999; }
.ficon_mini {height:34px;width:40px;display:inline-block; overflow:hidden; background:url(/App_Themes/User/files-icon-mini.png) no-repeat;}
.u_main_content{margin-bottom: 6rem;}
//其它方式登录
.u_login_type {
.btn,.dropdown-menu{font-size: 0.8rem; color: #ccc;}
.btn{padding-left: 0;}
}
.ficon_mini {height:34px;width:40px;display:inline-block; overflow:hidden; background:url(/App_Themes/User/files-icon-mini.png) no-repeat;}
//登录页背景
.u_login_bg { position: absolute;left: 0;bottom: 0; width: 100%; min-height: 300px;
.u_login_bg_area { position: absolute; width: 0px; height: 0px; border-style: solid; line-height: 0px; bottom: 0px; z-index: -10; }
.u_login_l  { border-width: 590px 0 0 2500px; border-color: transparent transparent transparent #EBEBEB; _border-color: #000000 #000000 #000000 #EBEBEB; right: 30%; }
.u_login_r { border-width: 0 0 570px 1500px; border-color: transparent transparent rgba(0, 161, 192, 0.2) transparent; _border-color: #000 #000 rgba(0, 161, 192, 0.2) #000; right: 0px; }
}

.u_menu{padding-top: 0;padding-bottom: 0;width: 10rem;
#mimenu_btn{position: relative;margin-top: 1rem;margin-left: .6rem;padding-bottom:0.6rem;border-color:rgba(204,204,204,1.00);background: #fff; z-index: 6}
#mimenu_btn span {display: block;width: 20px;height: 6px;border-bottom: 1px solid rgba(204,204,204,1.00);}
}

.u_menu_left {position: fixed;left: 0;top: 0;bottom: 0;padding-top:4rem;width: 0;background:#4d4d4d;box-shadow: 1px 0 3px rgba(0,0,0,0.9);z-index: 3;
ul {display: none;padding-top: 1.25rem;border-top: 1px solid rgba(102,102,102,1.00);@include myul;}
li a {display: block;padding-left: 1.88rem;line-height: 3em;color: #fff;}
li a:hover{background:rgba(51,51,51,1.00);text-decoration: none;}
}

.u_reg_prompt{line-height: 2rem;font-size: .88rem; color: #f00}//注册时提示文字
.u_reg_tex{font-size: .88rem;text-align: right;
a{color: #666;}
}
.u_reg_sub_bot{}
.u_regOK{color: rgba(63,57,57,1.00)}//注册成功
.getPwd_title{text-align: left;}
#hlReg,#uidReg{position: absolute;top: 8px;right: 30px;color: #EB4E62;display: none;}
#uidReg{right: 5px;}
.codeimg {height: 34px;cursor: pointer;}

//搜索框
#key{}

//会员中心部
.u_top{padding-top: 0.8rem;
img{max-width: 14rem;max-height: 5.4rem;}
.navbar-brand{display: none;}
}

.u_top_r{margin-top:1.6rem;
.form-group{position: relative;margin-top: -0.4rem;}
.form-group .btn{position: absolute; top:0;right:0;background:none;  color:#ccc;cursor: pointer;}
ul{@include myul;color: #666;}
li a{display: block;width: 4rem; height: 2rem;line-height: 2rem;background: #ccc;border-radius:2rem;background: #ccc;color: #fff;text-align: center;font-size: 0.8rem;}
li a:hover{background: rgba(204,204,204,.6); }
li{margin-left: 0.5rem;float: left;}
}

//会员主导航
.u_nav{padding-top: 0;padding-bottom: 0; background: #27a9e3; border-bottom: 1px solid #ddd;
.active,li:hover{ margin-top: -0.5rem; padding-left: 1.6rem; padding-right: 1.6rem; height: 3.5rem; line-height: 2.8rem; color: #333; background: linear-gradient(#fff, #ddd); border: 1px solid #eee; border-bottom: none; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.nav-item:hover .nav-link{color:#000;}
li{ padding-left: 1.6rem; padding-right: 1.6rem;margin-right: 0.2rem;line-height:2rem;}
li:hover{cursor: pointer;}
.navbar-nav .nav-link{color: #fff;}
.navbar-brand{color: #fff;}
}

//面包屑导航
ol.breadcrumb{margin-top:0.5rem;}
.u_mysite{padding-left: 0;padding-right: 0;
.breadcrumb{margin-bottom: 0;}
}

//会员头像
.u_face{
img{ width:100px; height:100px; border-radius:50%; box-shadow:0 0 3px 1px rgba(245,245,245,0.5);}
img:hover{ box-shadow:0 0 5px 2px rgba(245,245,245,0.8);}
}

//会员区主功能栏
.u_info{ padding-top:2rem; height:18rem; background:url(/App_Themes/User/user_infobg.jpg) no-repeat; background-size:cover;}
.u_syn{ padding:20px; background:rgba(0,0,0,0.2); border-radius:10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=4,startColorStr=rgba(0,0,0,0.3),endColorStr=rgba(0,0,0,0)); /*IE 6 7 8*/ background: -ms-linear-gradient(left, rgba(0,0,0,0.3),rgba(0,0,0,0)); background:-moz-linear-gradient(left,rgba(0,0,0,0.3),rgba(0,0,0,0));/*火狐*/ background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));/*chrome*/ 
ul{@include myul;margin-bottom: 0.4rem; text-align: left;color:rgba(249,244,244,1.00);}
li{ display: inline-flex; padding-left: 1rem; height: 1rem;line-height:1rem;} 
li i{padding-right: 0.2rem;}
li a{color:rgba(249,244,244,1.00);}
}
.u_syn:before{ content:""; position:absolute; left:-40px; width:0; height:0; border-width:20px; border-style:solid; border-color:rgba(0,0,0,0) rgba(0,0,0,0.3) rgba(0,0,0,0) rgba(0,0,0,0);}



//会员中心导航块
.u_metro{ }
.user_menuBox{padding-left: 5px;padding-right: 5px;margin-top: 1rem;}
.user_menu{padding-top: .2rem; margin:auto;height: 7rem;  border-radius:10px; background:rgba(51,153,204,0.7);}
.user_menu a { display: block; margin: auto; margin-top:0.4rem; width: 86%; height: 6rem; text-align: center; color: #fff; margin-bottom: 10px; border-radius:10px; box-shadow:1px 1px 2px 2px rgba(0,0,0,0.1);}
.user_menu a i{ font-size:4em;}
.user_menu:hover{ position: relative; bottom: 10px; background: #fff; box-shadow: 2px 6px 14px #e2e2e2; -webkit-transition: all .6s ease-in-out; transition: all .6s ease-in-out; z-index: 2; }
.user_menu_sub{ display:none; margin-top:2rem;margin-bottom: 12rem;padding-bottom: 10rem;
ul{@include myul;}
li{ float:left; margin-bottom:20px; width:126px;text-align: center; } 
a:Hover{color: #ccc;}
a{color: #999;}
a i { display:block; margin:auto; margin-bottom:5px; width:50px; height:50px; line-height:50px; font-size:2.2em; background:#ccc; border-radius:50%; color:#fff; } 
a:hover i{color: #EBE5E5;}
}

.u_metro_more {margin-top: 2rem; text-align: center;}
.u_metro_more .btn-block{display: inline-block;width: 20rem;}
.u_sub_box{margin-bottom: 6rem;}

//内容(投稿管理块)
.page_ban{ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=3,startColorStr=rgba(57,62,82,1),endColorStr=rgba(102,173,193,1));
background: -ms-linear-gradient(left, rgba(57,62,82,1), rgba(102,173,193,1));background: -moz-linear-gradient(left,rgba(57,62,82,1),rgba(102,173,193,1));background: -webkit-gradient(linear, 0% 0%, 100% 0%,from(rgba(57,62,82,1)), to(rgba(102,173,193,1)));min-height: 16rem;}
.page_ban .u_ban_l {padding:2rem;
i {font-size:6rem;text-shadow: 0 12px 9px #c4b59d, 0px -10px 1px #fff;color: rgba(255,255,255,0.8);}
}
.u_ban_r,#u_ban{
ul{@include myul;}
.u_user, #u_ban .u_user_sec {display: none;}
.u_user.active, #u_ban .u_user_sec.active {display: block;bottom: 10px;}
li {float: left;width:10%;text-align: center;}
li i:hover {color:rgba(255,255,255,1.00);border: 1px solid rgba(245,245,245,0.8);}
li a {color: #e5e5e5;text-decoration: none;}
li>a>i{display: block;margin: auto;margin-bottom: 5px;width: 5rem;height: 5rem;line-height: 5rem;font-size: 3em;color: rgba(0,0,0,0.3);border: 1px solid rgba(0,0,0,0.1);border-radius: 50%;}
}


.u_ban_r {padding-top: 1.8rem;}
.template .tempthumil {padding: 5px;}
.u_search_box{max-width: 25rem;padding-left: 0.6em;padding-right: 0.6em;    border-radius: 10rem; text-indent: 1rem; font-size: 0.8rem;}
.preview_img_ul{min-height:120px;}

//商城
.u_shop_body{margin-bottom: 6rem;}
.template li {float: left;padding: 5px;width: 180px;height: 240px;text-align: center;}
.template li img {width: 100%;height: 200px;border: 1px solid rgb(238, 238, 238);}
.template .tlp_active {box-shadow: 0 0 3px 1px #5bc0de;background: #fff;}
.img50 {width: 50px;height: 50px;}
.shop_btnbox{text-align: center;
input[type='button']{margin: .4rem .2rem;}
}
.nav_header { margin-bottom: 10px; margin-top: 10px; }


//黄页
.hy_con_box{list-style: none;}
.u_Sapply{
ul{@include myul;}
}


.fd_item { list-style-type: none; padding: 10px; padding-bottom: 10px; margin-bottom: 20px; border-radius: 4px; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 5px 0px, rgba(0, 0, 0, 0.0784314) 0px 2px 10px 0px; }
.fd_item_head { border-bottom: 1px solid #ddd; margin-bottom: 5px; font-size: 14px; font-weight: bolder; }
.fd_item_head .fd_alias { display: inline-block;min-width:120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.fd_item_req { color: #ff0000; margin-left: 10px; }
.fd_item .colled .fa-chevron-circle-right { display: none; }
.fd_item .opened .fa-chevron-circle-down { display: none; }


//订单管理
.orderlist .order_navs {position: relative;}
.orderlist .search_div {position: absolute;right: 0;top: 3px;}

//页脚
.u_footer{ padding:0 0 1rem 1rem; background: #fff; border-top: 1px solid rgba(204,204,204,1.00);}


//教育
.classlist{
padding:.3rem 1.4rem;
img{width:100%;height:100px;}
button{width:100%;}
.class_title{font-size:1.3rem; font-weight:500;}
.class_info{padding:.3rem; color:#999;min-height:1.8rem;}
div{margin-bottom:.3rem;}
}
.emptydata_div{
height:26.8rem;
.tips_div{margin:6.2rem auto;width:25rem; text-align:center;color:#999;}
}
.line2rem{line-height: 2rem;}
.allchk_l{display:none;}
label {font-weight:normal;}
#quelist li{ float:left;}
#quelist li a{ padding-left:10px; padding-right:10px; color:#fff; font-size:1.5em;}
.opitem p {display:inline-block;}
.item {border:1px solid #ddd; padding-left:20px;padding-top:5px;text-align:left;margin-bottom:5px;}
.opitem:hover {color:#ff6a00;}
.submitul li {float:left;margin-left:20px;}
.answerdiv {border:1px dashed #ddd;height:50px;color:green;width:100%;padding:5px;height:80px;overflow:auto;}
.answersp {border-bottom:1px solid #286090;padding:5px 15px 3px 15px; color:green;}
.answersp p {display:inline;}
.answersp p img {padding-bottom:8px;}
#answer_ue_div {width:500px;display:none;position:absolute;top:300px;right:30%; border:1px solid #ddd;box-shadow:0 4px 20px 1px rgba(0,0,0,0.2);background:#ffffff;}
.rightanswer { font-family: 宋体, sans-serif; font-size: 13px; font-weight: bold; letter-spacing: 1px; line-height: 25px; background-color: #FFFFFF; }
.exam_inputbox{max-width: 18rem;}
.u_title h1{font-size:1.4rem;}
.exam_navbox{padding: 1rem;background: #337ab7;}
.question_option{
.quescon { padding: 5px; border: 1px solid #ddd; height: 150px; margin-top: 5px; overflow: auto; }
.optag_div { text-align: center; height: 100px; line-height: 100px; background-color: #ccc; }
.option_div { border: 1px dashed #ddd; padding: 5px; float: left; width: 80%; height: 100px; }
.opts_title { display: inline-block; margin-right: 10px; }
.active_option { border: 1px solid #337ab7; }
.card_title {font-size: 1.4rem}
}
#answer_ue_div { width: 31rem; display: none; position: absolute; top: 9rem; right: 30%; border: 1px solid #ddd; box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2); background: #ffffff; }
.footfix_div { padding: 5px; position: fixed; bottom: 0px; background-color: rgba(255, 255, 255, 0.60); width: 100%;margin-bottom: 6rem; }
.edui-default{width: auto!important;}


.user_mimenu_left li a{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-right: 3px;}




//移动优化
@media (max-width: 768px) {
.u_info{padding-top: 1rem;padding-bottom:1rem; height: auto;}
.u_login{border: none;}
.max_width1100{max-width: inherit;}
//bootstrap4的默认定义
.navbar-brand{display: block;}
.u_nav{padding:0.5rem 1rem;
.navbar-toggler{border-color: #fff !important;}
.active,li:hover{height: auto; line-height: inherit; background: rgba(255,255,255,1.00);border: none;border-radius:0;}
li{border-bottom: 1px solid #ccc;}
}
#u_ban{
li {float: left;width:25%;font-size:0.8rem;}
li i{width: 3.8rem; height: 3.8rem;  line-height: 3.8rem;}
}
.page_ban .u_ban_l{padding-top: 0;padding-bottom: 0;}
.u_ban_r {  padding-top: 0;padding-bottom: 1rem;}
.nav_header{display: inline-block;}
.content_body td{display: inline-block;}


//会员首页
.user_menu_sub li{width: 120px;}
.u_sub_box{margin-bottom: 10rem;}
.u_top_r{margin-top: 0;
.form-group .btn{right: .2rem;}
li a{width: 2.8rem;}
}
.navbar-nav{margin-top: 1rem;

}

//手机下会员应用框架清除边界获得更多空间
#pageflag + .container{padding-left: 0; padding-right: 0; }

.u_syn{padding: 0;background:none;font-size: 0.8rem;
ul{margin-bottom: 0;}
&:before{ opacity: 0;}
li{margin-top: 0.2rem;font-size: .9rem }
}
.u_ban_l{display: none;}
.u_top img {max-width: 12rem;}
.u_search_box{position: relative;margin-top: -2rem;left: -7rem; text-indent:0;}
 .u_footer{position: inherit;}
.u_search_media{
input{width: 2.8rem;}
input:focus{ background: #ccc;width: 60vw;}
i{display: none;}
}
.top_bntbox{position: absolute;right: 0.3rem; margin-top: -2.2rem;}
.page_ban{min-height: inherit;padding: 1rem 0;}
ol.breadcrumb{margin-top:0rem;}

//教育
.uinfo_div{display: block !important;}
#Grade_Radio td{display: inline-block;}
//商城
.u_main_content{padding-bottom:3rem;}

.commodity_listbox table td,#EGV table td,#EGV td,.table_bax td{padding:.3rem;}
.shop_con_nav>a{margin: .3rem;border-radius: 0}
//编辑器移动端适配
#txt_content, #edui1, #edui1_iframeholder，.ueditor{width:18.6rem!important;}
}
/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */