<ion-view cache-view="false">
<ion-header-bar class="bar-calm bar bar-header" align-title="center">
<button class="button icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
<div class="title title-center header-item">{{title}}</div>
</ion-header-bar>

<ion-content style="background:#f5f5f5;">
<div class="waterpay_main">
<div class="weui_cells weui_cells_form">
<div class="weui_cell">
<div class="weui_cell_hd"><label class="weui_label">所在省市</label></div>
<div class="weui_cell_bd weui_cell_primary">
<select class="from-control input-sm" id="sheng_sel" style="float:left; width:50%;">
<option value="">请选择省份</option>
</select>
<select class="from-control input-sm" id="shi_sel" style="float:left; width:50%;">
<option value="">请选择城市</option>
</select>
</div>
</div>

<div class="weui_cell">
<div class="weui_cell_hd"><label class="weui_label">收费单位</label></div>
<div class="weui_cell_bd weui_cell_primary">
<select class="from-control input-sm" id="danwei_sel" style="width:100%;" ng-model="paymod.proid">
<option value="">请选择缴费单位</option>
</select>
</div>
</div>

<div class="weui_cell">
<div class="weui_cell_hd"><label class="weui_label">户号</label></div>
<div class="weui_cell_bd weui_cell_primary">
<input type="text" class="weui_input" placeholder="请填写要缴费的户号" ng-model="paymod.account" />
</div>
</div>
</div>

<div class="weui_btn_area"><button type="button" class="weui_btn weui_btn_warn" ng-click="lifepayfun()">确定缴费</button></div>

<div class="weui_loading_toast" ng-hide="paymod.hide">
<div class="weui_mask_transparent"></div>
<div class="weui_toast">
<div class="weui_loading">
<div class="weui_loading_leaf weui_loading_leaf_0"></div>
<div class="weui_loading_leaf weui_loading_leaf_1"></div>
<div class="weui_loading_leaf weui_loading_leaf_2"></div>
<div class="weui_loading_leaf weui_loading_leaf_3"></div>
<div class="weui_loading_leaf weui_loading_leaf_4"></div>
<div class="weui_loading_leaf weui_loading_leaf_5"></div>
<div class="weui_loading_leaf weui_loading_leaf_6"></div>
<div class="weui_loading_leaf weui_loading_leaf_7"></div>
<div class="weui_loading_leaf weui_loading_leaf_8"></div>
<div class="weui_loading_leaf weui_loading_leaf_9"></div>
<div class="weui_loading_leaf weui_loading_leaf_10"></div>
<div class="weui_loading_leaf weui_loading_leaf_11"></div>
</div>
<p class="weui_toast_content">{{paymod.loadtext}}</p>
</div>
</div>
</div>
</ion-content>
</ion-view>