@using ZoomLa.Model.Extend
@using ZoomLa.BLL.Extend
@model ZoomLa.Model.Extend.M_AD_Info
@{ 

}
<style>
.carousel_wrap_@Model.ID{@Html.Raw(Model.Style)}
</style>
<div class="carousel_wrap_@Model.ID @(Model.ZStatus == 0 ? "d-none" : "")">
@Html.Raw(Model.Html)
</div>