<div id="ubb_list">
    <style type="text/css">
        #ubb_list a{text-decoration:none;}
    </style>
    <a href="javascript:;" onclick="showBootLayout();" title="BootStrap布局">
        <img style="width:16px;height:16px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABsklEQVR4AcSWg5LsQBiF51Xue1zbtm3btr22vYW1bdu2rfScTafGZudUfePJ/6UtASCwb/nTJfuXPfXkqeYhPLAxRHZtT1pLXld4OLD86W7+iwkeMGKC1hQEqA3j4goJWlsia3aIhCcVqBZRoJoKEBEFiMTYjw6seIYja14aZvVLiyWMCnx57AdTMjU5g7bGHkT4pOHstg+sBbRlbh75aXsBKZEiNaZYi8LMGqGoajqa+2wvMD+/oPd3h1Y+R3xkPlRzafdndgKUh+ccoJpX193YCtA7locQglOb37EVCPFIhjy15W22HwML8xyeXHTS4vMjP2TEl2Judh40nW399pkFpmR8dAo3Dv0Qdx3gFjj4O8bbpwuu7PuqxbUD3/D3XSgKMmuEwSfP71fBbAchJcwrFfJ0tvazF3h49j9Uc2zda7YCdEZor4YMBfLSqiDP5MQMDix/ZlMBneeBY+te4f1dL6REF4PjCOTJSa4QZxrSjAxN4Nz2D+wF6JadkVCG6we/22YdeHDmP93zDUK3YT/HOHx/HojF5UIsJhoPeKN0wJvlA94xGfCu2YB3Tge8ew4AEQyI4dT6lRMAAAAASUVORK5CYII=" />
    </a>
    <a href="javascript:addubb('<a href=&quot;&quot;></a>');" title="链接锚"><img src="/App_Themes/Admin/url.gif" alt="链接锚" /></a>
    <a href="javascript:addubb('<div>内容</div>');" title="DIV块"><img src="/App_Themes/Admin/div.gif" alt="DIV块" /></a>
    <a href="javascript:addubb('<span>内容</span>');" title="SPAN块"><img src="/App_Themes/Admin/span.gif" alt="SPAN块" /></a>
    <a href="javascript:addubb('<p>内容</p>');" title="P段落"><img src="/App_Themes/Admin/abspos.gif" alt="P段落" /></a>
    <a href="javascript:addubb('<ol>内容</ol>');" title="有序列表"><img src="/App_Themes/Admin/Aleft.gif" alt="有序列表" /></a>
    <a href="javascript:addubb('<ul>内容</ul>');" title="无序列表"><img src="/App_Themes/Admin/Acenter.gif" alt="无序列表" /></a>
    <a href="javascript:addubb('<img src=&quot;图片路径&quot; alt=&quot;图片描述&quot; />');" title="图片标签"><img src="/App_Themes/Admin/img.gif" alt="图片标签" /></a>
    <a href="javascript:SelPic({type:'ubb'});" style="background: url(/Plugins/Ueditor/themes/default/images/icons.png) -726px -77px;width:20px;height:20px;display:inline-block;position:relative;top:5px;" title="素材选择"></a>
    <a href="javascript:addubb('&amp;nbsp;');" title="无断行空格"><img src="/App_Themes/Admin/kong.gif" alt="无断行空格" /></a>
    <a href="javascript:addubb('<b>内容</b>');" title="简单粗体"><img src="/App_Themes/Admin/bold.gif" alt="简单粗体" /></a>
    <a href="javascript:addubb('<strong>内容</strong>');" title="标准粗体"><img src="/App_Themes/Admin/bold2.gif" alt="标准粗体" /></a>
    <a href="javascript:addubb('<i>内容</i>');" title="斜体"><img src="/App_Themes/Admin/italic.gif" alt="斜体" /></a>
    <a href="javascript:addubb('<u>内容</u>');" title="下划线"><img src="/App_Themes/Admin/xieu.gif" alt="下划线" /></a>
    <a href="javascript:addubb('<br />');" title="换行标识"><img src="/App_Themes/Admin/chars.gif" alt="换行标识" /></a>
    <a href="javascript:addubb('<TABLE><TR>	<TD></TD></TR></TABLE>');" title="换行标识"><img src="/App_Themes/Admin/table.gif" alt="表格" /></a>
    <a href="javascript:addubb('<h1></h1>');" title="标题"><img src="/App_Themes/Admin/h1.gif" alt="标题" /></a>
    <a href="javascript:addubb('<!--  -->');" title="注释"><img src="/App_Themes/Admin/zhu.gif" alt="注释" /></a>
    <a href="javascript:addubb('{Repeate}{/Repeate}');" title="标签内容循环"><img src="/App_Themes/Admin/CodeMode.GIF" alt="标签内容循环" /></a>
    <a href="javascript:addubb('{ZL:jsq}');" title="标签内计数器"><img src="/App_Themes/Admin/calculator.gif" alt="标签内计数器" /></a>
</div>
